@font-face {
    font-family: 'BebasNeue';
    src: url('BebasNeue.eot');
    src: local('☺'), url('BebasNeue.woff') format('woff'), url('BebasNeue.ttf') format('truetype'), url('BebasNeue.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}