﻿@inject IJsonHelper Json;
@{
    ViewBag.Title = "AddCheckRule";
}
@{
    if (TempData["SuccessMessage"] != null)
    {
        <div id="message" class="alert alert-success" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }
    if (TempData["ErrorMessage"] != null)
    {
        <div id="message" class="alert alert-danger" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }
}

@section Currentpagelink
{

    <li><a href="javascript:void(0)">Məlumat</a></li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li>
        @Html.ActionLink("Yoxlamalar", "CheckRules", "Info")
    </li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li>
        @{
            string id = "";
            if (Context.Request.QueryString.Value.Length > 0)
            {
                id = Context.Request.Query["id"];
                @Html.ActionLink("Yoxlama əlavə et/dəyişdir", "AddCheckRule", "Info", new { id = id })
            }
            else
            {
                @Html.ActionLink("Yoxlama əlavə et/dəyişdir", "AddCheckRule", "Info")
            }
        }
    </li>
}
<div class="col-md-12 esahs-container-padd">
    <table style="width: 100%">
        <tbody>
            <tr>
                <td>
                    <table style="margin-left:10px">
                        <tbody>
                            <tr>
                                <td>
                                    <div id="Details">
                                        @using (Html.BeginForm("AddOrUpdateFormula", "Info", new { id = Context.Request.Query["id"] }, FormMethod.Post))
                                        {
                                            <fieldset>
                                                <table>
                                                    <tbody>
                                                        <tr id="FormulaTextId">
                                                            <td class="pull-left">
                                                                <fieldset id="pnlFormulaAdd">
                                                                    <div>
                                                                        <table>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td valign="top">
                                                                                        Koordinat:
                                                                                    </td>
                                                                                    <td>
                                                                                        <div frame="border" style="border-style: solid;border-width: 1px;border-color: #ccc">
                                                                                            <table frame="border" style="border-style: solid;border-width: 10px;border-color: #f8f8f8">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td>
                                                                                                            Hesabat:
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @Html.DropDownList("reportFileType", (List<SelectListItem>)ViewBag.ReportFileTypes, new { @class = "form-control select2" })
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td>
                                                                                                            Vərəq:
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @Html.DropDownList("reportSheet", (List<SelectListItem>)ViewBag.ReportSheets, new { @class = "form-control select2" })
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td>
                                                                                                            <span id="lblColumns">Sütun:</span>
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            <select name="reportColumn" id="reportColumn" class="form-control" style="width:190px" multiple="multiple">
                                                                                                            </select>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td>
                                                                                                            <span id="lblRows">Sətir:</span>
                                                                                                        </td>
                                                                                                        <td class="row">
                                                                                                            <div class="pull-left">
                                                                                                                <select name="CellsRowId" id="CellsRowId" class="form-control" style="width:190px" multiple="multiple">
                                                                                                                </select>
                                                                                                            </div>

                                                                                                        </td>

                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td>
                                                                                                            <span id="prevMonth">Ötən ay:</span>
                                                                                                        </td>
                                                                                                        <td class="row">
                                                                                                            <div class="pull-left" style="padding-top:8px">
                                                                                                                <input type="checkbox" id="chkPrevMonth" style="transform: scale(1.5);margin:3px" />
                                                                                                            </div>
                                                                                                            <div id="tdPrevMonth" class="pull-left" style="padding-left: 20px">
                                                                                                                <select name="isPrevMonth" id="isPrevMonth" class="form-control" style="width:40px;display:none">
                                                                                                                    <option value="0">0</option>
                                                                                                                    <option value="1">1</option>
                                                                                                                    <option value="2">2</option>
                                                                                                                    <option value="3">3</option>
                                                                                                                    <option value="4">4</option>
                                                                                                                    <option value="5">5</option>
                                                                                                                    <option value="6">6</option>
                                                                                                                    <option value="7">7</option>
                                                                                                                    <option value="8">8</option>
                                                                                                                    <option value="9">9</option>
                                                                                                                    <option value="10">10</option>
                                                                                                                    <option value="11">11</option>
                                                                                                                    <option value="12">12</option>
                                                                                                                </select>
                                                                                                            </div>
                                                                                                            <div class="pull-right">
                                                                                                                <input type="button" value="Əlavə et" onclick="AddFormula()" id="btnAddFormula" class="btn btn-primary pull-left">
                                                                                                            </div>
                                                                                                        </td>
                                                                                                    </tr>

                                                                                                </tbody>
                                                                                            </table>
                                                                                        </div>
                                                                                    </td>
                                                                                    <td>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td valign="top">
                                                                                        Əməliyyat:
                                                                                    </td>
                                                                                    <td>
                                                                                        @Html.DropDownList("XlRuleOperators", (SelectList)ViewBag.XlRuleOperators, new { @class = "form-control", @style = "width:80px" })
                                                                                        <input type="button" value="Əlavə et" onclick="AddOperator()" id="btnOpAdd" class="btn btn-primary">
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td valign="top">
                                                                                        Ədəd:
                                                                                    </td>
                                                                                    <td>
                                                                                        <input type="text" id="txtNumbers" class="form-control" style="width:80px;">
                                                                                        <input type="button" value="Əlavə et" onclick="AddNumber()" id="btnNumAdd" class="btn btn-primary">
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <div id="divLblGroupName" style="padding-top:5px;padding-bottom:5px">
                                                                                            <span id="lblGroupNames">Qruplama:</span>
                                                                                        </div>
                                                                                    </td>
                                                                                    <td>
                                                                                        <div class="pull-left" id="divGroupNames" style="padding-top:5px;padding-bottom:5px">
                                                                                            @{
                                                                                                var groupName = ViewBag.GroupName;
                                                                                                <select name="GroupName" id="groupName" class="form-control select2" style="width:280px;">
                                                                                                    <!option value="0" @(groupName == "0" || string.IsNullOrEmpty(groupName) ? "selected" : "" )>Siyahıdan seçin</!option>
                                                                                                    <!option value="row_code" @(groupName == "row_code" ? "selected" : "" )>Bütün sətirlər üzrə</!option>
                                                                                                    <!option value="col_code" @(groupName == "col_code" ? "selected" : "" )>Bütün sütunlar üzrə</!option>
                                                                                                    <!option value="col_code,row_code" @(groupName == "col_code,row_code" ? "selected" : "" )>Bütün sətir və sütunlar üzrə</!option>
                                                                                                </select>
                                                                                            }
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td valign="top">
                                                                                        Status:
                                                                                    </td>
                                                                                    <td>
                                                                                        @{
                                                                                            var status = ViewBag.Status;
                                                                                            <select name="Status" id="lstStatus" class="form-control" style="width:80px;">
                                                                                                <!option value="1" @(status == 1 ? "selected" : "" )>Aktiv</!option>
                                                                                                <!option value="0" @(status == 0 ? "selected" : "" )>Passiv</!option>
                                                                                            </select>
                                                                                        }
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td valign="top">
                                                                                        Yoxlamanın adı:
                                                                                    </td>
                                                                                    <td>
                                                                                        <textarea name="FormulaText" class="form-control" rows="2" cols="20" id="txtFormulaText" style="height:61px;width:282px;">@ViewBag.FormulaText</textarea>
                                                                                    </td>
                                                                                <tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <br>
                                                                        <input type="submit" value="Yadda saxla" id="btnSave" class="btn btn-primary">
                                                                        <br>
                                                                    </div>
                                                                </fieldset>
                                                            </td>
                                                            <td class="pull-right" style="padding-left:40px">
                                                                <div>
                                                                    <div class="row" id="rbbtntxtarea">
                                                                        <div>
                                                                            <textarea class="form-control" rows="2" cols="20" id="Formula_Text" name="FormulaCodeForView" style="height:140px;width:440px;">@ViewBag.FormulaCodeForView</textarea>
                                                                            <input id="hidden_Formula_Text" type="hidden" name="FormulaCode" value="@ViewBag.FormulaCode" />
                                                                        </div>
                                                                        <div class="row" style="padding:15px">
                                                                            <input type="button" value="Sil" onclick="DeleteFormula()" id="btnDelete" class="btn btn-primary pull-left" style="margin-right:5px">
                                                                            <div>
                                                                                Yuvarlaqlaşdırma dərəcəsi:
                                                                                <input type="checkbox" id="chkRoundSize" style="transform: scale(1.5);display: inline-block" />
                                                                                <div style="display: inline-block">
                                                                                    @{
                                                                                        var roundSize = ViewBag.RoundSize;
                                                                                        <select name="RoundSize" id="RoundSize" class="form-control" style="width: 40px;display:none">
                                                                                            <!option value="0" @(roundSize == "0" ? "selected" : "" )>0</!option>
                                                                                            <!option value="1" @(roundSize == "1" ? "selected" : "" )>1</!option>
                                                                                            <!option value="2" @(roundSize == "2" ? "selected" : "" )>2</!option>
                                                                                            <!option value="3" @(roundSize == "3" ? "selected" : "" )>3</!option>
                                                                                            <!option value="4" @(roundSize == "4" ? "selected" : "" )>4</!option>
                                                                                            <!option value="5" @(roundSize == "5" ? "selected" : "" )>5</!option>
                                                                                        </select>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </fieldset>
                                        }
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>


@section scripts{
    <link href="~/cbar/css/bootstrap-multiselect.css" rel="stylesheet" />
    <script src="~/cbar/Scripts/bootstrap-multiselect.js"></script>
    <script>
    var reportFileTypeId;
var reportSheetId;
var reportFileTypeText;
var reportSheetText;
var reportColumnId="";
var reportRowText="";
var reportRowId="";
var FormulaCode = "";
var FormulaCode_hidden = "";
        var partIndex = 0;
        var prevMonthInFormula = "";
        var selectedText = "";
$(document).ready(function() {
    $('#CellsRowId').multiselect({
        includeSelectAllOption: true,
        nonSelectedText: "Siyahıdan seçin",
        nSelectedText: " sətir seçilib",
        selectAllText: "Bütün sətirlər seçilsin",
        allSelectedText: "Bütün sətirlər seçilib",
        enableFiltering: true,
        maxHeight: 250,
        buttonWidth:190,
        filterPlaceholder:"Axtar"
    });
    $('#reportColumn').multiselect({
        includeSelectAllOption: true,
        nonSelectedText: "Siyahıdan seçin",
        nSelectedText: " sütun seçilib",
        selectAllText: "Bütün sütunlar seçilsin",
        allSelectedText: "Bütün sütunlar seçilib",
        enableFiltering: true,
        maxHeight: 250,
        buttonWidth: 190,
        filterPlaceholder: "Axtar"
    });
    FormulaCode = $('#Formula_Text').val();
    FormulaCode_hidden = $('#hidden_Formula_Text').val();
    $("#CellsRowId").keyup(function() {
        var number = $("#CellsRowId").val();
        if (number != "") {
            $("#btnNumAdd").prop('disabled', false);
        } else {
            $("#btnNumAdd").prop('disabled', true);
            GetXlGroups();
        }
    });
    var prevMonth;
    $("#chkPrevMonth").click(function() {
        if (!$("#chkPrevMonth").is(':checked')) {
            $("#isPrevMonth").val('0');
            prevMonthInFormula = "";
        }
        else {
            $("#isPrevMonth").val('1');
        }
        $("#isPrevMonth").toggle();
    });
    var roundSize = @Html.Raw(Json.Serialize(@ViewBag.RoundSize));
    $("#chkRoundSize").click(function () {
        if (!$("#chkRoundSize").is(':checked')) {
            $("#RoundSize").val("");
            $("#RoundSize").hide();
        }
        else {
            $("#RoundSize").val("0");
            $("#RoundSize").show();
        }
    });
    if (!$("#chkRoundSize").is(':checked')) {
        $("#RoundSize").val("");
        $("#RoundSize").hide();
    }
    else {
        $("#RoundSize").val("0");
        $("#RoundSize").show();
    }
    if (roundSize == "") {
        $("#chkRoundSize").prop('checked', false);
        $("#RoundSize").hide();
    }
    else {
        $("#chkRoundSize").prop('checked', true);
        $("#RoundSize").show();
        $("#RoundSize").val(roundSize);
    }

});
const text = document.getElementById('Formula_Text');
var startIndex = 0;
var endIndex = 0;
var code_selectedText = "";
var splittedFormula = @Html.Raw(Json.Serialize(@ViewBag.SplittedFormula));
var splittedFormulaCode = @Html.Raw(Json.Serialize(@ViewBag.SplittedFormulaCode));
var formulaDictionary = new Array();
var formulaCodeDictionary = new Array();
var splitOperators = @Html.Raw(Json.Serialize(@ViewBag.SplitOperators));
var isEdit = '@ViewBag.IsEdit';
        var reportSheet = $('#reportSheet');
        var reportColumn = $('#reportColumn');
        var reportRow = $('#CellsRowId');
        var columnIds="";
        var rowIds="";
        function GetReportSheets(reportFileTypeId) {
        var urlReportSheets = '@Url.Action("GetReportSheets", "Info")';
        reportFileTypeText = $('#reportFileType :selected').text();
        $.getJSON(urlReportSheets, {
            id: reportFileTypeId
        }, function(response) {
            reportSheet.empty();
            reportSheet.append($('<option></option>').text("Siyahıdan seçin").val("0"));
            $.each(response, function(index, item) {
                reportSheet.append($('<option></option>').text(item.text).val(item.value));
            });
        });
    }
        function GetReportColumns(reportSheetId) {
            var columnArray = [];
            var urlReportColumns = '@Url.Action("GetReportCols", "Info")';
            reportSheetText = $('#reportSheet :selected').text();
        $.getJSON(urlReportColumns, {
            id: reportSheetId
        }, function(response) {
            reportColumn.empty();
            $.each(response, function(index, item) {
                columnArray.push({ label: item.text, value: item.value })
            });
                $("#reportColumn").multiselect('dataprovider', columnArray);
                if (columnIds.length>0) {
                    $("#reportColumn").multiselect('select', columnIds);;
                }
        });
        }
        function GetReportRows(reportSheetId) {
            var rowArray = [];
            var urlReportRows = '@Url.Action("GetReportRows", "Info")';
            reportSheetText = $('#reportSheet :selected').text();
        $.getJSON(urlReportRows, {
            id: reportSheetId
        }, function(response) {
            reportRow.empty();
            $.each(response, function(index, item) {
                rowArray.push({ label: item.text, value: item.value })
            });
                $("#CellsRowId").multiselect('dataprovider', rowArray);
                if (rowIds.length>0) {
                    $("#CellsRowId").multiselect('select', rowIds);
                }
        });
    }

        function GetDataBySelectedReport(text) {
            columnIds = "";
            rowIds = "";
        var ReportFileTypeSelect2 = document.getElementsByClassName("select2 select2-container select2-container--default");
        var ReportSheetSelect2 = document.getElementsByClassName("select2 select2-container select2-container--default");
        var urlGetDataBySelectedReport = '@Url.Action("GetDataBySelectedReport", "Info")';
        $.getJSON(urlGetDataBySelectedReport, {
            reportFormula: encodeURIComponent(text)
        }, function (resp) {
                $.call(resp, function (index, item) {
                    $("#reportFileType").val([resp.reportFileTypeId, resp.reportFileTypeName]).select2().trigger("change"),
                        ReportFileTypeSelect2[0].className = "select2 select2-container select2-container--bootstrap"
                });
                $.get(resp, function (index, item) {
                    $("#reportSheet").val([resp.xlsSheetId, resp.xlsSheetName]).select2().trigger("change"),
                        ReportSheetSelect2[0].className = "select2 select2-container select2-container--bootstrap"
                });
                $.call(resp, function (index, item) {
                    columnIds = resp.xlsColumns.includes(',') ? resp.xlsColumnIds.split(',') : resp.xlsColumnIds,
                    $("#reportColumn").multiselect('select', columnIds)
                });
                $.call(resp, function (index, item) {
                    rowIds = resp.xlsRows.includes(',') ? resp.xlsRows.split(',') : resp.xlsRows,
                    $("#CellsRowId").multiselect('select', rowIds)
                });
                $.call(resp, function (index, item) {
                    resp.previousMonth != 0 ? ($("#chkPrevMonth").prop('checked', true), $("#isPrevMonth").show(), $("#isPrevMonth").val(resp.previousMonth)) : ($("#chkPrevMonth").prop('checked', false), $("#isPrevMonth").hide(), $("#isPrevMonth").val(resp.previousMonth))
                });
        });
    }
        $("#reportFileType").change(function () {
            reportFileTypeId = $('#reportFileType').val();
            GetReportSheets(reportFileTypeId);
        });
        $("#reportSheet").change(function () {
            reportSheetId = $('#reportSheet').val();
                GetReportColumns(reportSheetId);
                GetReportRows(reportSheetId);
        });
function GetSelectedText(formulaDictionary) {
    if (FormulaCode != null) {

        var cursorPosition = text.selectionStart;

        if (formulaDictionary.length == 0) {
            for (var i in splittedFormula) {
                formulaDictionary.push({
                    key: i,
                    value: splittedFormula[i]
                });
            }
            for (var i in splittedFormulaCode) {
                formulaCodeDictionary.push({
                    key: i,
                    value: splittedFormulaCode[i]
                });
            }
        }
        for (var i = 0; i < formulaDictionary.length; i++) {
            var indexes = formulaDictionary[i].key.split(",");
            var sIndex = indexes[0].match(/\d+/)[0];
            var eIndex = indexes[1].match(/\d+/)[0];
            if (sIndex <= cursorPosition && cursorPosition <= eIndex) {
                startIndex = sIndex;
                endIndex = parseInt(eIndex) + 1;
                selectedText = formulaDictionary[i].value;
                code_selectedText = formulaCodeDictionary[i].value;
                break;
            }
        }
        text.focus();
        text.value = text.value.trim();
        if ($('#Formula_Text').val().charAt(cursorPosition) == " " || $('#Formula_Text').val().charAt(cursorPosition) == "") {
            startIndex = cursorPosition;
            endIndex = cursorPosition;
            selectedText = "";
            code_selectedText = formulaCodeDictionary[i].value;
        }
        text.setSelectionRange(startIndex, endIndex);
        return formulaDictionary;
    }
}
        var isClickedFormula = false;
$('#Formula_Text').click(function(value) {
    isClickedFormula = true;
    var formulaValue = $('#Formula_Text').val();
    var hidden_formulaValue = $('#hidden_Formula_Text').val();
    $('#Formula_Text').val(formulaValue.trim());
    $('#Formula_Text').text(formulaValue.trim());
    $('#hidden_Formula_Text').val(hidden_formulaValue.trim());
    $('#hidden_Formula_Text').text(hidden_formulaValue.trim());
    GetSelectedText(formulaDictionary);
    GetDataBySelectedReport(code_selectedText);
});

function AddFormula() {
    var cursorPosition = $('#Formula_Text').prop('selectionStart');
    if (!isClickedFormula) {
        cursorPosition = $('#Formula_Text').val().length;
    }
    var txtBefore = $('#Formula_Text').val().substring(0, cursorPosition);
    var txtAfter = $('#Formula_Text').val().substring(cursorPosition, $('#Formula_Text').val().length);
    var code_txtBefore = "";
    var code_txtAfter = "";
    $("#isPrevMonth").hide();
        prevMonthInFormula = "{" + $("#isPrevMonth").val() + "}";
    reportColumnText = "";
    reportColumnId = "";
    reportRowText = "";
    reportRowId = "";
    var selectedColumnsText = $("#reportColumn :selected").map(function(i, el) {
        return $(el).text();
    }).get();
    var selectedColumnsId = $("#reportColumn :selected").map(function (i, el) {
        return $(el).val();
    }).get();
    if (selectedColumnsText.length > 0) {
        for (var i = 0; i < selectedColumnsText.length; i++) {
            reportColumnText = reportColumnText + selectedColumnsText[i] + ",";
            reportColumnId = reportColumnId + selectedColumnsId[i] + ",";
        }
        reportColumnText = "[" + reportColumnText.substring(0, reportColumnText.lastIndexOf(',')) + "]";
        reportColumnId = "[" + reportColumnId.substring(0, reportColumnId.lastIndexOf(',')) + "]";
    }
    var cellsRow;
    if ($('#CellsRowId').val() != 0) {
        cellsRow = $('#CellsRowId :selected').text();
    } else {
        cellsRow = 0;
    }
    var selectedRowsText = $("#CellsRowId :selected").map(function (i, el) {
        return $(el).text();
    }).get();
    var selectedRowsId = $("#CellsRowId :selected").map(function (i, el) {
        return $(el).val();
    }).get();
    if (selectedRowsText.length > 0) {
        for (var i = 0; i < selectedRowsText.length; i++) {
            reportRowText = reportRowText + selectedRowsText[i] + ",";
            reportRowId = reportRowId + selectedRowsId[i] + ",";
        }
        reportRowText = reportRowText.substring(0, reportRowText.lastIndexOf(','));
        reportRowId = reportRowId.substring(0, reportRowId.lastIndexOf(','));
    }
    var report = (reportSheetText + "$" + reportColumnText + reportRowText).trim() + prevMonthInFormula;
    var hidden_report = (reportSheetText.replace(/\-/g, '_') + "{" + reportSheetId + "}" + '$' + reportColumnId + '!' + reportRowText + '(' + $("#isPrevMonth").val() + ')').trim();
    var formulaDictionaryArrayLength = formulaDictionary.length;
    var last_code_eIndex = 0;
    if (formulaDictionary.length != 0 && cursorPosition != $('#Formula_Text').val().length) {
        for (var i = 0; i < formulaDictionary.length; i++) {
            var indexes = formulaDictionary[i].key.split(',');
            var code_indexes = formulaCodeDictionary[i].key.split(',');
            var value_index = formulaDictionary[i].value.split('~')[0];
            var code_value = formulaCodeDictionary[i].value.split('~')[1];
            var code_valueIndex = formulaCodeDictionary[i].value.split('~')[0];
            var code_reportIndex;
            var code_operatorIndex;
            var result = (isOperator) => code_value == isOperator;
            if (splitOperators.some(result)) {
                code_operatorIndex = code_valueIndex;
                code_valueIndex = code_operatorIndex;
            } else {
                code_reportIndex = code_valueIndex;
                code_valueIndex = code_reportIndex;
            }
            var sIndex = parseInt(indexes[0].match(/\d+/)[0]);
            var eIndex = parseInt(indexes[1].match(/\d+/)[0]) + report.length + 1;
            var code_sIndex = parseInt(code_indexes[0].match(/\d+/)[0]);
            var code_eIndex = parseInt(code_indexes[1].match(/\d+/)[0]);

            if (sIndex < cursorPosition) {
                last_code_eIndex = parseInt(code_eIndex) + 1;
                continue;
            }
            if (sIndex > cursorPosition && formulaDictionaryArrayLength == formulaDictionary.length) {
                formulaDictionary.splice(i, 0, {
                    key: "\"" + cursorPosition + ", " + (cursorPosition + report.length) + "\"",
                    value: value_index + "~" + report
                });
                formulaCodeDictionary.splice(i, 0, {
                    key: "\"" + (last_code_eIndex + 1) + ", " + (last_code_eIndex + hidden_report.length) + "\"",
                    value: code_valueIndex + "~" + hidden_report
                });
                var hiddenFormulaValue = $('#hidden_Formula_Text').val();
                var hiddenFormulaLength = hiddenFormulaValue.length;
                code_txtBefore = hiddenFormulaValue.substring(0, last_code_eIndex);
                code_txtAfter = hiddenFormulaValue.substring(last_code_eIndex, hiddenFormulaLength);
                continue;
            }
            value_index++;
            code_valueIndex++;
            sIndex = sIndex + report.length + 1;
            code_sIndex = code_sIndex + hidden_report.length + 1;
            code_eIndex = code_eIndex + hidden_report.length + 1;
            var key = "\"" + sIndex + ", " + eIndex + "\"";
            var code_key = "\"" + code_sIndex + ", " + code_eIndex + "\"";
            var code_value = code_valueIndex + "~" + formulaCodeDictionary[i].value.split('~')[1];
            formulaDictionary[i].key = key;
            formulaCodeDictionary[i].key = code_key;
            formulaCodeDictionary[i].value = code_value;
        }
    } else {
        var sIndex = cursorPosition == 0 ? cursorPosition : cursorPosition + 1;
        var eIndex = sIndex + (report.length - 1);
        var code_sIndex = sIndex == 0 ? sIndex : $('#hidden_Formula_Text').val().length + 1;
        var code_eIndex = code_sIndex + (hidden_report.length - 1);
        var last_code_eIndex = formulaCodeDictionary.length != 0 ? parseInt(formulaCodeDictionary[formulaCodeDictionary.length - 1].key.split(',')[1].match(/\d+/)[0]) + 1 : 0;
        var code_valueIndex = formulaDictionary.length;
        formulaDictionary.push({
            key: "\"" + sIndex + ", " + eIndex + "\"",
            value: code_valueIndex + "~" + report
        });
        formulaCodeDictionary.push({
            key: "\"" + code_sIndex + ", " + code_eIndex + "\"",
            value: code_valueIndex + "~" + hidden_report
        });
        code_txtBefore = $('#hidden_Formula_Text').val().substring(0, last_code_eIndex);
    }
    $('#hidden_Formula_Text').val(function(index, val) {
        if (isEdit == "0") {
            hidden_report = val + (cursorPosition == 0 ? "" : " ") + partIndex + "~" + hidden_report;
            partIndex++;
        } else {
            if (cursorPosition == 0) {
                hidden_report = hidden_report + " " + code_txtAfter;
            } else {
                hidden_report = code_txtBefore + " " + hidden_report + code_txtAfter;
            }
            return hidden_report;
        }
    });

    $('#Formula_Text').val(function(index, val) {
        if (isEdit == "0") {
            report = val + (cursorPosition==0? "" : " ") + report;
        } else {
            if (cursorPosition == 0) {
                report = report + txtAfter;
            } else {
                report = txtBefore + " " + report + txtAfter;
            }
        }
        return report;
    });
    FormulaCode = $('#Formula_Text').val(report);
    $('#Formula_Text').text(report);
    FormulaCode_hidden = $('#hidden_Formula_Text').val(hidden_report);
    $('#hidden_Formula_Text').text(hidden_report);
    $('#btnOpAdd').prop('disabled', false);
    $('#chkPrevMonth').prop('checked', false);
    if ($("#chkPrevMonth").is(':checked')) $("#isPrevMonth").toggle();
    $("#isPrevMonth").val('0');
    $('#CellsRowId').val('');
    $('#CellsRowId').text('');
    $('#reportColumn').val('');
    $('#reportColumn').text('');
    GetReportRows(reportSheetId);
    GetReportColumns(reportSheetId);
    prevMonthInFormula = "";
    reportRowText = "";
    text.focus();
}

function DeleteFormula() {
    FormulaCode = $('#Formula_Text').val();
    FormulaCode_hidden = $('#hidden_Formula_Text').val();
    const text = document.getElementById('Formula_Text');
    var cursorPosition = text.selectionStart;
    if (FormulaCode != null) {
        for (var i = 0; i < formulaDictionary.length; i++) {
            if (formulaDictionary[i].value == selectedText) {
                code_selectedText = formulaCodeDictionary[i].value;
                var txtBefore = FormulaCode.substring(0, formulaDictionary[i].key.split(',')[0].match(/\d+/)[0]);
                var txtAfter = FormulaCode.substring(parseInt(formulaDictionary[i].key.split(',')[1].match(/\d+/)[0]) + 1, FormulaCode.length);
                var code_txtBefore = FormulaCode_hidden.substring(0, formulaCodeDictionary[i].key.split(',')[0].match(/\d+/)[0]);
                var code_txtAfter = FormulaCode_hidden.substring(parseInt(formulaCodeDictionary[i].key.split(',')[1].match(/\d+/)[0]) + 1, FormulaCode_hidden.length);
                formulaDictionary.splice(i, 1);
                formulaCodeDictionary.splice(i, 1);
                for (var j = i; j < formulaDictionary.length; j++) {
                    var indexes = formulaDictionary[j].key.split(',');
                    var code_indexes = formulaCodeDictionary[j].key.split(',');
                    var sIndex = parseInt(indexes[0].match(/\d+/)[0]) - (selectedText.length - 1);
                    var code_sIndex = parseInt(code_indexes[0].match(/\d+/)[0]) - (code_selectedText.length - 1);
                    var eIndex = parseInt(indexes[1].match(/\d+/)[0]) - (selectedText.length - 1);
                    var code_eIndex = parseInt(code_indexes[1].match(/\d+/)[0]) - (code_selectedText.length - 1);
                    var key = "\"" + sIndex + ", " + eIndex + "\"";
                    var code_key = "\"" + code_sIndex + ", " + code_eIndex + "\"";
                    formulaDictionary[j].key = key;
                    formulaCodeDictionary[j].key = code_key;
                }
                FormulaCode = (txtBefore + txtAfter).replace(/ +(?= )/g, '');
                FormulaCode_hidden = (code_txtBefore + code_txtAfter).replace(/ +(?= )/g, '');
            }
        }
        if (selectedText == "" || selectedText == " ") {
            FormulaCode = '';
            FormulaCode_hidden = '';
        }
        $('#Formula_Text').val(FormulaCode);
        $('#Formula_Text').text(FormulaCode);
        $('#hidden_Formula_Text').val(FormulaCode_hidden);
        $('#hidden_Formula_Text').text(FormulaCode_hidden);
    }
    if (isNullOrWhiteSpace(FormulaCode)) {
        $('#Formula_Text').val('');
        $('#Formula_Text').text('');
        $('#hidden_Formula_Text').val('');
        $('#hidden_Formula_Text').text('');
    }
}

function isNullOrWhiteSpace(input) {

    if (typeof input === 'undefined' || input == null) return true;

    return input.replace(/\s/g, '').length < 1;
}

function AddOperator() {
    var cursorPosition = $('#Formula_Text').prop('selectionStart');
    var txtBefore = $('#Formula_Text').val().substring(0, cursorPosition);
    var txtAfter = $('#Formula_Text').val().substring(cursorPosition, $('#Formula_Text').val().length);
    var code_txtBefore = "";
    var code_txtAfter = "";
    var operator = $('#XlRuleOperators :selected').text();
    var hidden_operator = operator == "AND" ? "|" + operator + "|" : operator;
    var formulaDictionaryArrayLength = formulaDictionary.length;
    var last_code_eIndex = 0;
    if (formulaDictionary.length != 0 && cursorPosition != $('#Formula_Text').val().length) {
        for (var i = 0; i < formulaDictionary.length; i++) {
            var indexes = formulaDictionary[i].key.split(',');
            var code_indexes = formulaCodeDictionary[i].key.split(',');
            var value_index = formulaDictionary[i].value.split('~')[0];
            var code_value = formulaCodeDictionary[i].value.split('~')[1];
            var code_valueIndex = formulaCodeDictionary[i].value.split('~')[0];
            var code_reportIndex;
            var code_operatorIndex;
            var result = (isOperator) => code_value == isOperator;
            if (splitOperators.some(result)) {
                code_operatorIndex = code_valueIndex;
                code_valueIndex = code_operatorIndex;
            } else {
                code_reportIndex = code_valueIndex;
                code_valueIndex = code_reportIndex;
            }
            var sIndex = parseInt(indexes[0].match(/\d+/)[0]);
            var eIndex = parseInt(indexes[1].match(/\d+/)[0]) + operator.trim().length + 1;
            var code_sIndex = parseInt(code_indexes[0].match(/\d+/)[0]);
            var code_eIndex = parseInt(code_indexes[1].match(/\d+/)[0]);

            if (sIndex < cursorPosition) {
                last_code_eIndex = parseInt(code_eIndex) + 1;
                continue;
            }
            if (sIndex > cursorPosition && formulaDictionaryArrayLength == formulaDictionary.length) {
                formulaDictionary.splice(i, 0, {
                    key: "\"" + (cursorPosition + 1) + ", " + (cursorPosition + operator.trim().length) + "\"",
                    value: value_index + "~" + operator.trim()
                });
                formulaCodeDictionary.splice(i, 0, {
                    key: "\"" + (last_code_eIndex + 1) + ", " + (last_code_eIndex + hidden_operator.trim().length) + "\"",
                    value: code_valueIndex + "~" + hidden_operator.trim()
                });
                var formulaValue = $('#hidden_Formula_Text').val();
                var hiddenFormulaLength = formulaValue.length;
                code_txtBefore = formulaValue.substring(0, last_code_eIndex);
                code_txtAfter = formulaValue.substring(last_code_eIndex, hiddenFormulaLength);
                continue;
            }
            value_index++;
            code_valueIndex++;
            sIndex = sIndex + operator.trim().length + 1;
            code_sIndex = code_sIndex + hidden_operator.trim().length + 1;
            code_eIndex = code_eIndex + hidden_operator.trim().length + 1;
            var key = "\"" + sIndex + ", " + eIndex + "\"";
            var code_key = "\"" + code_sIndex + ", " + code_eIndex + "\"";
            var code_value = code_valueIndex + "~" + formulaCodeDictionary[i].value.split('~')[1];
            formulaDictionary[i].key = key;
            formulaCodeDictionary[i].key = code_key;
            formulaCodeDictionary[i].value = code_value;
        }
    } else {
        var sIndex = cursorPosition == 0 ? cursorPosition : cursorPosition + 1;
        var eIndex = sIndex + (operator.trim().length - 1);
        var code_sIndex = sIndex == 0 ? sIndex : $('#hidden_Formula_Text').val().length + 1;
        var code_eIndex = code_sIndex + (hidden_operator.trim().length - 1);
        var code_valueIndex = formulaDictionary.length;
        var last_code_eIndex = formulaCodeDictionary.length != 0 ? parseInt(formulaCodeDictionary[formulaCodeDictionary.length - 1].key.split(',')[1].match(/\d+/)[0]) + 1 : 0;
        formulaDictionary.push({
            key: "\"" + sIndex + ", " + eIndex + "\"",
            value: code_valueIndex + "~" + operator
        });
        formulaCodeDictionary.push({
            key: "\"" + code_sIndex + ", " + code_eIndex + "\"",
            value: code_valueIndex + "~" + hidden_operator
        });
        code_txtBefore = $('#hidden_Formula_Text').val().substring(0, last_code_eIndex);
    }
    $('#Formula_Text').val(function(i, text) {
        if (cursorPosition == 0) {
            operator = operator.trim() + txtAfter;
        } else {
            operator = txtBefore + " " + operator.trim() + txtAfter;
        }
        return FormulaCode = operator;
    });
    $('#hidden_Formula_Text').val(function(i, text) {

        if (isEdit == "0") {
            hidden_operator = text + (cursorPosition == 0 ? "" : " ") + partIndex + "~" + hidden_operator.trim() + " ";
            partIndex++;
            return FormulaCode_hidden = hidden_operator;
        } else {
            if (cursorPosition == 0) {
                hidden_operator = hidden_operator.trim() + code_txtAfter;
            } else {
                hidden_operator = code_txtBefore + " " + hidden_operator.trim() + code_txtAfter + " ";
            }
            return FormulaCode_hidden = hidden_operator;
        }

    });
    $('#Formula_Text').val(FormulaCode);
    $('#Formula_Text').text(FormulaCode);
    $('#hidden_Formula_Text').val(FormulaCode_hidden);
    $('#hidden_Formula_Text').text(FormulaCode_hidden);
    text.focus();
}
function AddNumber() {
    var cursorPosition = $('#Formula_Text').prop('selectionStart');
    var txtBefore = $('#Formula_Text').val().substring(0, cursorPosition);
    var txtAfter = $('#Formula_Text').val().substring(cursorPosition, $('#Formula_Text').val().length);
    var code_txtBefore = "";
    var code_txtAfter = "";
    var number = $('#txtNumbers').val().trim();
    var hidden_number = "%" + number + "%";
    var formulaDictionaryArrayLength = formulaDictionary.length;
    var last_code_eIndex = 0;
    if (formulaDictionary.length != 0 && cursorPosition != $('#Formula_Text').val().length) {
        for (var i = 0; i < formulaDictionary.length; i++) {
            var indexes = formulaDictionary[i].key.split(',');
            var code_indexes = formulaCodeDictionary[i].key.split(',');
            var value_index = formulaDictionary[i].value.split('~')[0];
            var code_value = formulaCodeDictionary[i].value.split('~')[1];
            var code_valueIndex = formulaCodeDictionary[i].value.split('~')[0];
            var code_reportIndex;
            var code_operatorIndex;
            var result = (isOperator) => code_value == isOperator;
            if (splitOperators.some(result)) {
                code_operatorIndex = code_valueIndex;
                code_valueIndex = code_operatorIndex;
            } else {
                code_reportIndex = code_valueIndex;
                code_valueIndex = code_reportIndex;
            }
            var sIndex = parseInt(indexes[0].match(/\d+/)[0]);
            var eIndex = parseInt(indexes[1].match(/\d+/)[0]) + number.length + 1;;
            var code_sIndex = parseInt(code_indexes[0].match(/\d+/)[0]);
            var code_eIndex = parseInt(code_indexes[1].match(/\d+/)[0]);

            if (sIndex < cursorPosition) {
                last_code_eIndex = parseInt(code_eIndex) + 1;
                continue;
            }
            if (sIndex > cursorPosition && formulaDictionaryArrayLength == formulaDictionary.length) {
                formulaDictionary.splice(i, 0, {
                    key: "\"" + (cursorPosition + 1) + ", " + (cursorPosition + number.length) + "\"",
                    value: value_index + "~" + number
                });
                formulaCodeDictionary.splice(i, 0, {
                    key: "\"" + (last_code_eIndex + 1) + ", " + (last_code_eIndex + hidden_number.length) + "\"",
                    value: code_valueIndex + "~" + hidden_number
                });
                var formulaValue = $('#hidden_Formula_Text').val();
                var hiddenFormulaLength = formulaValue.length;
                code_txtBefore = formulaValue.substring(0, last_code_eIndex);
                code_txtAfter = formulaValue.substring(last_code_eIndex, hiddenFormulaLength);
                continue;
            }
            value_index++;
            code_valueIndex++;
            sIndex = sIndex + number.length + 1;
            code_sIndex = code_sIndex + hidden_number.length + 1;
            code_eIndex = code_eIndex + hidden_number.length + 1;
            var key = "\"" + sIndex + ", " + eIndex + "\"";
            var code_key = "\"" + code_sIndex + ", " + code_eIndex + "\"";
            var code_value = code_valueIndex + "~" + formulaCodeDictionary[i].value.split('~')[1];
            formulaDictionary[i].key = key;
            formulaCodeDictionary[i].key = code_key;
            formulaCodeDictionary[i].value = code_value;
        }
    } else {
        var sIndex = cursorPosition == 0 ? cursorPosition : cursorPosition + 1;
        var eIndex = sIndex + (number.length - 1);
        var code_sIndex = sIndex == 0 ? sIndex : $('#hidden_Formula_Text').val().length + 1;
        var code_eIndex = code_sIndex + (hidden_number.length - 1);
        var code_valueIndex = formulaDictionary.length;
        var last_code_eIndex = formulaCodeDictionary.length != 0 ? parseInt(formulaCodeDictionary[formulaCodeDictionary.length - 1].key.split(',')[1].match(/\d+/)[0]) + 1 : 0;
        formulaDictionary.push({
            key: "\"" + sIndex + ", " + eIndex + "\"",
            value: code_valueIndex + "~" + number
        });
        formulaCodeDictionary.push({
            key: "\"" + code_sIndex + ", " + code_eIndex + "\"",
            value: code_valueIndex + "~" + hidden_number
        });
        code_txtBefore = $('#hidden_Formula_Text').val().substring(0, last_code_eIndex);
    }
    $('#Formula_Text').val(function(i, text) {
        if (cursorPosition == 0) {
            number = number + txtAfter;
        } else {
            number = txtBefore + " " + number + txtAfter;
        }
        return FormulaCode = number;
    });
    $('#hidden_Formula_Text').val(function(i, text) {

        if (isEdit == "0") {
            hidden_number = text + (cursorPosition == 0 ? "" : " ") + partIndex + "~" + hidden_number;
            partIndex++;
            return FormulaCode_hidden = hidden_number;
        } else {
            if (cursorPosition == 0) {
                hidden_number = hidden_number + code_txtAfter;
            } else {
                hidden_number = code_txtBefore + " " + hidden_number + code_txtAfter + " ";
            }
            return FormulaCode_hidden = hidden_number;
        }
    });
    $('#Formula_Text').val(FormulaCode);
    $('#Formula_Text').text(FormulaCode);
    $('#hidden_Formula_Text').val(FormulaCode_hidden);
    $('#hidden_Formula_Text').text(FormulaCode_hidden);
    $('#txtNumbers').val('');
    $('#btnOpAdd').prop('disabled', false);
    text.focus();
}
$(function() {
    setTimeout(function() {
        $('#message').hide(300);
    }, 5000);
});
    </script>
}