﻿@model List<CheckRule>

@{
    ViewBag.Title = "Yoxlamalar";
}


@section Currentpagelink
{
    <li><a href="javascript:void(0)">Məlumat</a></li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li>
        @Html.ActionLink("Yoxlamalar", "CheckRules", "Info")
    </li>
}
<style>
    input, select, textarea {
        max-width: 100%;
    }
</style>
<div class="col-md-12 esahs-container-padd">
    <div class="row">
        <h1 class="pull-left" style="padding-left:15px">@ViewBag.Title</h1>
        <div class="pull-right" style="padding:15px">
            <button onclick="location.href='@Url.Action("AddCheckRule","Info")'" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </button>
        </div>
    </div>


    <div class="form-horizontal" style="margin-top:20px;margin-bottom:20px;">
        @using (Html.BeginForm("CheckRules", "Info", FormMethod.Get))
        {
            <div class="row">
                <div class="col col-md-4">
                    <label>Hesabat növü</label>
                    <select name="reportFileType" class="form-control select2" style="width:100%" id="reportFileType">
                        <option value="-1">---</option>
                        @foreach (CustomSelectListItem customSelectList in (List<CustomSelectListItem>)ViewBag.ReportFileTypeList)
                        {
                            if (customSelectList.Value == Context.Request.Query["reportFileType"])
                            {

                                <option value="@customSelectList.Value" is-phqe="@customSelectList.Is_PHQE" selected>@customSelectList.Text</option>
                            }
                            else
                            {
                                <option value="@customSelectList.Value" is-phqe="@customSelectList.Is_PHQE">@customSelectList.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="col col-md-2 hidden">
                    <label>&nbsp;</label>
                    <input type="submit" value="Göstər" class="btn btn-primary" id="btShow" />
                </div>
                <div class="col col-md-2 pull-right">
                    <label>Status</label>
                    @{
                        var status = ViewBag.Status;
                        <select name="Status" id="Status" class="form-control select2">
                            <!option value="1" @(status == 1 ? "selected" : "")>Aktiv</!option>
                            <!option value="0" @(status == 0 ? "selected" : "")>Passiv</!option>
                        </select>
                    }
                </div>
                <div class="col col-md-2 hidden">
                    <label>&nbsp;</label>
                    <input type="submit" value="Göstər" class="btn btn-primary" id="btShow2" />
                </div>
            </div>
        }
    </div>

    <div class="table-responsive esahs-table">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width:50px;text-align: center">
                        №
                    </th>
                    <th>
                        Formul
                    </th>
                    <th style="width:50px;text-align: center">Yenilə</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count == 0)
                {
                    <tr>
                        <td colspan="3" style="text-align: center">
                            Yoxlama yoxdur
                        </td>
                    </tr>
                }
                @for (var i = 0; i < Model.Count; i++)
                {
                    var item = Model[i];
                    <tr>
                        <td style="text-align: center">
                            @(i + 1)
                        </td>
                        <td>
                            @item.Formula
                        </td>
                        <td style="width:50px;text-align: center">
                            <button onclick="location.href='@Url.Action("AddCheckRule","Info",new { id=item.Id })'" class="btn btn-primary">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

@section Scripts
{
    <script>
        $(function () {
            $('#reportFileType').change(function () {
                $('#btShow').click();
            });
            $('#Status').change(function () {
                $('#btShow2').click();
            });
        });
    </script>
}