﻿@model List<DownloadFileInfo>


@section Currentpagelink
{
    <li><a href="javascript:void(0)">Məlumat</a></li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li>
        @Html.ActionLink((string)ViewBag.Title, "Downloads", "Info")
    </li>
}
<style>
    input, select, textarea {
        max-width: 100%;
    }
</style>
<div class="col-md-12 esahs-container-padd">
    <h1>@ViewBag.Title</h1>
    @if (ViewBag.ShowDepartments)
    {
        <div class="form-horizontal" style="margin-top:20px;margin-bottom:20px;">
            @using (Html.BeginForm("Downloads", "Info", FormMethod.Get))
            {
                <div class="row">
                    <div class="col col-md-4">
                        <label>Departament</label>
                        @Html.DropDownList("department", (SelectList)ViewBag.DepartmentsList, "---", new { @class = "form-control select2" })
                    </div>
                    <div class="col col-md-2 hidden">
                        <label>&nbsp;</label>
                        <input type="submit" value="Göstər" class="btn btn-primary" id="btShow" />
                    </div>
                </div>
            }
        </div>
    }
    <div class="table-responsive esahs-table">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="vertical-align: middle">
                        Ad
                    </th>
                    <th style="vertical-align: middle">
                        Açıqlama
                    </th>
                    @if (ViewBag.ShowDepartments)
                    {
                        <th style="vertical-align: middle">
                            Departament
                        </th>
                        <th style="vertical-align: middle">
                            Şöbə
                        </th>
                    }
                    <th style="width:100px;vertical-align: middle">
                        Yüklə
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Head</td>
                            <td>
                                @item.Description
                            </td>
                            @if (ViewBag.ShowDepartments)
                            {
                                <td>
                                    @item.DepartmentName
                                </td>
                                <td>
                                    @item.SectionName
                                </td>
                            }
                            <td style="width:100px;text-align: center">
                                <a href="~/Info/Download/@item.Id"><i class="fa fa-download"></i> Yüklə</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">
                            Yükləmə yoxdur
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
            $('#department').change(function () {
                $('#btShow').click();
            });
        });
    </script>
}