﻿
@model List<ReportFile>



@section Currentpagelink
{
    <li><a href="javascript:void(0)">Məlumat</a></li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li>
        @Html.ActionLink((string)ViewBag.Title, "ReportTemplates", "Info")
    </li>
}
<style>
    input, select, textarea {
        max-width: 100%;
    }
</style>
<div class="col-md-12 esahs-container-padd">
    <h1>@ViewBag.Title</h1>
    <div class="table-responsive esahs-table">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="vertical-align: middle">
                        Hesabat
                    </th>
                    <th style="vertical-align: middle">
                        Period
                    </th>
                    <th style="vertical-align: middle">
                        Göndərilmə müddəti
                    </th>
                    <th style="vertical-align: middle">
                        Faylın adı
                    </th>
                    <th style="width:100px;vertical-align: middle">
                        Yüklə
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.REPORT_FILE_TYPE_NAME</td>
                            <td>
                                @item.Period
                            </td>
                            <td>
                                @item.SendTime
                            </td>
                            <td>
                                @item.UPLOAD_FILE_NAME
                            </td>
                            <td style="width:100px;text-align: center">
                                <a href="~/Info/DownloadReportTemplate/@item.ID"><i class="fa fa-download"></i> Yüklə</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">
                            Yükləmə yoxdur
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>