@font-face {
    font-family: 'Segou-UI';
    src: url('Segou-UI.eot');
    src: url('Segou-UI.eot?#iefix') format('embedded-opentype'),
    url('Segou-UI.woff') format('woff'), url('Segou-UI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}