	#crumbs .crumb-item {
	    font-family: "BebasNeue", Arial, sans-serif;
	    background: #03a9d9;
	    padding: 1px 19px 0 40px;
	    position: relative;
	    margin: 0 0 20px 0;
	    font-size: 20px;
	    color: #fff;
	    width: 100%;
	    height: 70px;
	}

	#crumbs div:first-child div.crumb-item:before {
	    display: none;
	}

	#crumbs div.crumb-item:hover {
	    background: #1c3651;
	    transition: 1s;
	}

	#crumbs div div.crumb-item:hover:after {
	    border-left-color: #1c3651;
	    transition: 1s
	}

	#crumbs div:last-child div.crumb-item:hover::after {
	    border-color: #1c3651;
	    transition: 1s
	}

	#crumbs .item-number {
	    font-size: 75px;
	    color: #a5dded;
	    text-align: left;
	    float: left;
	    line-height: 0;
	    margin: 38px 15px 0 -20px;
	}

	#crumbs .item-p {
	    font-size: 18px;
	    margin-left: 40px;
			height: 70px;
			display: table-cell;
			vertical-align: middle;

	}

	@media screen and (min-width:970px) {
	    #crumbs div.crumb-item:after {
	        content: "";
	        border-top: 50px solid transparent;
	        border-bottom: 60px solid transparent;
	        border-left: 40px solid #03a9d9;
	        position: absolute;
	        right: -40px;
	        top: 0;
	        z-index: 1;
	    }
			#crumbs div:first-child div .item-number{
				margin-left: -30px;
			}
	    #crumbs div:last-child div.crumb-item:after {
	        content: "";
	        border-top: 50px solid #03a9d9;
	        border-bottom: 60px solid #03a9d9;
	        border-left: 20px solid #03a9d9;
	        position: absolute;
	        right: -20px;
	        top: 0;
	        z-index: 1;
	    }
	    #crumbs div.crumb-item:before {
	        content: "";
	        border-top: 50px solid transparent;
	        border-bottom: 60px solid transparent;
	        border-left: 40px solid #fff;
	        position: absolute;
	        left: 0;
	        top: 0;
	    }

	    #crumbs .item-number {
	        margin-left: 0px;
	    }
	    #crumbs .item-p {
	        margin-left: 60px;
					height: 110px;
					display: table-cell;
					vertical-align: middle;
	    }
	    #crumbs .first-number {
	        margin-left: -20px;
	    }
	    #crumbs .first-p {
	        margin-left: 40px;
	    }
	    #crumbs .crumb-item {
	        padding: 0 5px 0 40px;
	        position: relative;
	        margin: 0 0 20px 0;
	        width: 100%;
	        height: 110px;
	    }
	    #crumbs .item-number {
	        font-size: 120px;
	        color: #a5dded;
	        text-align: left;
	        float: left;
	        line-height: 0;
	        margin: 60px 4px 0 0;
	    }
	    #crumbs .item-p {
	        font-size: 20px;
	        margin-left: 52px;
	        text-align: left;
	    }
	}
