
/*.logo_p {
    color: #fff;
    font-family: "BebasNeue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 100 !important;
    text-transform: uppercase;
    margin-top: 33px;
}

.logo_p span {
    color: #fff;
    font-family: "BebasNeue", Arial, sans-serif;
    font-size: 25px;
    font-weight: 100 !important;
    margin-left: 3px;
}*/
.block_l:hover .block-icon i{
    color: #03A9D9;
    -webkit-transition: color 2s
}
.block_l:hover .h1{
    color: #03A9D9;
    -webkit-transition: color 1s
}
.stat_bt_cl {
    margin-left: 0px;
    width: 100%;
    background-color: #3c5d7d;
}
.stat_icon{
    color:black;
    font-size:18px;
}
.stat_icon:hover{
    color:#085394;
}
.esahs_row{
    margin:0;
}
