.esahs-content {
	background: #3c5d7d;
}

.esahs-menu {
	margin-top: 31px;
	padding: 0px;
}

.esahs-ul {
	padding: 0;
	list-style: none;
}

.esahs-li:hover {
	background: #4f6c89;
}

.esahs-a {
	border-left: 3px solid transparent;
	color: #3c5d7d;
	position: relative;
	display: block;
	border-left: 3px solid transparent;
	padding: 8px
}

.esahs-active {
	background: #4f6c89;
	border-left-color: #4f6c89;
}

.esahs-icon {
	font: normal normal normal 20px FontAwesome;
	color: #fff;
	margin: 6px 5px 4px 6px;
}

.esahs-active span .fa-angle-left {
	transform: rotate(-90deg);
}

.esahs-span {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 45px;
	font-family: HelveticaNeue;
}

.esahs-dis li:hover span, .esahs-dis li:hover i {
	color: #70d3ff;
}

.esahs-dis {
	display: none;
	list-style: none;
	padding-top: 10px;
	background: #3c5d7d;
	border-left-color: #3c5d7d;
}

	.esahs-dis li {
		margin-bottom: 10px
	}

		.esahs-dis li i {
			color: #fff;
			vertical-align: middle;
			font-size: 11px;
			margin-right: 3px;
		}

		.esahs-dis li span {
			font-size: 15px;
			line-height: 1;
			transition: 0.3s;
			margin-bottom: -8px;
			color: #fff;
			vertical-align: middle;
		}

.esahs-p {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 45px;
}


	.esahs-p a {
		color: #fff;
		text-decoration: underline;
		margin-left: 5px;
	}

		.esahs-p a:hover {
			color: #03A9D9;
		}

.esahs-item {
	position: relative;
	background-color: #f8f8f8;
	transition: box-shadow .25s;
}

.esahs-container-wrapper {
	padding: 20px;
}

.esahs-container-padd {
	background: #fff;
	margin-bottom: 50px;
	padding: 3px 20px 25px 20px;
	border-radius: 0px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.esahs-container-wrapper h1 {
	font-size: 25px;
	font-weight: bold;
	color: #1c3651;
	font-family: "HelveticaNeue", Arial, sans-serif;
	margin: 10px 0 10px 0;
}

.esahs-table {
	background: #fff;
}

	.esahs-table table {
		margin-bottom: 0;
		border: solid 1px #dddddd;
	}

		.esahs-table table thead tr th {
			font-size: 14px;
			background: #efefef;
			border-bottom: none;
		}

		.esahs-table table tbody tr td {
			/*font-size: 13px;*/
			vertical-align: middle;
		}

.esahs-item .form-group {
	margin-bottom: 20px;
}

.bt-green {
	background: #6dad91;
	margin: 0px 10px 0px 0px;
	float: right;
	width: 38px;
	padding: 0px 0px 2px 4px;
}

.bt-blue {
	background: #437cb3;
	margin: 0px 10px 0px 0px;
	float: right;
	width: 38px;
	padding: 0px 0px 2px 5px;
}

.bt-red {
	background: #d3637b;
	margin: 0px 10px 0px 0px;
	float: right;
	width: 38px;
	padding: 0px 0px 2px 5px;
}

.bt-grey {
	background: #cccccc;
	margin: 0px 10px 0px 0px;
	float: right;
	width: 38px;
	padding: 0px 0px 2px 5px;
}

.table_linc {
	text-decoration: underline;
	font-size: 16px
}

.td_correct {
	border: 1px solid #009688;
	color: #009688;
	width: 70px;
	padding: 5px 3px 3px 5px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
}

.td_yellow {
	border: 1px solid #d1bc49;
	color: #d1bc49;
	width: 140px;
	padding: 5px 3px 3px 5px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
}

.td_download {
	border: 1px solid #a7a7a7;
	color: #a7a7a7;
	width: 80px;
	padding: 5px 3px 3px 5px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
}

.td_red {
	border: 1px solid #ca4c4c;
	color: #ca4c4c;
	width: 110px;
	padding: 5px 3px 3px 5px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
}

.input-file {
	color: #49494b;
	font-family: "Fira Sans", sans-serif;
	font-size: 14px;
	border-radius: 4px;
	border: 2px solid #f8f8f8;
	height: 33px;
	margin: 0;
	padding: 4px 12px;
	width: 65%;
}

.input-data {
	color: #49494b;
	font-family: "Fira Sans", sans-serif;
	font-size: 14px;
	border-radius: 4px;
	border: 2px solid #cccccc;
	height: 33px;
	margin: 0;
	padding: 4px 12px;
	width: 100%;
}

.input-text {
	color: #49494b;
	font-family: "Fira Sans", sans-serif;
	font-size: 14px;
	border-radius: 4px;
	border: 2px solid #3c5d7d;
	height: 33px;
	margin: 0;
	padding: 4px 12px;
	width: 100%;
}

textarea {
	margin: 5px 0 0 0;
	height: 200px;
	border: 2px solid #3c5d7d;
	width: 100%;
	padding: 12px 12px;
	outline: none;
}

.esahs-login div input {
	color: #49494b;
	border-radius: 4px;
	border: 2px solid #3c5d7d;
	height: 33px;
}



@media screen and (min-width: 990px) {
	.esahs-menu {
		width: 17%;
		/*min-height:818px;*/
		min-height: 80vh;
	}

	.esahs-menu-footer {
		width: 17%;
		background: #3c5d7d;
		border-top: #3c5d7d solid 1px;
		border-bottom: #3c5d7d solid 1px;
	}

	div.esahs-item {
		width: 83%;
		/*min-height:858px;*/
		min-height: 83vh;
	}

	div.esahs-item-footer {
		width: 83%;
		background: #fff;
		border-top: rgba(0, 0, 0, 0.12) solid 1px;
		border-bottom: rgba(0, 0, 0, 0.12) solid 1px;
	}

	.admin-bt-cl {
		width: 65%;
	}

	.admin-bt-bl {
		width: 50%
	}

	.tab, .tabcontent {
		width: 66%
	}

	#map {
		width: 45%;
	}
}

@media screen and (max-width: 990px) {
	#map {
		width: 80%;
	}
}


.admin-header {
	margin: 0;
	background: #1c3651;
}


.breadcrumbs-div {
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/*Tabs*/

ul.tab {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}

	ul.tab li {
		float: left;
		background: #f1f1f1;
	}

		ul.tab li a {
			display: inline-block;
			color: #49494b;
			text-align: center;
			padding: 10px 10px;
			text-decoration: none;
			transition: 0.3s;
			font-size: 15px;
		}

			ul.tab li a:hover {
				background-color: #ddd;
			}

			ul.tab li a.active-tab {
				background-color: #3c5d7d;
				color: #fff;
			}

.tabcontent {
	display: none;
	padding: 30px 40px;
	border: 1px solid #ccc;
	border-top: none;
}

	.tabcontent h2, .esahs-login div h2 {
		margin-top: 20px;
		margin-left: 31px;
	}

.admin-bank label {
	margin-left: 31px;
}

.tabcontent label, .esahs-login div label {
	margin-top: 10px;
	margin-bottom: 5px;
}

.admin-container div label, .esahs-login div label {
	font-size: 14px;
	line-height: 1;
	transition: 0.3s;
	color: #085394;
	font-weight: bold;
	display: block;
}

.tabcontent input {
	color: #49494b;
	font-family: "Fira Sans", sans-serif;
	font-size: 14px;
	border-radius: 4px;
	border: 2px solid #cccccc;
	width: 90%;
	height: 33px;
	margin: 5px 0 0 0;
	padding: 4px 12px;
}

.tabcontent .admin-bottom, .admin-bank .admin-bottom, .admin-container div h1.admin-bottom, .admin-container div div h2.admin-bottom {
	margin-bottom: 20px;
}

.admin-bank input {
	color: #49494b;
	border-radius: 4px;
	border: 2px solid #3c5d7d;
	width: 90%;
	height: 33px;
	margin: 5px 0px 100px 31px;
	padding: 12px 12px;
}


.tabcontent textarea {
	margin: 5px 0 0 0;
	height: 200px;
	border: 2px solid #3c5d7d;
	width: 90%;
	padding: 12px 12px;
	outline: none;
}

/*login*/

.esahs-login {
	background: #fff;
	width: 370px;
	margin: 7% auto;
	padding: 20px;
	border-radius: 0px;
	overflow: hidden;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.esahs-checkbox {
	margin-top: 0;
	margin-left: 30px;
}

	.esahs-checkbox label {
		color: antiquewhite
	}

.admin-login div input {
	color: #49494b;
	border-radius: 4px;
	border: 2px solid #3c5d7d;
	height: 33px;
}

.admin-container {
	width: 79%
}

.btn-admin {
	color: #fff;
	background-color: #3c5d7d;
	border-color: #3c5d7d;
}

.admin-checkbox {
	margin-top: 15px;
	margin-bottom: 20px;
	margin-left: 40px;
}


/*map*/

#map {
	height: 250px;
	position: relative;
	margin-left: 31px;
	margin-bottom: 15px;
	margin-top: 10px;
}

.admin-bank {
	margin-top: 15px;
}

.admin-container div div div text {
	height: 200px;
	width: 100%;
	padding: 12px 12px;
	margin-top: 10px;
	font-size: 15px;
	outline: none;
	margin-bottom: 50px;
}

.admin-container div p1 {
	font-size: 15px;
	line-height: 1;
	transition: 0.3s;
	margin-bottom: 7px;
	margin-right: 10px;
	font-weight: bold;
}

.admin-text {
	margin-top: 5px;
}

.info .row {
	margin-bottom: 15px;
}

.info .admin-bt-cl {
	float: none;
}

.admin-bt-bl {
	margin-left: 0px;
	text-align: center;
	padding: 0px 5px;
	margin-top: 30px;
	background: #bb8660;
	float: right;
}

ul.pagination li a.admin-active {
	background-color: #3c5d7d;
	color: white;
}


.action-buttons a {
	font-size: 15px;
}

.action-buttons .btn-primary {
	background-color: #437cb3;
	margin-top: 25px;
	margin-bottom: 20px;
}

	.action-buttons .btn-primary:hover {
		background-color: #5291ce;
		border-color: #4c86bd;
	}

	.action-buttons .btn-primary i {
		margin-right: 8px
	}

.action-buttons .btn-info {
	background-color: #009688;
	border-color: #00897B;
	margin-top: 25px;
	margin-bottom: 20px;
}

	.action-buttons .btn-info:hover {
		background-color: #26A69A;
		border-color: #009688;
	}

.dataTables_filter, .dataTables_info {
	display: none;
}

@media (min-width: 768px) and (max-width: 991px) {
	.form-horizontal .control-label {
		text-align: start;
	}
}
