    /* News */

.title {
    color: #1c3651;
    font-family: "BebasNeue", Arial, sans-serif;
    font-size: 50px;
    font-weight: 100;
    line-height: 1;
    margin-top: 10px;
    transition: 0.3s;
    margin-bottom: 25px;
    margin-right: 10px;
    text-align: center;
}
    .title:after {
        border-bottom: 1px solid #1c3651;
        -webkit-box-shadow: 0 1px 0 0 #1c3651;
        -moz-box-shadow: 0 1px 0 0 #1c3651;
        box-shadow: 0 1px 0 0 #1c3651;
        content: "";
        margin: 0 auto;
        position: absolute;
        top: 45%;
        left: 0;
        right: 0;
        width: 70%;
        z-index: -1;
        height:5px;
    }

.title:before {
    border-top: none;
}
    .title span {
        /*background: #f8f8f8;*/
        padding: 0 15px;
    }

    @media screen and (max-width: 990px) {
        div.container_gray,div.container_img {
            margin-top: 50px;
            margin-left: 15px;
            width: 90%;
        }
        p.title {

            text-align: start
        }
        span.news-date {
            margin-left: 15px;
        }
        a>p.news-list-p {
            margin-left: 15px;
        }
        .title span {
            padding: 0;
        }
    }

    .container_gray {
        background: #f8f8f8;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        margin-top: 10px;
        padding: 15px;
        margin-left:60px
    }
        .h2_esahs {
        font-size: 25px;
        text-align:center;
        margin-left: 0px;
        color:#4a4a4c;
    }
     .input_esahs {
        color: #49494b;
        font-family: "Fira Sans", sans-serif;
        font-size: 14px;
        border-radius: 4px;
        border: 2px solid #03a9d9;
        width: 80%;
        height: 33px;
        margin-left: 0px;
        margin-bottom: 0;
        padding-left: 6px;
    }
     .input_title_esahs {
        font-size: 15px;
        font-weight: 100;
        line-height: 1;
        transition: 0.3s;
        margin-bottom: 7px;
        margin-right: 10px;
        font-weight: bold;
    }
   .login {
        padding: 0px;
    }
    .container_img {
        margin-top: 10px;
        margin-left:60px
    }
       .container_img img{
        width:100%
    }
    label{
        font-size: 15px;
        font-weight: 100;
        line-height: 1;
        transition: 0.3s;
        margin-bottom: 7px;
        /*margin-right: 10px;*/
        font-weight: bold;
        width:100%;
    }
    .esahs .block_l {
    width: 100%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    min-height: 181px;
    padding: 25px 25px 20px 25px;
}

    .esahs .block_l .col-md-3 {
		padding: 0 0 0 5px;
    }
	
    .esahs .block_l .col-md-9 {
		padding-left: 5px;
    }	
	
    .esahs .block_l .block-icon {
		margin: 0 auto;
		text-align: center;
		padding-top: 10px;
    }
	
    .esahs .block_l .block-icon  i{
        color: #1c3651;
        font-size: 100px;
    }	

    .esahs .block_l .h1 {
        font-family: "HelveticaNeue";
        font-weight: bold;
    }
	
    .esahs .block_l .p1, .esahs .block_l .h1 {
        margin-left: 0;
    }	

.esahs .title {
    margin-top: 30px;
    margin-bottom: 30px;
}
.esahs .title-text {
    margin: 15px 0 0px 0;
    font-size: 15px;
}

    /*info*/

    @media screen and (max-width: 990px) {
        p.info-h1 {
            margin-bottom: 17px
        }
    }

    .info-img {
        background: black;
        border-radius: 100px;
        color: white;
        width: 15px;
        font-size: 1em;
        text-align: center;
    }

    .answer-item-list {
        background: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        margin-left: 15px;
        padding: 15px;
        display: none;
        margin-bottom: 20px;
    }

    .info-item {
        margin-top: 10px
    }

    .info-item-list {
        cursor: pointer;
        background: #f5f5f5;
        margin-left: 15px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        padding: 15px;
        margin-top: -10px;
    }

    .info-h1 {
        cursor: pointer;
        margin-left: 0;
        margin-top: 0;
        font-size: 25px;
        background: #f5f5f5;
        width: 50%;
        padding: 10px;
        border-radius: 5px;
        color: #1c3651;
        text-transform: uppercase;
    }

    .info-p {
        margin-left: 20px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: bold;
    }

    div.answer-item-list>p.p1 {
        margin-left: 25px;
    }
    .faq-info-list {
    padding-left: 0px;
    padding-right: 0px;
    display: none;
    margin-bottom: 30px;
    display:none;
}






















 @media screen and (max-width: 990px) {

        textarea.ideas-textarea {
            width: 100%;
        }
    }
    .p1 {
        margin-left: 15px;
    }

    .news-h1 {
        font-size: 25px;
    }



    .news-title-img {
        margin-bottom: 20px;
        margin-top: 10px;
        margin-right: 30px;
    }

    .news-other-item {
        margin-top: 20px;
    }

    .news-date {
        margin: auto;
    }

    .news-text {
        font-size: 16px;
        line-height: 1.4;
    }

    .p3 {
        font-size: 5px;
    }

    .card {
        margin-top: 30px;
        position: relative;
        background-color: #fff;
        transition: box-shadow .25s;
        padding: 50px;
        padding-top: 20px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    .news-link {
        margin-left: 15px;
    }

    .row-margin {
        margin: -15px;
    }

    .news-other-date {
        margin-left: 15px;
    }
    /* News list */

    .news-list-title-img {
        margin-bottom: 20px;
        margin-top: 15px;
        margin-right: 30px;
    }

    .news-list-link {
        margin: 10px;
        font-size: 16px;
    }

    a>p.news-list-p:hover, a>p.actual-h1:hover {
        color: #03A9D9;
    }

    {
        color: #03A9D9;
    }

    ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
    }

    ul.pagination li a {
        /*color: black;*/
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }

    ul.pagination li a.active {
        background-color: #03a9d9;
        color: white;
    }

    ul.pagination li a:hover:not(.active) {
        background-color: #ddd;
    }

    .news-list-p {
        color: #4a4a4c;
        font-family: "BebasNeue", Arial, sans-serif;
        font-size: 25px;
        font-weight: 100;
        line-height: 1;
        margin-top: auto;
        transition: 0.3s;
        margin-bottom: 7px;
        margin-right: 10px;
    }
    /*the actual ideas*/

    @media screen and (max-width: 990px) {
        div.bt_cl {
            margin-left: 0px;
        }
    }

    .actual-ideas-title-img {
        margin-bottom: 20px;
        margin-right: 30px;
        padding: 0px;
        width: 100%;
    }

    .actual-ideas-item {
        margin-top: 20px
    }

    .actual-text {
        font-size: 16px;
        line-height: 1.4;
        margin-top: 10px;
    }

    .actual-h1 {
        font-size: 25px;
        margin-top: 0px
    }
    /*ideas*/

 
 

    .ideas-textarea {
        margin-left: 0px;
        height: 180px;
        border: 2px solid #03a9d9;
        padding: 12px 12px;
        width: 100%
    }


    /*queries*/

    @media screen and (max-width: 990px) {
        div.queries-div-checkbox {
            margin-top: 0px
        }
    }



    .queries-text {
        color: #4a4a4c;
        font-size: 15px;
        margin-left: 13px;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .queries-area-text {
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 5px;
    }

    .queries-textarea {
        margin-left: 0px;
        height: 100px;
        border: 2px solid #03a9d9;
        padding: 12px 12px;
        width: 100%;
    }

    .queries-bid-textarea {
        height: 180px;
        border: 2px solid #03a9d9;
        padding: 12px 12px;
        width: 100%;
    }

    .queries-div-checkbox {
        margin-top: 30px;
        margin-left: 0px
    }

    .queries-checkbox {
        margin-bottom: 5px;
        margin-left: 0px;
    }

    .queries-item {
        margin-top: 40px
    }
    @media screen and (max-width: 990px) {
        .title:after, .title:before {
            display: none
        }
    }
    /*Chart*/

    @media screen and (max-width: 990px) {
        div.chart-div {
            width: 100%;
            height: 150px;
        }
    }

    .chart-div {
        height: 300px;
        width: 50%
    }

    .bt_cl p {
        text-align: center;
    }

    th {
        text-align: left;
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }

    .table>thead>tr>th {
        vertical-align: bottom;
        border-bottom: 2px solid #ddd;
    }

    .table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
        border-top: 0;
    }

    .table>tbody+tbody {
        border-top: 2px solid #ddd;
    }

    .table-hover>tbody>tr:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }

    .table-responsive {
        min-height: .01%;
        overflow-x: auto;
    }

    @media screen and (max-width:767px) {
        .table-responsive {
            width: 100%;
            margin-bottom: 15px;
            overflow-y: hidden;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            border: 1px solid #ddd;
        }
        .table-responsive>.table {
            margin-bottom: 0;
        }
        .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
            white-space: nowrap;
        }
        .table-responsive>.table-bordered {
            border: 0;
        }
        .table-responsive>.table-bordered>tbody>tr>td:first-child, .table-responsive>.table-bordered>tbody>tr>th:first-child, .table-responsive>.table-bordered>tfoot>tr>td:first-child, .table-responsive>.table-bordered>tfoot>tr>th:first-child, .table-responsive>.table-bordered>thead>tr>td:first-child, .table-responsive>.table-bordered>thead>tr>th:first-child {
            border-left: 0;
        }
        .table-responsive>.table-bordered>tbody>tr>td:last-child, .table-responsive>.table-bordered>tbody>tr>th:last-child, .table-responsive>.table-bordered>tfoot>tr>td:last-child, .table-responsive>.table-bordered>tfoot>tr>th:last-child, .table-responsive>.table-bordered>thead>tr>td:last-child, .table-responsive>.table-bordered>thead>tr>th:last-child {
            border-right: 0;
        }
        .table-responsive>.table-bordered>tbody>tr:last-child>td, .table-responsive>.table-bordered>tbody>tr:last-child>th, .table-responsive>.table-bordered>tfoot>tr:last-child>td, .table-responsive>.table-bordered>tfoot>tr:last-child>th {
            border-bottom: 0;
        }
    }

    .fileinput-button {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    .fileinput-button input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        -ms-filter: 'alpha(opacity=0)';
        font-size: 200px !important;
        direction: ltr;
        cursor: pointer;
    }
    /* Fixes for IE < 8 */

    @media screen\9 {
        .fileinput-button input {
            filter: alpha(opacity=0);
            font-size: 100%;
            height: 100%;
        }
    }

    .btn-success {
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
    }

    .btn-1 {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .glyphicon {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }

    .glyphicon-plus:before {
        content: "\2b";
    }

    .progress {
        height: 20px;
        margin-bottom: 20px;
        overflow: hidden;
        background-color: #f5f5f5;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    }

    .progress-bar {
        float: left;
        width: 0;
        height: 100%;
        font-size: 12px;
        line-height: 20px;
        color: #fff;
        text-align: center;
        -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
        -webkit-transition: width .6s ease;
        -o-transition: width .6s ease;
        transition: width .6s ease;
    }

    .fileUpload {
        position: relative;
        overflow: hidden;

    }

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .btn-ideas {
        color: #fff;
        background-color: #03a9d9;
        border-color: #03a9d9;
    }

    /*contact*/

    .contact-map {
        width: 100%;
        height: 450px;
        border: 0;
        margin-top: 10px;
    }

    .content-icon {
        font-size: 1.5em;
        margin-left: 15px;
        margin-top: 15px;
        vertical-align: middle;
    }

    .content-text {
        margin-left: 5px;
    }
    /* Breadcrumbsd */

    .breadcrumbs-container {
        background-color: #fefefe;
        box-shadow: 0 5px 4px -5px #d4d4d4;
    }

    ul.breadcrumbs {
        margin: 0;
        height: 30px;
        line-height: 30px;
        color: #9b9b9b;
        width: 100%;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
    }

    ul.breadcrumbs li {
        list-style-type: none;
        float: left;
        padding-left: 10px;
    }

    ul.breadcrumbs li a {
        font-family: "Segoe UI", sans-serif;
        font-size: 14px;
        color: #999999;
        height: 30px;
        display: block;
        background-position: right;
        padding-right: 5px;
        text-decoration: none;
    }

    ul.breadcrumbs li a:hover {
        color: #454545;
    }

    header {
        margin-bottom: 0;
    }
    /* BSXM */


    .content_bottom ul {
        margin: 15px;
        padding: 0;
        min-height: 210px;
    }

    .content_bottom li {
        list-style-type: none;
        margin: 0;
    }

    .title-text-e {
        margin: 15px 0 30px 0;
        font-size: 15px;
    }

    .title-text-em {
        font-size: 15px;
    }

    .card .title {
        margin-top: 10px;
    }

    .quick-panel {
        background-color: #fff;
        margin: 20px 0 0 0;
        border-radius: 4px;
        box-shadow: 0 5px 5px -5px #333;
        padding: 25px 0 20px 0;
    }

    .quick-panel .action {
        text-align: center;
    }

    .quick-panel .action i {
        margin-right: 5px;
    }

    .quick-panel .action a:hover {
        color: #337ab7;
    }

    @media screen and (max-width: 480px) {
        .quick-panel .action {
            text-align: left;
            margin-bottom: 10px;
        }
        .quick-panel .action .h1 {
            margin-left: 0;
            font-size: 18px;
        }
    }
    /* User page */

    .user-page .h1 {
        margin: 30px 0 10px 0;
        font-size: 24px;
    }

    .user-actions {
        margin: 20px 0;
    }

    .user-actions div {
        text-align: center;
    }

    .user-actions .h2 {
        font-size: 18px;
    }

    .user-actions a:hover {
        color: #337ab7;
    }

    .user-actions i {
        color: #03a9d9;
        margin: 10px;
    }

    @media screen and (max-width: 480px) {
        .user-actions {
            margin: 20px 0;
        }
        .user-actions i{
            margin: 6px;
        }
        .p1{
            margin: 0;
        }
        .user-actions div {
            text-align: left;
            padding: 0;
        }
        .user-actions .h2 {
            margin-left: 0;
        }
    }
    /* Reg center */

    .reg-center {
        margin: 20px 0 10px 0;
        background: #f7f7f7;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding: 20px 30px 25px 25px;
    }

    .reg-center .h2 {
        margin: 0 0 0 15px;
        font-size: 25px;
        color: #1c3651;
    }

    .reg-center .content-icon {
        margin: 0;
        vertical-align: middle;
        color: #03a9d9;
    }

    .reg-center span {
        vertical-align: middle;
    }

    .reg-center .contact {
        margin-left: 15px;
    }
