
  .block:hover .block_l>p.h1 {
    color: #03A9D9;
     transition: 1s;
}
  #icon1{
    background-image:url("icons/ehali.png");
    width:100px;
    height:100px;
}
.block:hover .block_l>#icon1{
    background-image:url("icons/ehali_on.png");
    transition: 1s;
}
  #icon2{
    background-image:url("icons/fiziki.png");
    width:100px;
    height:100px;
}
.block:hover .block_l>#icon2{
    background-image:url("icons/fiziki_on.png");
    transition: 1s;
}
  #icon3{
    background-image:url("icons/huquqi.png");
    width:100px;
    height:100px;
}
.block:hover .block_l>#icon3{
    background-image:url("icons/huquqi_on.png");
    transition: 1s;
}
  #icon4{
    background-image:url("icons/dovlet.png");
     width:100px;
    height:100px;
}
.block:hover .block_l>#icon4{
    background-image:url("icons/dovlet_on.png");
    transition: 1s;
}
  #icon5{
    background-image:url("icons/cb.png");
    width:100px;
    height:100px;
}
.block:hover .block_l>#icon5{
    background-image:url("icons/cb_on.png");
    transition: 1s;
}