﻿@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elektron statistik məlumat bazası və analitik hesabatlılıq sistemi</title>
    <link rel="shortcut icon" href="~/cbar/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="~/cbar/bootstrap.min.css" />
    <link rel="stylesheet" href="~/cbar/site.css" />
    <link rel="stylesheet" href="~/cbar/font-awesome.min.css" />

    <link rel="stylesheet" href="~/cbar/css/fonts.css?v=4" />
    <link rel="stylesheet" href="~/cbar/css/main.css?v=12" />
    <link rel="stylesheet" href="~/cbar/css/media.css?v=2" />
    <link rel="stylesheet" href="~/cbar/libs/hover-animations/hover.css" />
    <link rel="stylesheet" href="~/cbar/css/dropdowns.css?v=3" />
    <link href="~/cbar/select2/select2.min.css" rel="stylesheet" />
    <link href="~/cbar/select2/select2-bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/cbar/custom/styles.css?v=6" />
    <link rel="stylesheet" href="~/cbar/img/icons.css" />
    <link href="~/cbar/custom/breadcrumb.css" rel="stylesheet" />
    <link href="~/cbar/custom/esahs.css" rel="stylesheet" />
    <link href="~/cbar/custom/custom.css?v=2" rel="stylesheet" />
    <link href="~/cbar/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <style>
        .esahs-li a:hover {
            text-decoration: none;
        }
    </style>

</head>
<body>
    <div id="preloader" style="display: none;">
        <div id="status" style="display: none;">&nbsp;</div>
    </div>
    <header>
        <div class="@(Context.Session.GetString("Username") == null ? "container" : "")">
            <div>
                <div class="row" style="margin-right:0;margin-left:0;">
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <a href="https://e-cbar.az">
                            <img class="logo" src="~/cbar/img/icons/logo.png">
                            <p class="logo_p">AZƏRBAYCAN RESPUBLİKASI MƏRKƏZİ BANKININ<br><span>ELEKTRON XİDMƏTLƏR PORTALI</span></p>
                        </a>
                    </div>
                    <div class="hidden-xs hidden-sm col-md-7 col-sm-5 col-xs-12">
                        <ul class="menu">
                            <a href="https://e-cbar.az/">
                            <li>
                                ANA SƏHİFƏ
                            </li>
                            </a>
                            <a href="http://www.cbar.az/">
                            <li>
                                MƏRKƏZİ BANK
                            </li>
                            </a>
                            <a href="https://e-cbar.az/Home/Contact">
                            <li>
                                BİZİMLƏ ƏLAQƏ
                            </li>
                            </a>
                        </ul>
                    </div>
                    <div class="col-sm-5 hidden-md hidden-lg col-xs-9"></div>


                    <button class="hidden-md hidden-lg auth_buttons"><i class="fa fa-bars" aria-hidden="true"></i></button>
                    <ul style="display:none;" class="hidden-md hidden-lg mob_menu">
                        <a href="https://e-cbar.az/">
                        <li>
                            ANA SƏHİFƏ
                        </li>
                        </a>
                        <a href="http://www.cbar.az/">
                        <li>
                            MƏRKƏZİ BANK
                        </li>
                        </a>
                        <a href="https://e-cbar.az/Home/Contact">
                        <li>
                            BİZİMLƏ ƏLAQƏ
                        </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    @if (Context.Session.GetString("Username") == null)
    {
        <div class="breadcrumbs-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">

                        @* <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>*@
                        @* <li><a href="/">@prudential_shared.Tools.GetAppUrlDomain(Context.Request.Path.ToUriComponent())</a></li>*@
                        <!--<li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li><a href="~/">Prudensial sistemi</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            @RenderSection("currentpagelink", required: false)
                        </ul>-->
                    </div>
                    <div class="col-md-5" style="text-align: right;padding-top: 4px;">
                    </div>
                </div>
            </div>
        </div>

        @RenderBody()
    }
    else
    {
        <div class="row esahs_row esahs-content">
            <div class="col-md-2 esahs-menu">
                <ul class="esahs-ul">
                    @{
                        bool isBankprudentialUser = ToolsCBAR.HasRole(CBARUserRole.Bank_prudential);
                    }
                    @if (isBankprudentialUser)
                    {
                        <li class="esahs-li">
                            <a href="~/" class="esahs-a ">
                                <i class="fa fa-tachometer esahs-icon"></i>
                                <span class="esahs-span">ANA SƏHİFƏ</span>
                            </a>
                        </li>
                        <li class="esahs-li">
                            <a href="javascript:void(0)" class="esahs-a">
                                <i class="fa fa-file-text esahs-icon"></i>
                                <span class="esahs-span">HESABATLAR</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left esahs-icon pull-right" aria-hidden="true"></i>
                                </span>
                            </a>
                            <ul class="esahs-dis">

                                <li>
                                    <a href="@Url.Action("UploadReport","StatReports")">
                                        <i class="fa fa-circle-o"></i>
                                        <span>Hesabat yüklə</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","StatReports")">
                                        <i class="fa fa-circle-o"></i>
                                        <span>Hesabat arxivi</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="esahs-li">
                            <a href="javascript:void(0)" class="esahs-a">
                                <i class="fa fa-university esahs-icon"></i>
                                <span class="esahs-span">STATİSTİK VAHİDLƏR</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left esahs-icon pull-right" aria-hidden="true"></i>
                                </span>
                            </a>
                            <ul class="esahs-dis">
                                <li>
                                    <a href="~/Responsibles/ResponsiblesStatUnits">
                                        <i class="fa fa-circle-o"></i>
                                        <span>Məsul şəxslər</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Responsibles/CertUsers">
                                        <i class="fa fa-circle-o"></i>
                                        <span>İmza Sahibləri</span>
                                    </a>
                                </li>
                            </ul>
                        </li>



                        var UnreadCount = DBCBAR.GetUnreadInboxMessagesCount((int)Context.Session.GetInt32("UserId"));

                        <li class="esahs-li">
                            <a href="javascript:void(0)" class="esahs-a">
                                <i class="fa fa-envelope esahs-icon"></i>
                                @if (UnreadCount > 0)
                                {
                                    <span class="esahs-span">BİLDİRİŞLƏR</span> <span class="badge">@UnreadCount</span>
                                }
                                else
                                {
                                    <span class="esahs-span">BİLDİRİŞLƏR</span>
                                }
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left esahs-icon pull-right" aria-hidden="true"></i>
                                </span>
                            </a>
                            <ul class="esahs-dis">
                                <li>
                                    <a href="~/Messages/Inbox">
                                        <i class="fa fa-circle-o"></i>
                                        @if (UnreadCount > 0)
                                        {
                                            <span>Gələn bildirişlər</span> <span class="badge">@UnreadCount</span>
                                        }
                                        else
                                        {
                                            <span>Gələn bildirişlər</span>

                                        }
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Messages/Sent">
                                        <i class="fa fa-circle-o"></i>
                                        <span>Göndərilənlər</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Messages/Compose">
                                        <i class="fa fa-circle-o"></i>
                                        <span>Bildiriş yaz</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    <li class="esahs-li">
                        <a href="javascript:void(0)" class="esahs-a">
                            <i class="fa fa-wrench esahs-icon"></i>
                            <span class="esahs-span">Konstruktor</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left esahs-icon pull-right" aria-hidden="true"></i>
                            </span>
                        </a>
                        <ul class="esahs-dis">
                            <li>
                                <a href="#">
                                    <i class="fa fa-circle-o"></i>
                                    <span>Hesabat Konstruktoru</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-circle-o"></i>
                                    <span>Əlavə faylların konstruktoru</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-circle-o"></i>
                                    <span>Formul Konstruktoru</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    @if (isBankprudentialUser)
                    {
                        <li class="esahs-li">
                            <a href="javascript:void(0)" class="esahs-a">
                                <i class="fa fa-info-circle esahs-icon"></i>
                                <span class="esahs-span">MƏLUMAT</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left esahs-icon pull-right" aria-hidden="true"></i>
                                </span>
                            </a>
                            <ul class="esahs-dis">
                                <li>
                                    <a href="~/Responsibles/ResponsiblesCBAR">
                                        <i class="fa fa-circle-o"></i>
                                        <span>Məsul şəxslər (MB)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Info/CheckRules">
                                        <i class="fa fa-circle-o"></i>
                                        <span>Yoxlamalar</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Info/ReportTemplates">
                                        <i class="fa fa-circle-o"></i>
                                        <span>Hesabat Formaları</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="~/Info/Downloads/2">
                                        <i class="fa fa-circle-o"></i>
                                        <span>İstifadəçi təlimatı</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }

                </ul>
            </div>
            <div class="col-md-10 esahs-item">
                <div class="row breadcrumbs-div">
                    <div class="col-md-7">
                        <ul class="breadcrumbs">
                            <li><a href="https://e-cbar.az/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li><a href="~/">Prudensial sistemi</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            @RenderSection("currentpagelink", required: false)
                        </ul>
                    </div>

                    <div class="col-md-5" style="text-align: right;padding-top: 4px;">
                        <span>İstifadəçi: </span>  @Context.Session.GetString("Username")
                        <span>&nbsp;&nbsp;</span>
                        <a href="@Url.Action("Logout", "Home")">Çıxış</a>
                    </div>

                </div>
                <div class="row esahs-container-wrapper">

                    @RenderBody()

                </div>
            </div>
        </div>
    }

    <footer>
        @if (Context.Session.Get("Username") == null)
        {
            <div class="container">
                <div class="row">
                    <h2 class="separator"></h2>
                    <p class="p_foot">© @DateTime.Now.Year. Azərbaycan Respublikası Mərkəzi Bankının Elektron Xidmətlər Portalı</p>
                </div>
            </div>
        }
        else
        {
            <div class="row esahs_row">
                <div class="col col-md-2 esahs-menu-footer">
                    &nbsp;
                </div>
                <div class="col col-md-10 esahs-item-footer">
                    © @DateTime.Now.Year. Azərbaycan Respublikası Mərkəzi Bankının Elektron Xidmətlər Portalı
                </div>
            </div>
        }
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="~/cbar/select2/select2.full.min.js"></script>
    <script src="~/cbar/js/dropdown.js"></script>
    <script src="~/cbar/js/dropdown.js"></script>
    <script src="~/cbar/js/common.js"></script>
    <script src="~/cbar/js/esahs.js?v=12"></script>
    <script src="~/cbar/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/cbar/bootstrap-datepicker/locales/bootstrap-datepicker.az.min.js"></script>


    @RenderSection("scripts", required: false)
</body>
</html>