﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - E-CBAR Statistika</title>
    <link rel="shortcut icon" href="~/cbar/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="~/cbar/bootstrap.min.css" />
    <link rel="stylesheet" href="~/cbar/bootstrap-theme.css" />

    <link rel="stylesheet" href="~/cbar/site.css" />
    <link rel="stylesheet" href="~/cbar/font-awesome.min.css" />

    <link rel="stylesheet" href="~/cbar/css/fonts.css?v=4" />
    <link rel="stylesheet" href="~/cbar/css/main.css?v=12" />
    <link rel="stylesheet" href="~/cbar/css/media.css?v=2" />
    <link rel="stylesheet" href="~/cbar/libs/hover-animations/hover.css" />
    <link rel="stylesheet" href="~/cbar/css/dropdowns.css?v=3" />
    <link href="~/cbar/select2/select2.min.css" rel="stylesheet" />
    <link href="~/cbar/select2/select2-bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/cbar/custom/styles.css?v=6" />
    <link rel="stylesheet" href="~/cbar/img/icons.css" />
    <link href="~/cbar/custom/breadcrumb.css" rel="stylesheet" />
    <link href="~/cbar/custom/esahs.css?v=5" rel="stylesheet" />
    <link href="~/cbar/custom/custom.css?v=2" rel="stylesheet" />

    <script src="~/cbar/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/cbar/Scripts/moment.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/dataTables.buttons.min.js"></script>
    <script src="~/cbar/Scripts/jszip.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/buttons.html5.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/buttons.bootstrap.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/buttons.print.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/dataTables.fixedColumns.min.js"></script>

</head>
<body style="background-color: white;">
    @RenderBody()

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="~/cbar/select2/select2.full.min.js"></script>
    <script src="~/cbar/js/dropdown.js"></script>
    <script src="~/cbar/js/dropdown.js"></script>
    <script src="~/cbar/js/common.js"></script>
    <script src="~/cbar/js/esahs.js?v=12"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
