body {
    background: #f8f8f8;
}

/*body {
    overflow: hidden;
}*/

/* Preloader */

.bsxm-lincs {
    font-family: "BebasNeue", Arial, sans-serif;
    font-size: 21px;
    font-weight: 100;
    line-height: 1;
    margin-top: 14px;
    transition: 0.3s;
    margin-left: 17px;
    margin-bottom: 7px;
    margin-right: 10px;
}

    .bsxm-lincs:hover {
        color: #1C3651;
    }

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99;
}

    #preloader #status {
        width: 200px;
        height: 200px;
        position: absolute;
        left: 50%;
        top: 50%;
        background-image: url('../images/ajax-loader.gif');
        background-repeat: no-repeat;
        background-position: center;
        margin: -100px 0 0 -100px;
    }

header {
    width: 100%;
    background: #1c3651;
    margin-bottom: 5px;
}

.logo {
    float: left;
    margin: 30px;
    margin-right: 10px;
    margin-left: 10px;
    width: 50px;
}

.logo_p {
    color: #fff;
    font-family: "BebasNeue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 100 !important;
    text-transform: uppercase;
    margin-top: 33px;
}

    .logo_p span {
        color: #fff;
        font-family: "BebasNeue", Arial, sans-serif;
        font-size: 25px;
        font-weight: 100 !important;
        margin-left: -1px;
    }

header a:hover, header a:focus {
    text-decoration-color: transparent;
    text-decoration-line: none;
    text-decoration-style: none;
}

.menu {
    padding-left: 0;
    margin: 0 auto;
    display: table;
    margin-top: 33px;
    float: right;
}

    .menu li {
        list-style-type: none;
        float: left;
        padding: 10px 0;
        margin-right: 20px;
        margin-left: 20px;
        padding-bottom: 0;
        color: #fff;
        font-family: "BebasNeue", Arial, sans-serif;
        font-size: 18px;
        font-weight: 100 !important;
        /*transition: 0.6s;*/
    }

        .menu li:hover, .menu li.active {
            border-bottom: 2px solid #03A9D9;
        }

.bttt {
    background: transparent;
    border: 0;
    color: #fff;
    font-family: "BebasNeue", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 43px;
}

.fa-angle-down {
    color: #fff !important;
    font-size: 18px !important;
}

.ecbar-dropdown-menu.dropdown-menu {
    min-width: 77px !important;
    border-radius: 0 !important;
    background: #f8f8f8 !important;
    text-align: center !important;
    color: #1C3651 !important;
    font-family: "BebasNeue", Arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: 400;
}

.fa-bars {
    color: #fff !important;
    font-size: 18px !important;
}

.auth_buttons {
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 9px;
    position: relative;
    top: -54px;
    margin-left: 20px;
    margin-bottom: -37px;
    float: left;
    z-index: 1111;
}

.mob_menu {
    position: relative;
    padding-left: 0;
    width: 100%;
}

    .mob_menu li {
        list-style-type: none;
        padding: 10px 0;
        margin-right: 20px;
        margin-left: 20px;
        padding-bottom: 0;
        color: #fff;
        font-family: "BebasNeue", Arial, sans-serif;
        font-size: 18px;
        transition: 0.3s;
        text-align: center;
    }

        .mob_menu li:hover {
            color: #0f90bb;
        }

.block {
    width: 100%;
    margin: 0 auto;
    display: table;
    margin-top: 30px;
    transition: 0.6s;
    -moz-box-shadow: 0 5px 5px -5px #333;
    -webkit-box-shadow: 0 5px 5px -5px #333;
    box-shadow: 0 5px 5px -5px #333;
}

.block_l {
    width: 87%;
    float: left;
    background: #fff;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    min-height: 148px;
}

.block_r {
    width: 13%;
    float: left;
    background: #173652;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: 0.6s;
}

.block:hover .block_r {
    background: #03A9D9;
}

.h1 {
    color: #4a4a4c;
    font-family: "BebasNeue", Arial, sans-serif;
    font-size: 21px;
    font-weight: 100;
    line-height: 1;
    margin-top: 14px;
    transition: 0.3s;
    margin-left: 17px;
    margin-bottom: 7px;
    margin-right: 10px;
}

    .h1:hover {
        color: #1C3651;
    }

.h2 {
    color: #4a4a4c;
    font-family: "HelveticaNeue", Arial, sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 1.2;
    margin-top: 14px;
    transition: 0.3s;
    margin-left: 17px;
    margin-bottom: 7px;
    margin-right: 10px;
}

    .h2:hover {
        color: #1C3651;
    }

.p1 {
    color: #696969;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    margin-left: 18px;
    margin-right: 10px;
    margin-top: 0;
}

.p2 {
    color: #696969;
    font-family: "Fira Sans", sans-serif;
    font-size: 12px;
    line-height: 1;
    margin-left: 18px;
}

    .p2 span {
        color: #696969;
        font-family: "Fira Sans", sans-serif;
        font-size: 12px;
        font-weight: 700;
    }

.ico {
    width: 28px;
    height: 28px;
    margin: 0 auto;
    display: table;
    margin-top: 60px;
    margin-bottom: 60px;
}

.p_foot {
    color: #49494b;
    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
    margin-left: 15px;
}

.content_top {
    width: 100%;
    background: #0b2134;
    cursor: pointer;
    float: left;
    margin-top: 30px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.content_p {
    color: #fff;
    font-family: "BebasNeue", Arial, sans-serif;
    font-size: 24px;
    font-weight: 100;
    padding: 10px;
    margin: 0 auto;
}

.block_icon {
    width: 32px;
    height: 32px;
    margin-right: 15px;
}

.content_bottom {
    width: 100%;
    background: #fff;
    float: left;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
}

.content_bottom_p1 {
    margin: 10px;
    color: #49494b;
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    transition: 0.2s;
}

    .content_bottom_p1:hover {
        color: #03A9D9;
    }

.arr {
    width: 100%;
    background: #eaeaea;
    float: left;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bt_cl {
    color: #fff;
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    width: 80%;
    background: #03a9d9;
    border-radius: 4px;
    margin-left: 10px;
    margin-bottom: 20px;
    transition: 1s;
}

.bt_dw {
    color: #173652;
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    width: 80%;
    background: #03a9d9;
    border-radius: 4px;
    margin-left: 10px;
    margin-bottom: 20px;
    transition: 1s;
}

    .bt_cl:hover, .bt_dw:hover {
        box-shadow: 300px 0 0 0 rgba(0, 0, 0, 0.25) inset, -300px 0 0 0 rgba(0, 0, 0, 0.25) inset;
    }

    .bt_cl p, .bt_dw p {
        padding: 6px 10px;
    }

.date {
    background: #03a9d9;
    color: #fff;
    font-family: "Fira Sans", sans-serif;
    font-size: 12px;
    border-radius: 4px;
    padding: 2px 6px;
    margin-left: 10px;
    cursor: default;
}

.bt_cl2 {
    margin-top: 30px;
}

.content_bottom_p1_n {
    margin-bottom: 29px;
}

.fa-paper-plane {
    color: #fff !important;
    float: right;
    font-size: 16px !important;
    margin-top: 3px;
}

input[type=text], input[type=email], input[type=password], textarea {
    /*border: 2px solid #03a9d9 !important;*/
    font-family: "Fira Sans", sans-serif;
}

input[type=submit], input[type=button], .btn-primary {
    background: #03a9d9 !important;
    border-color: #03a9d9 !important;
    color: #fff;
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    border-radius: 4px;
    transition: 1s;
}

select {
    /*padding-right: 36px !important;*/
    /*border: 2px solid #03a9d9 !important;*/
    /*font-family: "Fira Sans", sans-serif;
    color: #49494b;
    font-size: 14px;
    border-radius: 4px;
    border: 2px solid #03a9d9;*/
    -webkit-appearance: none;
    /*background-image: url('../img/arr.png') !important;
    background-position: right center;
    background-repeat: no-repeat;*/
    line-height: 1em;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    -ms-appearance: none;
    appearance: none !important;
    cursor: pointer;
}

    select::-ms-expand {
        display: none;
    }

.ecbar-dropdown-menu.dropdown-menu li {
    margin-left: -12px;
}

option {
    padding-left: 10px;
}

h4 {
    font-size: 25px !important;
    margin-left: 0px;
    color: #4a4a4c !important;
    font-family: "BebasNeue", Arial, sans-serif;
    font-size: 21px;
    font-weight: 100;
    line-height: 1;
    margin-top: 14px;
    transition: 0.3s;
    margin-left: 17px;
    margin-bottom: 7px;
    margin-right: 10px;
}

.form-control-inline {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}



.select2-selection {
    /*border: 2px solid #03a9d9 !important;
    border-radius: 4px;
    background-image: url('../img/arr.png') !important;
    background-position: right center;
    background-repeat: no-repeat;*/
}

select.select2.form-control {
    padding: 6px 6px;
}


