/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .logo_p {
        font-size: 12px;
        margin-top: 37px;
    }

    .logo_p span {
        font-size: 16px;
    }

    .menu li {
        margin-right: 4px;
        margin-left: 4px;
        font-size: 16px;
    }

    .menu {
        margin-top: 38px;
    }

    .bttt {
        font-size: 16px;
        margin-top: 48px;
    }

    .fa-angle-down {
        font-size: 14px !important;
    }

    .logo {
        margin-left: 0;
    }

    .auth_buttons {
        top: 32px;
    }

    .mob_menu {
        position: relative;
        padding-left: 0;
        width: 100%;
        float: left;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
    .block_l {
        min-height: 148px;
    }

    .bttt {
        position: relative;
        top: -18px;
    }

    .auth_buttons {
        top: -54px;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .bttt {
        margin-top: 0;
        margin-bottom: 20px;
        top: 0;
    }

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    footer {
        text-align: center;
    }

    .separator {
        width: 97%;
        border-bottom: 2px solid rgba(0, 0, 0, 0.08);
        padding-bottom: 22px;
        margin-left: 18px;
        margin-top: 5px;
    }

}