﻿.ui-widget-content {
	border: 1px solid #aaaaaa75;
	color: #222222;
}

.ui-widget-overlay {
	opacity: 0;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
	z-index: 3;
	color: #fff;
	cursor: default;
	background-color: #03a9d9 !important;
	border-color: #03a9d9 !important;
}

table.dataTable tbody tr.selected {
	background-color: #049cdbc7;
}

.top-buffer {
	margin-top: 10px;
}

.panel-default > .panel-heading {
	background-image: none;
	background-color: #3f51b5 !important;
	color: white;
}

.material-table table {
	margin-bottom: 0;
	border: solid 1px #dddddd;
}

	.material-table table tr {
		cursor: pointer;
	}

table thead tr:first-child th {
	font-size: 14px;
	background: #efefef;
	border-bottom: none;
}

.text-danger {
	color: #dc3545;
	display: block;
}

.input-validation-error {
	background-color: #fff !important;
	border-color: #dc3545 !important;
}

.ui-dialog .ui-dialog-titlebar-close {
	visibility: hidden;
}

.ui-dialog .ui-dialog-buttonpane button.ui-button:nth-child(1) {
	background: #008CBA !important;
}

.custom_datatables_filter {
	float: right;
}

select[name=forms_datatable_length] {
	width: 100px;
}

.company-horizontal {
	max-height: calc(99vh - 210px);
	overflow-x: hidden;
}
