﻿@model List<CertUserReportFileTypeDetail>
@{
    ViewBag.Title = "İmza Sahibləri";
}

<style>
    .button-container {
        display: flex;
        flex-direction: column;
    }

        .button-container > input {
            margin: 5px;
        }
</style>

@section Currentpagelink
{
    <li><a href="javascript:void(0)">Statistik Vahidlər</a></li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li>
        @Html.ActionLink("İmza Sahibləri", "CertUsers", new { cu = 1 })
    </li>
}
<div class="col-md-12 esahs-container-padd">
    <h1>@ViewBag.Title</h1>
    <div class="form-horizontal" style="margin-top:20px;margin-bottom:20px;">
        @using (Html.BeginForm("CertUsers", "Responsibles", FormMethod.Get))
        {
            <div class="row">
                <div class="col col-md-4">
                    <label>Statistik vahid növü</label>
                    @Html.DropDownList("bankType", (List<SelectListItem>)ViewBag.BankTypeList, new { @class = "form-control", multiple = "multiple" })
                </div>
                <div class="col col-md-4">
                    <label>Statistik vahid</label>
                    @Html.DropDownList("cu", (List<SelectListItem>)ViewBag.BankList, null, new { @class = "form-control select2" })
                </div>
                <div class="col col-md-2 hidden">
                    <label>&nbsp;</label>
                    <input type="submit" value="Göstər" class="btn btn-primary" id="btShow" />
                </div>
            </div>
        }
    </div>

    <div class="table-responsive esahs-table">
        <table class="table table-bordered" id="tblUserInfo">
            <thead>
                <tr>
                    <th>
                        Hesabat növü
                    </th>
                    <th>
                        Adı Soyadı
                    </th>
                    <th>
                        Vəzifəsi
                    </th>
                    <th>
                        Telefon
                    </th>
                    <th>
                        Email
                    </th>
                </tr>
            </thead>
            <tbody id="usersTableId">
                @if (Model.Count == 0)
                {
                    <tr>
                        <td colspan="5" style="text-align:center">
                            Bu bank üzrə imza sahib(lər)i təyin olunmayıb
                        </td>
                    </tr>
                }
                @foreach (var item in Model)
                {

                    <tr>
                        <td style="text-align:center,left" class="report-type-name">
                            @item.ReportFileTypeName
                        </td>
                        <td>
                            @Html.Raw(Html.Encode(item.User.FullName).Replace(",", "<br />"))
                        </td>
                        <td>
                            @Html.Raw(Html.Encode(item.User.Position).Replace(",", "<br />"))
                        </td>
                        <td>
                            @Html.Raw(Html.Encode(item.User.Phone).Replace(",", "<br />"))
                        </td>
                        <td>
                            @Html.Raw(Html.Encode(item.User.Email).Replace(",", "<br />"))
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>



@section Scripts
{
    <script>
        $(function () {
            $('#cu').change(function () {
                $('#btShow').click();
            });
        });
    </script>
    <link href="~/cbar/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/cbar/bootstrap-theme.css" rel="stylesheet" />*@
    <link href="~/cbar/DataTables/css/fixedColumns.bootstrap.min.css" rel="stylesheet" />
    <link href="~/cbar/css/bootstrap-multiselect.css" rel="stylesheet" />
    <script src="~/cbar/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/cbar/Scripts/moment.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/dataTables.buttons.min.js"></script>
    <script src="~/cbar/Scripts/jszip.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/buttons.html5.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/buttons.bootstrap.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/buttons.print.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/dataTables.fixedColumns.min.js"></script>
    <script src="~/cbar/Scripts/excelexportjs.js"></script>
    <script src="~/cbar/Scripts/bootstrap-multiselect.js"></script>
    <script>
        $('#bankType').multiselect({
            includeSelectAllOption: true,
            buttonWidth: '100%',
            nonSelectedText: 'Seçilməyib',
            nSelectedText: ' - növ',
            includeSelectAllOption: false,
            inheritClass: true,
            onDropdownHide: function (event) {
                var bankTypeIds = $("#bankType").val();
                if (!bankTypeIds)
                    bankTypeIds = [];
                url = window.location.href;
                var bankTypes = bankTypeIds.filter(function (x) { return x.id != '' }).map(function (x) { return 'bankType=' + x; })
                var indx = url.indexOf('?') + 1;
                var newUrl = (indx == 0 ? url + '?' : url.substring(0, indx)) + bankTypes.join('&');
                window.location.href = newUrl;
            }
        });

        $('#bankType').multiselect("select", getIds('bankType'));
        function getIds(paramName) {
            url = window.location.href;
            var all = url.slice(url.indexOf('?') + 1).split('&');
            var prms = all.filter(function (p) {
                return String(p).startsWith(paramName + '=');
            });
            if (!prms)
                prms = [];
            return prms.map(function (x) { return String(x).replace(paramName + '=', '') });
        }

    </script>
}
