﻿@model IEnumerable<ResponsiblesInfo>

@{
    ViewBag.Title = "Məsul şəxslər (SV)";
}

<style>
    input, select, textarea {
        max-width: 100%;
    }
</style>

@section Currentpagelink
{
    <li><a href="javascript:void(0)">Statistik Vahidlər</a></li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li>
        @Html.ActionLink("Məsul şəxslər (SV)", "ResponsiblesStatUnits")
    </li>
}
<div class="col-md-12 esahs-container-padd">
    <h1>@ViewBag.Title</h1>

    <div class="form-horizontal" style="margin-top:20px;margin-bottom:20px;">
        @using (Html.BeginForm("ResponsiblesStatUnits", "Responsibles", FormMethod.Post))
        {
            <div class="row">
                <div class="col col-md-4">
                    <label>Statistik vahid növü</label>
                    @Html.DropDownList("bankType", (List<SelectListItem>)ViewBag.BankTypeList, new { @class = "form-control", multiple = "multiple" })
                </div>
                <div class="col col-md-4">
                    <label>Statistik vahid</label>
                    @Html.DropDownList("su", (List<SelectListItem>)ViewBag.BankList, null, new { @class = "form-control select2" })
                </div>
                <div class="col col-md-2">
                    <label>Hesabat növü</label>
                    <select name="reportFileType" class="form-control" multiple style="width:100%" id="reportFileType">
                        @foreach (CustomSelectListItem customSelectList in (List<CustomSelectListItem>)ViewBag.ReportFileTypes)
                        {
                            if (customSelectList.Value == Context.Request.Query["reportFileType"])
                            {
                                <option value="@customSelectList.Value" selected>@customSelectList.Text</option>
                            }
                            else
                            {
                                <option value="@customSelectList.Value">@customSelectList.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="col col-md-2 hidden">
                    <label>&nbsp;</label>
                    <input type="submit" value="Göstər" class="btn btn-primary" id="btShow" />
                </div>
            </div>
        }
    </div>

    @await Html.PartialAsync("ResponsiblesPartial", Model)

</div>
@section Scripts
{
    <link href="~/cbar/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/cbar/DataTables/css/fixedColumns.bootstrap.min.css" rel="stylesheet" />
    <link href="~/cbar/css/bootstrap-multiselect.css" rel="stylesheet" />
    <script src="~/cbar/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/cbar/Scripts/moment.min.js"></script>

    <script src="~/cbar/Scripts/DataTables/dataTables.buttons.min.js"></script>
    <script src="~/cbar/Scripts/jszip.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/buttons.html5.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/buttons.bootstrap.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/buttons.print.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/dataTables.fixedColumns.min.js"></script>
    <script src="~/cbar/Scripts/excelexportjs.js"></script>
    <script src="~/cbar/Scripts/bootstrap-multiselect.js"></script>
    <script>
        sessionStorage.selectedReportFileTypes = [];
        sessionStorage.selectedBankTypeIds = [];
        var bankTypeIds = $("#bankType").val();
        var btArray = [];
         $(function () {
            $('#su').change(function () {
                bankTypeIds = $("#bankType").val();
                sessionStorage.selectedBankTypeIds = $("#bankType").val();
                var bankId = $('#su').val();
                var rft = $('#reportFileType').val();
                var rftString = rft.length == 0 ? "-1" : "";
                for (var i = 0; i < rft.length; i++) {
                    rftString = rftString + rft[i] + ",";
                }
                rftString = rftString.substring(0, rftString.lastIndexOf(","));
                $.ajax('@Url.Action("ResponsiblesStatUnits", "Responsibles")',
                {
                    method: "POST",
                    data: jQuery.param({ su: bankId, bankType: bankTypeIds, reportFileTypes: rftString })
                }).done(function(result) {
                    var table = $($.parseHTML(result)).find("#tbl_responsible").html();
                    var changedTable = $("#tbl_responsible").html(table);
                    var su = $($.parseHTML(result)).find("#su").html();
                    var changedSu = $("#su").html(su);
                 }
               );
            });
        });
        $('#bankType').multiselect({
            includeSelectAllOption: true,
            buttonWidth: '100%',
            nonSelectedText: 'Seçilməyib',
            nSelectedText: ' - növ',
            includeSelectAllOption: false,
            inheritClass: true,
            onDropdownHide: function (event) {
                bankTypeIds = $("#bankType").val();
                sessionStorage.selectedBankTypeIds = $("#bankType").val();
                var bankId = $('#su').val();
                var rft = $('#reportFileType').val();
                var rftString = rft.length == 0 ? "-1" : "";
                for (var i = 0; i < rft.length; i++) {
                    rftString = rftString + rft[i] + ",";
                }
                rftString = rftString.substring(0, rftString.lastIndexOf(","));
                $.ajax('@Url.Action("ResponsiblesStatUnits", "Responsibles")',
                {
                    method: "POST",
                    data: jQuery.param({ su: bankId, bankType: bankTypeIds, reportFileTypes: rftString })
                }).done(function(result) {
                    var table = $($.parseHTML(result)).find("#tbl_responsible").html();
                    var changedTable = $("#tbl_responsible").html(table);
                    var su = $($.parseHTML(result)).find("#su").html();
                    var changedSu = $("#su").html(su);
                })
            }
        });

        $('#bankType').multiselect('select', sessionStorage.getItem("selectedBankTypeIds").length > 0 ? sessionStorage.getItem("selectedBankTypeIds").split(",") : []);

        $('#reportFileType').multiselect({
        includeSelectAllOption: true,
        nonSelectedText: 'Seçilməyib',
        nSelectedText: " hesabat seçilib",
        selectAllText: "Bütün hesabatlar seçilsin",
        allSelectedText: "Bütün hesabatlar seçilib",
        enableFiltering: true,
        maxHeight: 250,
        buttonWidth: 190,
        filterPlaceholder: "Axtar",
            onDropdownHide: function (event) {
                var bankId=$('#su').val();
                var rft = $('#reportFileType').val();
                var rftString = "";
                for (var i = 0; i < rft.length; i++) {
                    rftString = rftString + rft[i] + ",";
                }
                rftString = rftString.substring(0, rftString.lastIndexOf(","));
                sessionStorage.selectedReportFileTypes = $("#reportFileType").val();
                $.ajax('@Url.Action("ResponsiblesStatUnits", "Responsibles")',
                {
                    method: "POST",
                    data: jQuery.param({ su: bankId, bankType: bankTypeIds, reportFileTypes: rftString })
                }).done(function(result) {
                    var table = $($.parseHTML(result)).find("#tbl_responsible").html();
                    var changedTable = $("#tbl_responsible").html(table);
                })
            }
        });
        $('#reportFileType').multiselect('select', sessionStorage.getItem("selectedReportFileTypes").length > 0 ? sessionStorage.getItem("selectedReportFileTypes").split(",") : []);
    </script>
}