﻿@model IEnumerable<ResponsiblesInfo>
<style>
    .button-container {
        display: flex;
        flex-direction: column;
    }

        .button-container > input {
            margin: 5px;
        }
</style>

@{
    var url = Context.Request.Path.Value + Context.Request.QueryString;
    var isCbar = url.Contains("CBAR");
    var isBank = url.Contains("StatUnits");
    var bankId = ViewBag.BankId;
    <div class="table-responsive esahs-table">
        <table id="tbl_responsible" class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Hesabat növü
                    </th>
                    <th>
                        Məsul şəxs
                    </th>
                    <th>
                    </th>
                    <th>
                        Adı Soyadı
                    </th>
                    <th>
                        Struktur bölmə
                    </th>
                    <th>
                        Vəzifəsi
                    </th>
                    @if (isBank)
                    {
                        <th>
                            Telefon (İş)
                        </th>
                        <th>
                            Telefon (Mobil)
                        </th>
                    }
                    @if (isCbar)
                    {
                        <th>
                            Telefon
                        </th>
                    }
                    <th>
                        Email
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var substituteCount = 1;
                    if (item.SubstituteUserIds.Length > 1)
                    {
                        substituteCount = item.SubstituteUserIds.Length;
                    }

                    <tr>
                        <td id="td_reportFileType" style="text-align:center,left" class="report-type-name" rowspan="@(substituteCount+2)">
                            @item.ReportFileTypeName

                        </td>
                        <td>
                            İcraçı
                        </td>
                        @if (!String.IsNullOrWhiteSpace(item.Executor.EmployeeId))
                        {
                            if (isCbar)
                            {
                                <td>
                                    <a href="javascript:void(0)" onclick="ShowCbarUserEdit('@item.Executor.Name','@item.Executor.Department','@item.Executor.Position','@item.Executor.Phone','@item.Executor.Email','@item.Executor.EmployeeId')" class="fa fa-pencil " aria-hidden="false" style="color:#03a9d9; float:left;padding-bottom:inherit;padding-top:inherit;text-decoration: none" id="show"></a>
                                </td>
                            }
                            else if (isBank)
                            {
                                <td>
                                    <a href="javascript:void(0)" onclick="ShowBankUserEdit('@item.Executor.Name','@item.Executor.Department','@item.Executor.Position','@item.Executor.Position','@item.Executor.OfficePhone','@item.Executor.MobilePhone','@item.Executor.Email','@item.Executor.EmployeeId')" class="fa fa-pencil " aria-hidden="false" style="color:#03a9d9; float:left;padding-bottom:inherit;padding-top:inherit;text-decoration: none" id="show"></a>
                                </td>
                            }
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>
                            @item.Executor.Name
                        </td>
                        <td>
                            @item.Executor.Department
                        </td>
                        <td>
                            @item.Executor.Position
                        </td>
                        @if (isBank)
                        {
                            <td>
                                @item.Executor.OfficePhone
                            </td>
                            <td>
                                @item.Executor.MobilePhone
                            </td>
                        }
                        else if (isCbar)
                        {
                            <td>
                                @item.Executor.Phone
                            </td>
                        }
                        <td>
                            @item.Executor.Email
                        </td>
                        @if (item.IsAdmin && isCbar)
                        {
                            <td rowspan="@(substituteCount+2)">

                                <div class="button-container">
                                    <input type="button" value="Düzəliş et" onclick="location.href='@Url.Action("UpdateResponsiblesCBAR", "Responsibles", new { id = item.ReportFileTypeId})'" class="btn btn-primary" />
                                </div>
                            </td>
                        }
                        else if (item.IsAdmin && isBank)
                        {
                            <td rowspan="@(substituteCount+2)">
                                <div class="button-container">
                                    <input type="button" value="Düzəliş et" onclick="location.href='@Url.Action("UpdateResponsiblesSU", "Responsibles", new { id = item.ReportFileTypeId,bankid= bankId})'" class="btn btn-primary" />
                                </div>
                            </td>
                        }
                        else
                        {
                            <td rowspan="@(substituteCount+2)"></td>
                        }

                    </tr>


                    for (int i = 0; i < substituteCount; i++)
                    {
                        <tr>

                            <td>
                                Əvəz edən şəxs
                            </td>



                            @if (!String.IsNullOrWhiteSpace(item.SubstituteUserIds[i]))
                            {
                                if (isCbar)
                                {
                                    <td>
                                        <a href="javascript:void(0)" onclick="ShowCbarUserEdit('@item.SubstituteNames[i]','@item.SubstituteDepartment','@item.SubstitutePosition[i]','@item.SubstitutePhone[i]','@item.SubstituteEmails[i]','@item.SubstituteUserIds[i]')" class="fa fa-pencil " aria-hidden="false" style="color:#03a9d9; float:left; padding-bottom:inherit; padding-top:inherit;text-decoration: none" id="show"></a>
                                    </td>
                                }
                                else if (isBank)
                                {
                                    <td>
                                        <a href="javascript:void(0)" onclick="ShowBankUserEdit('@item.SubstituteNames[i]','@item.SubstituteDepartment','@item.SubstitutePosition[i]','@item.SubstituteOfficePhone[i]','@item.SubstituteMobilePhone[i]','@item.SubstituteEmails[i]','@item.SubstituteUserIds[i]')" class="fa fa-pencil " aria-hidden="false" style="color:#03a9d9; float:left; padding-bottom:inherit; padding-top:inherit;text-decoration: none" id="show"></a>
                                    </td>
                                }
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>
                                @item.SubstituteNames[i]
                            </td>
                            <td>
                                @item.SubstituteDepartment
                            </td>
                            <td>
                                @item.SubstitutePosition[i]
                            </td>
                            @if (isBank)
                            {
                                <td>
                                    @item.SubstituteOfficePhone[i]
                                </td>
                                <td>
                                    @item.SubstituteMobilePhone[i]
                                </td>
                            }
                            else if (isCbar)
                            {
                                <td>
                                    @item.SubstitutePhone[i]
                                </td>
                            }
                            <td>
                                @item.SubstituteEmails[i]
                            </td>
                        </tr>
                    }

                    <tr>

                        <td>
                            Rəhbər şəxs
                        </td>
                        @if (!String.IsNullOrWhiteSpace(item.Curator.EmployeeId))
                        {
                            if (isCbar)
                            {
                                <td>
                                    <a href="javascript:void(0)" onclick="ShowCbarUserEdit('@item.Curator.Name','@item.Curator.Department','@item.Curator.Position','@item.Curator.Phone','@item.Curator.Email','@item.Curator.EmployeeId')" class="fa fa-pencil " aria-hidden="false" style="color:#03a9d9;padding-bottom:inherit;padding-top:inherit;text-decoration: none" id="show"></a>
                                </td>
                            }
                            else if (isBank)
                            {
                                <td>
                                    <a href="javascript:void(0)" onclick="ShowBankUserEdit('@item.Curator.Name','@item.Curator.Department','@item.Curator.Position','@item.Curator.OfficePhone','@item.Curator.MobilePhone','@item.Curator.Email','@item.Curator.EmployeeId')" class="fa fa-pencil " aria-hidden="false" style="color:#03a9d9;padding-bottom:inherit;padding-top:inherit;text-decoration: none" id="show"></a>
                                </td>
                            }
                        }
                        else
                        {
                            <td></td>
                        }

                        <td>
                            @item.Curator.Name
                        </td>
                        <td>
                            @item.Curator.Department
                        </td>
                        <td>
                            @item.Curator.Position
                        </td>
                        @if (isBank)
                        {
                            <td>
                                @item.Curator.OfficePhone
                            </td>
                            <td>
                                @item.Curator.MobilePhone
                            </td>
                        }
                        else if (isCbar)
                        {
                            <td>
                                @item.Curator.Phone
                            </td>
                        }
                        <td>
                            @item.Curator.Email
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    var actionType = isCbar ? "CBAR" : "StatUnits";
    using (Html.BeginForm("UpdateResponsibles" + actionType + "User", "Responsibles", FormMethod.Post, new { id = "foFilter" }))
    {
        <div class="modal fade" id="divUserEdit" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title" id="modal_title">Əməkdaşın məlumatları</h3>
                    </div>
                    <div class="modal-body">

                        <form>
                            <div class="form-group">
                                <label for="fullName"><b>Adı, Soyadı</b></label>
                                <input class="form-control" type="text" name="fullName" id="fname" value="">
                            </div>
                            <div class="form-group">
                                <label for="department"><b>Struktur bölmə</b></label>
                                <input class="form-control" type="text" name="department" style="background-color:lightgray" id="department" value="" readonly>
                            </div>
                            <div class="form-group">
                                <label for="position"><b>Vəzifə</b></label>
                                <input class="form-control" type="text" name="position" id="position" value="">
                            </div>
                            @if (isCbar)
                            {
                                <div class="form-group">
                                    <label for="phone"><b>Telefon</b></label>
                                    <input class="form-control" type="text" name="phone" id="phone" value="">
                                </div>
                            }
                            @if (isBank)
                            {
                                <div class="form-group">
                                    <label for="phone"><b>Telefon (İş)</b></label>
                                    <input class="form-control" type="text" name="oPhone" id="oPhone" value="">
                                </div>
                                <div class="form-group">
                                    <label for="phone"><b>Telefon (Mobil)</b></label>
                                    <input class="form-control" type="text" name="mPhone" id="mPhone" value="">
                                </div>
                            }
                            <div class="form-group">
                                <label for="email"><b>Email</b></label>
                                <input class="form-control" type="text" name="email" id="email" value="">
                            </div>
                            <input type="hidden" name="eID" id="eID" value="">
                        </form>
                        <input type="hidden" name="bankId" id="bankId" value="@bankId">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Dəyiş</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Bağla</button>
                    </div>
                </div>
            </div>
        </div>
    }
}
<script>
    function ShowCbarUserEdit(name, department, position, phone, email, eID) {
        $('#divUserEdit').modal();
        $(".modal-body #fname").val(name);
        $(".modal-body #department").val(department);
        $(".modal-body #position").val(position);
        $(".modal-body #phone").val(phone);
        $(".modal-body #email").val(email);
        $(".modal-body #eID").val(eID);
    }
    function ShowBankUserEdit(name, department, position, oPhone, mPhone, email, eID) {
        $('#divUserEdit').modal();
        $(".modal-body #fname").val(name);
        $(".modal-body #department").val(department);
        $(".modal-body #position").val(position);
        $(".modal-body #oPhone").val(oPhone);
        $(".modal-body #mPhone").val(mPhone);
        $(".modal-body #email").val(email);
        $(".modal-body #eID").val(eID);
    }
</script>
