﻿@model IEnumerable<ResponsiblesInfo>

@{
    ViewBag.Title = "Məsul şəxslər (MB)";
}

@section Currentpagelink
{
    <li><a href="javascript:void(0)">Məlumat</a></li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li>
        @Html.ActionLink("Məsul şəxslər (MB)", "ResponsiblesCBAR", "Responsibles")
    </li>
}
<div class="col-md-12 esahs-container-padd">
    <h1>@ViewBag.Title</h1>
    @await Html.PartialAsync("ResponsiblesPartial", Model)

</div>

@section Scripts {
    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/jszip.min.js"></script>
    <script src="~/Scripts/DataTables/buttons.html5.min.js"></script>
    <script src="~/Scripts/DataTables/buttons.bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/buttons.print.min.js"></script>
    <script src="~/Content/js/datatables.excelexport.js"></script>
}