﻿@model ResponsiblesInfo
@{
    ViewBag.Title = "Məsul şəxslər idarəetmə paneli";
}

@section Currentpagelink
{
    <li><a href="javascript:void(0)">Məlumat</a></li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li>
        @Html.ActionLink("Məsul şəxslər (MB)", "ResponsiblesCBAR", "Responsibles")
    </li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li>
        @Html.ActionLink("Məsul şəxslər idarəetmə paneli", "UpdateResponsiblesCBAR", "Responsibles")
    </li>
}

<div class="col-md-12 esahs-container-padd" style="padding-top:20px">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert" style="padding-top:10px">
            @TempData["SuccessMessage"] <br />
        </div>
    }



    <h1>@Model.ReportFileTypeName</h1>
    <br />
    @using (Html.BeginForm("UpdateResponsiblesCBAR", "Responsibles", FormMethod.Post, new { id = "foFilter" }))
    {
        var BankUsersForExecutor = (List<SelectListItem>)ViewBag.CbarUsersList;
        var BankUsersForCurator = (List<SelectListItem>)ViewBag.CbarUsersList;

        @Html.Hidden("reportFileTypeId", Model.ReportFileTypeId)
        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2" style="margin-top:5px">
                        @Html.Label("executor", "İcraçı:")
                    </div>
                    @{
                        BankUsersForExecutor.Remove(BankUsersForExecutor.FirstOrDefault(x => x.Value == Model.Executor.EmployeeId.ToString()));
                        <div class="col-md-2">
                            @Html.DropDownList("executorId", BankUsersForExecutor, Model.Executor.Name, new { @class = "form-control select2" })
                        </div>
                        BankUsersForExecutor.Add(new SelectListItem { Text = Model.Executor.Name, Value = Model.Executor.EmployeeId });
                    }
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2" style="margin-top:5px">
                        @Html.Label("curator", "Rəhbər şəxs:")
                    </div>
                    @{

                        BankUsersForCurator.Remove(BankUsersForCurator.FirstOrDefault(x => x.Value == Model.Curator.EmployeeId.ToString()));
                        <div class="col-md-2">
                            @Html.DropDownList("curatorId", BankUsersForCurator, Model.Curator.Name, new { @class = "form-control select2" })
                        </div>
                        BankUsersForCurator.Add(new SelectListItem { Text = Model.Curator.Name, Value = Model.Curator.EmployeeId });
                    }
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2" style="margin-top:5px">
                        @Html.Label("Yeni əvəz edən şəxs")
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownList("SubstituteId", (List<SelectListItem>)ViewBag.CbarUsersList, "---", new { @class = "form-control select2" })
                    </div>
                </div>
                <br />
                <div class="col-md-4">
                    <input type="submit" value="Təsdiq et" class="btn btn-primary" style="float:right;margin-right:5px" />
                </div>
            </div>
            <div class="form-group">
                <br />
                @Html.Label("Əvəz edən şəxslər")
                <div class="table table-responsive esahs-table table-hover dataTable no-footer">
                    <table class="table table-bordered dataTable no-footer" role="grid" style="width:60%">
                        <thead>
                            <tr>
                                <th>
                                    Adı soyadı
                                </th>
                                <th>
                                    Struktur bölmə
                                </th>
                                <th>
                                    Vəzifə
                                </th>
                                <th>
                                    Sil
                                </th>
                        </thead>
                        <tbody>
                            @if (Model.SubstituteUserIds.Length > 0)
                            {
                                for (int i = 0; i < Model.SubstituteUserIds.Length; i++)
                                {
                                    <tr>

                                        <td>
                                            @Model.SubstituteNames[i]
                                        </td>
                                        <td>
                                            @Model.SubstituteDepartment
                                        </td>
                                        <td>
                                            @Model.SubstitutePosition[i]
                                        </td>
                                        @if (!String.IsNullOrWhiteSpace(Model.SubstituteUserIds[i]))
                                        {

                                            <td>
                                                <a href="@Url.Action("DeleteUserJob", "Responsibles" , new { reportFileTypeId=Model.ReportFileTypeId, userId=Model.SubstituteUserIds[i], jobId=2, roleId=100,bankId=0 })"><i class="fa fa-trash" aria-hidden="true" style="font-size:20px"></i></a>
                                            </td>


                                        }
                                        else
                                        {
                                            <td></td>
                                        }

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </form>
    }
</div>
@section Scripts {
    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/jszip.min.js"></script>
    <script src="~/Scripts/DataTables/buttons.html5.min.js"></script>
    <script src="~/Scripts/DataTables/buttons.bootstrap.min.js"></script>
}

