﻿@model ResponsiblesInfo
                            
@{
    ViewBag.Title = "Məsul şəxslər idarəetmə paneli";
}

@section Currentpagelink
{
    <li><a href="javascript:void(0)">Məlumat</a></li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li>
        @Html.ActionLink("Məsul şəxslər (SV)", "ResponsiblesStatUnits", "Responsibles")
    </li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li>
        @Html.ActionLink("Məsul şəxslər idarəetmə paneli", "UpdateResponsiblesSU", "Responsibles")
    </li>
}

@{
    var url = Context.Request.Path.Value + Context.Request.QueryString;
    var reportFileTypeId = url.Substring(url.LastIndexOf("/") + 1, url.LastIndexOf("?") - (url.LastIndexOf("/") + 1));
    var bankId = url.Substring(url.LastIndexOf("=") + 1, url.Length - (url.LastIndexOf("=") + 1));

    <div class="col-md-12 esahs-container-padd" style="padding-top:20px">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert" style="padding-top:10px">
                @TempData["SuccessMessage"] <br />
            </div>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert" style="padding-top:10px">
                @TempData["ErrorMessage"] <br />
            </div>
        }
        <h1>@Model.BankName - @Model.ReportFileTypeName</h1>
        <br />
        @using (Html.BeginForm("UpdateResponsiblesSU", "Responsibles", FormMethod.Post, new { id = "foFilter" }))
        {
            var BankUsersForExecutor = (List<SelectListItem>)ViewBag.BankUsersList;
            var BankUsersForCurator = (List<SelectListItem>)ViewBag.BankUsersList;

            @Html.Hidden("reportFileTypeId", Model.ReportFileTypeId)
            <form>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2" style="margin-top:5px">
                            @Html.Label("executor", "İcraçı:")
                        </div>
                        @{
                            if (!string.IsNullOrWhiteSpace(Model.Executor.EmployeeId))
                            {
                                BankUsersForExecutor.Remove(BankUsersForExecutor.FirstOrDefault(x => x.Value == Model.Executor.EmployeeId.ToString()));
                            }
                            <div class="col-md-2">
                                @Html.DropDownList("executorId", BankUsersForExecutor, Model.Executor.Name, new { @class = "form-control select2" })
                            </div>
                            BankUsersForExecutor.Add(new SelectListItem { Text = Model.Executor.Name, Value = Model.Executor.EmployeeId });
                        }
                        <div class="col-md-2">
                            <input type="button" class="btn btn-primary" onClick="ShowAddUser(1)" value="+" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2" style="margin-top:5px">
                            @Html.Label("curator", "Rəhbər şəxs:")
                        </div>
                        @{

                            if (!string.IsNullOrWhiteSpace(Model.Curator.EmployeeId))
                            {
                                BankUsersForCurator.Remove(BankUsersForCurator.FirstOrDefault(x => x.Value == Model.Curator.EmployeeId.ToString()));
                            }
                            <div class="col-md-2">
                                @Html.DropDownList("curatorId", BankUsersForCurator, Model.Curator.Name, new { @class = "form-control select2" })
                            </div>
                            BankUsersForCurator.Add(new SelectListItem { Text = Model.Curator.Name, Value = Model.Curator.EmployeeId });
                        }
                        <div class="col-md-2">
                            <input type="button" class="btn btn-primary" onClick="ShowAddUser(3)" value="+" />
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2" style="margin-top:5px">
                            @Html.Label("Yeni əvəz edən şəxs")
                        </div>
                        <div class="col-md-2">
                            @Html.DropDownList("SubstituteId", (List<SelectListItem>)ViewBag.BankUsersList, "---", new { @class = "form-control select2" })
                        </div>
                        <div class="col-md-2">
                            <input type="button" class="btn btn-primary" onClick="ShowAddUser(2)" value="+" />
                        </div>
                    </div>
                    <br />
                    <div class="col-md-4">
                        <input type="submit" value="Təsdiq et" class="btn btn-primary" style="float:right;margin-right:5px" />
                    </div>
                    @Html.Hidden("bankId", Model.BankId)
                </div>
                <div class="form-group">
                    <br />
                    @Html.Label("Əvəz edən şəxslər")
                    <div class="table table-responsive esahs-table table-hover dataTable no-footer">
                        <table class="table table-bordered dataTable no-footer" role="grid" style="width:60%">
                            <thead>
                                <tr>
                                    <th>
                                        Adı soyadı
                                    </th>
                                    <th>
                                        Struktur bölmə
                                    </th>
                                    <th>
                                        Vəzifə
                                    </th>
                                    <th>
                                        Sil
                                    </th>
                            </thead>
                            <tbody>
                                @if (Model.SubstituteUserIds.Length > 0)
                                {
                                    for (int i = 0; i < Model.SubstituteUserIds.Length; i++)
                                    {
                                        <tr>

                                            <td>
                                                @Model.SubstituteNames[i]
                                            </td>
                                            <td>
                                                @Model.SubstituteDepartment
                                            </td>
                                            <td>
                                                @Model.SubstitutePosition[i]
                                            </td>
                                            @if (!String.IsNullOrWhiteSpace(Model.SubstituteUserIds[i]))
                                            {

                                                <td>
                                                    <a href="@Url.Action("DeleteUserJob", "Responsibles", new { reportFileTypeId = Model.ReportFileTypeId, userId = Model.SubstituteUserIds[i], jobId = 2, bankId = url.Substring(url.LastIndexOf('=') + 1) })"><i class="fa fa-trash" aria-hidden="true" style="font-size:20px"></i></a>
                                                </td>


                                            }
                                            else
                                            {
                                                <td></td>
                                            }

                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </form>
        }
    </div>
    @using (Html.BeginForm("AddResponsiblesBankUser", "Responsibles", FormMethod.Post, new { id = "foFilter" }))
    {
        <div class="modal fade" id="divAddUser" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title" id="modal_title">Yeni istifadəçi</h3>
                    </div>
                    <div class="modal-body">

                        <form>
                            <div class="form-group">
                                <label for="fullName"><b>Adı, Soyadı</b></label>
                                <input class="form-control" type="text" name="fullName" id="fname" value="">
                            </div>
                            <div class="form-group">
                                <label for="department"><b>Struktur bölmə</b></label>
                                <input class="form-control" type="text" name="department" id="department" value="">
                            </div>
                            <div class="form-group">
                                <label for="position"><b>Vəzifə</b></label>
                                <input class="form-control" type="text" name="position" id="position" value="">
                            </div>
                            <div class="form-group">
                                <label for="phone"><b>Telefon (İş)</b></label>
                                <input class="form-control" type="text" name="oPhone" id="oPhone" value="">
                            </div>
                            <div class="form-group">
                                <label for="phone"><b>Telefon (Mobil)</b></label>
                                <input class="form-control" type="text" name="mPhone" id="mPhone" value="">
                            </div>
                            <div class="form-group">
                                <label for="email"><b>Email</b></label>
                                <input class="form-control" type="text" name="email" id="email" value="">
                            </div>
                            <input type="hidden" name="jID" id="jID" value="">
                            <input type="hidden" name="reportFileTypeId" id="reportFileTypeId" value="@reportFileTypeId">
                            <input type="hidden" name="bankId" id="bankId" value="@bankId">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Əlavə et</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Bağla</button>
                    </div>
                </div>
            </div>
        </div>
    }
}


@section Scripts {
    <script>
        function ShowAddUser(jobId) {


            $('#divAddUser').modal();
            $(".modal-body #jID").val(jobId);

        }
    </script>


    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/jszip.min.js"></script>
    <script src="~/Scripts/DataTables/buttons.html5.min.js"></script>
    <script src="~/Scripts/DataTables/buttons.bootstrap.min.js"></script>
}