﻿@model PaginatedList<NotificationMessage>

@{
    ViewBag.Title = "Göndərilənlər";
}


@section Currentpagelink
{
    <li><a href="javascript:void(0)">Bildirişlər</a></li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li>
        @Html.ActionLink("Göndərilənlər", "Sent", "Messages")
    </li>
}

<style>
    .selected-row {
        background-color: #efefef;
    }

    .unread {
        font-weight: bold;
    }

    th {
        text-align: left;
    }
</style>
<div class="col-md-12 esahs-container-padd">
    <h1>@ViewBag.Title</h1>
    @{
        if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }
        if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }
        if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.SuccessMessage
            </div>
        }
        if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.ErrorMessage
            </div>
        }
    }
    <h2></h2>
    <div class="table-responsive esahs-table">
        <table id="tbMessages" class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Tarix
                    </th>
                    <th>
                        Kimə
                    </th>
                    <th>
                        Mövzu
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count == 0)
                {
                    <tr>
                        <td colspan="3">
                            <div style="text-align:center;position:absolute; min-width:90%;">Cədvəldə heç bir bildiriş yoxdur</div>
                            &nbsp;
                        </td>
                    </tr>
                }
                @foreach (var item in Model)
                {
                    <tr class="@(ViewBag.Message != null && item.ID == ViewBag.Message.ID ? "selected-row" : "")" data-url="@Url.Action("Sent", new { page = Model.PageIndex, message_id = item.ID })">
                        <td>
                            @item.SENDDATE.ToString("dd.MM.yyyy HH:mm")
                        </td>
                        <td>
                            @item.DEPARTMENT
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SUBJECT)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (Model.TotalPages > 1)
    {
        <div style="margin-top:20px;">
            <span style="margin-right: 0.5em;">Səhifə: @Model.PageIndex / @Model.TotalPages</span>
            <ul class="pagination" style="vertical-align:middle;">
                @if (Model.PageIndex > 1)
                {
                    <li><a href="@Url.Action("Sent", new { page = 1 })" title="İlk səhifə"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a href="@Url.Action("Sent", new { page = Model.PageIndex - 1 })" title="Əvvəlki səhifə"><i class="fa fa-angle-left"></i></a></li>
                }
                else
                {
                    <li class="disabled"><a href="@Url.Action("Sent", new { page = 1 })" title="İlk səhifə"><i class="fa fa-angle-double-left"></i></a></li>
                    <li class="disabled"><a href="@Url.Action("Sent", new { page = Model.PageIndex })" title="Əvvəlki səhifə"><i class="fa fa-angle-left"></i></a></li>
                }
                @for (int i = Model.FirstPageToShow; i <= Model.LastPageToShow; i++)
                {
                    if (i != Model.PageIndex)
                    {
                        <li><a href="@Url.Action("Sent", new { page = i })">@i</a></li>
                    }
                    else
                    {
                        <li class="disabled"><a href="@Url.Action("Sent", new { page = i })">@i</a></li>
                    }
                }
                @if (Model.PageIndex < Model.TotalPages)
                {
                    <li><a href="@Url.Action("Sent", new { page = Model.PageIndex + 1 })" title="Sonrakı səhifə"><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="@Url.Action("Sent", new { page = Model.TotalPages })" title="Son səhifə"><i class="fa fa-angle-double-right"></i></a></li>
                }
                else
                {
                    <li class="disabled"><a href="@Url.Action("Sent", new { page = Model.PageIndex })" title="Sonrakı səhifə"><i class="fa fa-angle-right"></i></a></li>
                    <li class="disabled"><a href="@Url.Action("Sent", new { page = Model.TotalPages })" title="Son səhifə"><i class="fa fa-angle-double-right"></i></a></li>
                }
            </ul>
        </div>
    }

    @if (ViewBag.Message != null)
    {
        <div class="well" style="margin-top:20px;">
            <p><b>Tarix:</b> @ViewBag.Message.SENDDATE.ToString("dd.MM.yyyy HH:mm")</p>
            <p><b>Kimə:</b> @ViewBag.Message.DEPARTMENT</p>
            <p><b>Mövzu:</b> @ViewBag.Message.SUBJECT</p>
            <p><b>Mətn:</b> @Html.Raw(Html.Encode(ViewBag.Message.MESSAGE).Replace("&lt;BR&gt;", "<br>").Replace("&lt;br&gt;", "<br>"))</p>
        </div>
    }
</div>

@section Scripts
{
    <script>
        $(function () {
            $('#tbMessages td').click(function (e) {
                window.location.href = $(this).closest('tr').data('url');
            });
        });
    </script>
}