@font-face {
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-Hair.eot');
    src: url('eot/FiraSans-Hair.eot') format('embedded-opentype'),
    url('woff2/FiraSans-Hair.woff2') format('woff2'),
    url('woff/FiraSans-Hair.woff') format('woff'),
    url('ttf/FiraSans-Hair.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-HairItalic.eot');
    src: url('eot/FiraSans-HairItalic.eot') format('embedded-opentype'),
    url('woff2/FiraSans-HairItalic.woff2') format('woff2'),
    url('woff/FiraSans-HairItalic.woff') format('woff'),
    url('ttf/FiraSans-HairItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-UltraLight.eot');
    src: url('eot/FiraSans-UltraLight.eot') format('embedded-opentype'),
    url('woff2/FiraSans-UltraLight.woff2') format('woff2'),
    url('woff/FiraSans-UltraLight.woff') format('woff'),
    url('ttf/FiraSans-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-UltraLightItalic.eot');
    src: url('eot/FiraSans-UltraLightItalic.eot') format('embedded-opentype'),
    url('woff2/FiraSans-UltraLightItalic.woff2') format('woff2'),
    url('woff/FiraSans-UltraLightItalic.woff') format('woff'),
    url('ttf/FiraSans-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-Light.eot');
    src: url('eot/FiraSans-Light.eot') format('embedded-opentype'),
    url('woff2/FiraSans-Light.woff2') format('woff2'),
    url('woff/FiraSans-Light.woff') format('woff'),
    url('ttf/FiraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-LightItalic.eot');
    src: url('eot/FiraSans-LightItalic.eot') format('embedded-opentype'),
    url('woff2/FiraSans-LightItalic.woff2') format('woff2'),
    url('woff/FiraSans-LightItalic.woff') format('woff'),
    url('ttf/FiraSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-Regular.eot');
    src: url('eot/FiraSans-Regular.eot') format('embedded-opentype'),
    url('woff2/FiraSans-Regular.woff2') format('woff2'),
    url('woff/FiraSans-Regular.woff') format('woff'),
    url('ttf/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-Italic.eot');
    src: url('eot/FiraSans-Italic.eot') format('embedded-opentype'),
    url('woff2/FiraSans-Italic.woff2') format('woff2'),
    url('woff/FiraSans-Italic.woff') format('woff'),
    url('ttf/FiraSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-Medium.eot');
    src: url('eot/FiraSans-Medium.eot') format('embedded-opentype'),
    url('woff2/FiraSans-Medium.woff2') format('woff2'),
    url('woff/FiraSans-Medium.woff') format('woff'),
    url('ttf/FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-MediumItalic.eot');
    src: url('eot/FiraSans-MediumItalic.eot') format('embedded-opentype'),
    url('woff2/FiraSans-MediumItalic.woff2') format('woff2'),
    url('woff/FiraSans-MediumItalic.woff') format('woff'),
    url('ttf/FiraSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-SemiBold.eot');
    src: url('eot/FiraSans-SemiBold.eot') format('embedded-opentype'),
    url('woff2/FiraSans-SemiBold.woff2') format('woff2'),
    url('woff/FiraSans-SemiBold.woff') format('woff'),
    url('ttf/FiraSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-SemiBoldItalic.eot');
    src: url('eot/FiraSans-SemiBoldItalic.eot') format('embedded-opentype'),
    url('woff2/FiraSans-SemiBoldItalic.woff2') format('woff2'),
    url('woff/FiraSans-SemiBoldItalic.woff') format('woff'),
    url('ttf/FiraSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-Bold.eot');
    src: url('eot/FiraSans-Bold.eot') format('embedded-opentype'),
    url('woff2/FiraSans-Bold.woff2') format('woff2'),
    url('woff/FiraSans-Bold.woff') format('woff'),
    url('ttf/FiraSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-BoldItalic.eot');
    src: url('eot/FiraSans-BoldItalic.eot') format('embedded-opentype'),
    url('woff2/FiraSans-BoldItalic.woff2') format('woff2'),
    url('woff/FiraSans-BoldItalic.woff') format('woff'),
    url('ttf/FiraSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-ExtraBold.eot');
    src: url('eot/FiraSans-ExtraBold.eot') format('embedded-opentype'),
    url('woff2/FiraSans-ExtraBold.woff2') format('woff2'),
    url('woff/FiraSans-ExtraBold.woff') format('woff'),
    url('ttf/FiraSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-ExtraBoldItalic.eot');
    src: url('eot/FiraSans-ExtraBoldItalic.eot') format('embedded-opentype'),
    url('woff2/FiraSans-ExtraBoldItalic.woff2') format('woff2'),
    url('woff/FiraSans-ExtraBoldItalic.woff') format('woff'),
    url('ttf/FiraSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-Heavy.eot');
    src: url('eot/FiraSans-Heavy.eot') format('embedded-opentype'),
    url('woff2/FiraSans-Heavy.woff2') format('woff2'),
    url('woff/FiraSans-Heavy.woff') format('woff'),
    url('ttf/FiraSans-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-HeavyItalic.eot');
    src: url('eot/FiraSans-HeavyItalic.eot') format('embedded-opentype'),
    url('woff2/FiraSans-HeavyItalic.woff2') format('woff2'),
    url('woff/FiraSans-HeavyItalic.woff') format('woff'),
    url('ttf/FiraSans-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Mono';
    src: url('eot/FiraMono-Regular.eot');
    src: url('eot/FiraMono-Regular.eot') format('embedded-opentype'),
    url('woff2/FiraMono-Regular.woff2') format('woff2'),
    url('woff/FiraMono-Regular.woff') format('woff'),
    url('ttf/FiraMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Mono';
    src: url('eot/FiraMono-Bold.eot');
    src: url('eot/FiraMono-Bold.eot') format('embedded-opentype'),
    url('woff2/FiraMono-Bold.woff2') format('woff2'),
    url('woff/FiraMono-Bold.woff') format('woff'),
    url('ttf/FiraMono-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

