﻿
﻿@{
    ViewBag.Title = "Xəta";
}

@section Currentpagelink
{
    <li>
        @Html.ActionLink("Xəta", "Error")
    </li>
}

<style>
    @@media (min-width: 1250px) {
        #divActionLogs .modal-dialog {
            width: 1200px;
        }
    }

    @@media (min-width: 1350px) {
        #divActionLogs .modal-dialog {
            width: 1300px;
        }
    }

    .selected-row {
        background-color: #efefef;
    }

    .unread {
        font-weight: bold;
    }
</style>

<div class="col-md-12 esahs-container-padd">
    <h1>@ViewBag.Title</h1>
    @{
        <h2><b>Sistem xətası baş verdi:</b></h2>
        <h3><b>Zəhmət olmasa daha sonra təkrar yoxlayın.</b></h3>
        <br />

        if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.ErrorMessage
            </div>
        }
    }
</div>

@section Scripts
{
    <script>
    </script>
}
