﻿@{
    ViewBag.Title = "Ana səhifə";
}

@section Currentpagelink
{
    <li>
        @Html.ActionLink("Ana səhifə", "Index")
    </li>
}
<style>
    @@media (min-width: 992px) {
        .panel-help .panel-body {
            min-height: 330px;
        }
    }

    @@media (min-width: 1366px) {
        .panel-help .panel-body {
            min-height: 230px;
        }
    }

    @@media (min-width: 1600px) {
        .panel-help .panel-body {
            min-height: 210px;
        }
    }

    @@media (min-width: 1900px) {
        .panel-help .panel-body {
            min-height: 160px;
        }
    }

    @@media (min-width: 1250px) {
        #divActionLogs .modal-dialog {
            width: 1200px;
        }
    }

    @@media (min-width: 1350px) {
        #divActionLogs .modal-dialog {
            width: 1300px;
        }
    }
</style>
<div class="col-md-12 esahs-container-padd">
    <h1>@ViewBag.Title</h1>

    @if (ViewBag.UnreadCount > 0)
    {
        <div class="alert alert-warning" role="alert">
            Sizin @ViewBag.UnreadCount oxunmamış bildirişiniz var. <a href="@Url.Action("Inbox", "Messages")">Bildirişlərə keç</a>
        </div>
    }

    <div class="row">
        <div class="col col-md-12">
            <div>
                <h2 class="pull-left">Son hesabatlar</h2>
                <a href="@Url.Action("Index", "StatReports")" class="pull-right" style="margin-top:30px;">Hesabat arxivi</a>
            </div>
            <div class="clearfix"></div>
            <div class="table-responsive esahs-table">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Hesabat tipi</th>
                            <th>Statistik Vahid</th>
                            <th>Yüklənmə vaxtı</th>
                            <th>Hesabat dövrü</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (((List<UploadedReportFile>)ViewBag.Reports).Count == 0)
                        {
                            <tr>
                                <td colspan="6">
                                    <div style="text-align:center;position:absolute; min-width:100%;">Cədvəldə heç bir hesabat yoxdur</div>
                                    &nbsp;
                                </td>
                            </tr>
                        }
                        @foreach (var item in (List<UploadedReportFile>)ViewBag.Reports)
                        {
                            <tr>
                                <td style="width:100px;white-space:nowrap;text-align:center;">
                                    @if (item.ID != 0)
                                    {
                                        <a class="btn btn-default" href="@Url.Action("DownloadReport", "StatReports", new { id = item.ID })" title="Hesabat Excel faylını yüklə">
                                            <i aria-hidden="true" class="fa fa-download"></i>
                                        </a>
                                    }
                                    <a class="btn btn-default" href="javascript:void(0)" onclick="ShowActionLogs(@item.ID)" title="Əməliyyat tarixçəsi">
                                        <span class="bt_cl1 bt1-green">
                                            <i aria-hidden="true" class="fa fa-history"></i>
                                        </span>
                                    </a>
                                </td>
                                <td>@item.REPORT_FILE_TYPE_NAME</td>
                                <td>@item.BANK</td>
                                <td>@item.UPLOAD_TIME.ToString("dd.MM.yyyy HH:mm")</td>
                                <td>@item.PERIODSTART.Value.ToString("dd.MM.yyyy") - @item.PERIODEND.Value.ToString("dd.MM.yyyy")</td>
                                <td>
                                    @if (Constants.ErrorListShownForStatuses.Contains((ReportStatus)item.REPORT_FILE_STATUS_ID))
                                    {
                                        <a href="javascript:void(0)" onclick="ShowReportErrors(@item.ID)">
                                            @if (Tools.IsLoadingUploadFileStatus((ReportUploadFileStatus)item.REPORT_FILE_STATUS_ID))
                                            {
                                                <img src="~/cbar/images/ajax-loader.gif" />
                                            }
                                            <span class="@Tools.GetReportUploadFileStatusCssClass(item.REPORT_FILE_STATUS_ID)">@item.STATUS</span>
                                        </a>
                                    }
                                    else
                                    {
                                        @if (Tools.IsLoadingUploadFileStatus((ReportUploadFileStatus)item.REPORT_FILE_STATUS_ID))
                                        {
                                            <img src="~/cbar/images/ajax-loader.gif" />
                                        }
                                        <span class="@Tools.GetReportUploadFileStatusCssClass(item.REPORT_FILE_STATUS_ID)">@item.STATUS</span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col col-md-4">
            <div class="panel panel-default panel-help">
                <div class="panel-heading"><i class="fa fa-file-text"></i> Hesabatlar</div>
                <div class="panel-body">
                    Hesabatlar bölməsində təyin olunmuş formalar vasitəsi ilə statistik məlumatlarının göndərilməsi həyata keçirilir. Həmçinin bu bölmədə hesabat arxivi vasitəsi ilə göndərilən məlumatların yoxlanılması və statusların izlənilməsi aparılır.
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="panel panel-default panel-help">
                <div class="panel-heading"><i class="fa fa-university"></i> Statistik Vahidlər</div>
                <div class="panel-body">
                    <ul>
                        <li>Hesabatlar - bu bölmədə statistik vahidlər üzrə hesabatların icmal cədvəli təqdim edilir və buradan məlumatların BI sisteminə yayımlanması həyat keçirilir</li>
                        <li>Məsul şəxslər - bu bölmədə statistik vahid və hesabatlar üzrə məsul şəxslərin cədvəli təqdim edilir, həmçinin cədvəlin Excel faylına eksport imkanı verilir.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="panel panel-default panel-help">
                <div class="panel-heading"><i class="fa fa-file-text"></i> Daxili hesabatlar</div>
                <div class="panel-body">
                    Bu bölmədə Mərkəzi Bankın daxili hesabatlarının idarəedilməsi aparılır.
                    <ul>
                        <li>Maliyyə indikatorları - hesabatlar arxivi və hesabatların daxil edilməsi</li>
                        <li>Məzənnə - məzənnə avtomatik olaraq cbar.az saytından yüklənilir (həm günlük, həm aylıq)</li>
                        <li>Bloomberg - hesabatlar arxivi və hesabatların daxil edilməsi</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-4">
            <div class="panel panel-default panel-help">
                <div class="panel-heading"><i class="fa fa-envelope"></i> Bildirişlər</div>
                <div class="panel-body">
                    Bildirşlər vasitəsi ilə Mərkəzi Bank və statistik vahidlər arasında elektron məlumat mübadiləsi təmin edilir. Statistik hesabatlarda dəyişikliklər, hesabatlar üzrə gecikmələr və digər mövzularla bağlı statistik vahidlər məlumatlandırılır.
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="panel panel-default panel-help">
                <div class="panel-heading"><i class="fa fa-info-circle"></i> Məlumat</div>
                <div class="panel-body">
                    Məlumat bölməsində statistik hesabatların formaları, hesabatların yoxlamaları, Mərkəzi Bank və statistik vahidlərin məsul şəxsləri, normativ-hüquqi baza, və istifadəçi təlimatı üzrə statistik vahidlərə məlumatlar təqdim olunur.
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="panel panel-default panel-help">
                <div class="panel-heading"><i class="fa fa-sliders"></i> Konfiqurasiya</div>
                <div class="panel-body">
                    Konfiqurasiya bölməsində elektron imza istifadəsi üçün Səlahiyyətlərin ötürülməsi həyata keçirilə bilər və istifadəçi profilində dəyişikliklər edilə bilər.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divReportErrors" role="dialog">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Səhvlər</h3>
            </div>
            <div class="modal-body">
                <iframe id="ifReportErrors" frameborder="0" src="about:blank" width="100%" height="500px"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Bağla</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="divActionLogs" role="dialog">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Əməliyyat tarixçəsi</h3>
            </div>
            <div class="modal-body">
                <iframe id="ifActionLogs" frameborder="0" src="about:blank" width="100%" height="500px"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Bağla</button>
            </div>
        </div>

    </div>
</div>
@section Scripts
{
    <script>
        function ShowReportErrors(reportId, checkId) {
            $('#ifOpNotes').attr('src', "about:blank");
            $('#divReportErrors').modal();

            setTimeout(function () {
                $('#divReportErrors .modal-title').text('Səhvlər (ID: ' + reportId + ')');
                $('#ifReportErrors').attr('src', "StatReports/ReportErrors?reportId=" + reportId);
            }, 100);
            return false;
        }

        function ShowActionLogs(id) {
            $('#ifOpNotes').attr('src', "about:blank");
            $('#divActionLogs').modal();

            setTimeout(function () {
                $('#divActionLogs .modal-title').text('Əməliyyat tarixçəsi (ID: ' + id + ')');
                $('#ifActionLogs').attr('src', "StatReports/ActionLogs/" + id);
            }, 100);
            return false;
        }
    </script>
}
