﻿@model UsernamePasswordVM

@{
    ViewBag.Title = "GİRİŞ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Currentpagelink
{
    <li>
        @Html.ActionLink("Giriş", "Login")
    </li>
}

<style>
    .form-horizontal .control-label {
        padding-top: 0;
    }

    .form-horizontal h4 {
        margin-top: 30px;
        color: #888;
    }

    .form-horizontal hr {
        margin-top: 0;
    }
</style>
<div class="container card user-page">
    <div class="row">
        <div class="col-md-12" id="title">
            <p class="title"><span>@ViewBag.Title</span></p>
        </div>
    </div>
    <div class="row row-margin">
        <div class="col-md-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <br />
                    @ViewBag.Info
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-3 col-md-offset-2" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @style = "width: 200px;" } })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-3 col-md-offset-2" })
                        <div class="col-md-5">
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", @maxlength = "50", @style = "width: 200px;" })                           @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-5 col-md-5">
                            <input id="btLogin" type="submit" value="Daxil ol" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @if (ViewBag.LoginMessage != null)
    {
        <div class="alert alert-danger" style="font-size: larger;text-align:center;margin-top: 20px;">
            @ViewBag.LoginMessage
        </div>
    }

</div>

@section Scripts
{
    <script>
        $(function () {
            $('#Username').focus();
        });
    </script>
}
