﻿@model List<DBLogItem>

@if (Model.Count > 0)
{
    <div class="table-responsive esahs-table">

        <table class="table table-hover" id="taActionLogs">
            <thead>
                <tr>
                    <th>
                        Hesabat tipi
                    </th>
                    <th>
                        Statistik Vahid
                    </th>
                    <th>
                        Hesabat dövrü
                    </th>
                    <th>
                        İstifadəçi
                    </th>
                    <th>
                        Əməliyyat
                    </th>
                    <th>
                        Tarix
                    </th>
                    <th>
                        IP
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.REPORT_FILE_TYPE_NAME
                        </td>
                        <td>
                            @item.BANK
                        </td>
                        <td>
                            @item.PERIODSTART.ToString("dd.MM.yyyy") - @item.PERIODEND.ToString("dd.MM.yyyy")
                        </td>
                        <td>
                            @item.USERNAME
                        </td>
                        <td>
                            @Tools.GetReportActionLogDescription(item.ACTION)
                        </td>
                        <td>
                            @item.LOG_TIME.ToString("dd.MM.yyyy HH:mm")
                        </td>
                        <td>
                            @item.IP
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
}
else
{
    <h3 class="text-primary">Əməliyyat tarixçəsi boşdur</h3>
}
