﻿@model ActionVM
@using Microsoft.AspNetCore.Http;

@{
    ViewBag.Title = "Hesabat arxivi";
}

@using insurance_system_shared;


@section Currentpagelink
{
    <li><a href="javascript:void(0)">Hesabatlar</a></li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li>
        @Html.ActionLink("Hesabat arxivi", "Index", "StatReports")
    </li>
}
<style>
    .label {
        font-size: 95%;
    }

    .filter-content {
        margin-right: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


    .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
        filter: alpha(opacity=35);
        opacity: .35;
        background-color: gray;
        border-color: gray;
    }

    @@media (min-width: 1250px) {
        #divActionLogs .modal-dialog {
            width: 1200px;
        }
    }

    @@media (min-width: 1350px) {
        #divActionLogs .modal-dialog {
            width: 1300px;
        }
    }
</style>

<div class="col-md-12 esahs-container-padd">
    <h1>@ViewBag.Title</h1>
    @{
        if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.SuccessMessage
            </div>
        }
        if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.ErrorMessage
            </div>
        }
    }

    <div class="form-horizontal" style="margin-top:0px;margin-bottom:10px;">
        <div class="row">
            @using (Html.BeginForm("Index", "StatReports", FormMethod.Get, new { id = "foFilter" }))
            {
                <div class="filter-content">
                    <div class="col col-md-2">
                        <label>Statistik vahid növü</label>
                        @Html.DropDownList("bankType", (List<SelectListItem>)ViewBag.BankTypeList, new { @class = "form-control", multiple = "multiple" })
                    </div>
                    <div class="col col-md-2">
                        <label>Statistik vahidin adı</label>
                        @Html.DropDownList("bank_ids", (List<SelectListItem>)ViewBag.BankList, new { @class = "form-control", multiple = "multiple" })
                        <span>@ViewBag.ErrorMessageBank</span>
                    </div>
                    <div class="col col-md-2">
                        <label>İl-Ay</label>
                        <input type="text" name="yearmonth" id="yearmonth" value="@Context.Request.Query["yearmonth"]" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-min-view-mode="1" data-date-format="yyyy-mm" data-date-force-parse="false" data-date-language="az" onchange="selectDateChange()" />
                        @if (ViewBag.YearMonthFilterValidation != "")
                        {
                            <span class="text-danger">
                                @ViewBag.YearMonthFilterValidation
                            </span>
                        }
                    </div>
                    <div class="col col-md-2">
                        <label>Gün</label>
                        <select name="days" id="days" class="form-control select2">
                            <option value="">---</option>
                            @for (int i = 1; i <= ((List<SelectListItem>)ViewBag.DaysListinCurrentMonth).Count; i++)
                            {
                                if (i.ToString() == Context.Request.Query["days"])
                                {

                                    <option value="@i" selected>@i</option>
                                }
                                else
                                {
                                    <option value="@i">@i</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="col col-md-2">
                        <label>Hesabat tipi</label>
                        <select name="report_file_type_id" class="form-control select2" style="width:100%" id="report_file_type_id">
                            <option value="-1">---</option>

                            @foreach (CustomSelectListItem customSelectList in (List<CustomSelectListItem>)ViewBag.ReportFileTypeList)
                            {
                                if (customSelectList.Value == Context.Request.Query["report_file_type_id"])
                                {
                                    <option value="@customSelectList.Value" is-phqe="@customSelectList.Is_PHQE" selected>@customSelectList.Text</option>
                                }
                                else
                                {
                                    <option value="@customSelectList.Value" is-phqe="@customSelectList.Is_PHQE">@customSelectList.Text</option>

                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.report_file_type_id, "", new { @class = "text-danger" })
                    </div>
                    <div class="col col-md-2">
                        <label>&nbsp;</label>
                        <input type="submit" value="Göstər" class="btn btn-primary" id="btUpload" style="min-width: 70px;width:100%" />
                    </div>

                    @if (ViewBag.CheckAllVisible)
                    {

                        if (ViewBag.CheckAllDisabled)
                        {
                            <div id="divCheckAll">
                            </div>
                            <div id="divResultAll">
                            </div>
                        }
                        else
                        {
                            <div id="divCheckAll">
                            </div>
                            <div id="divResultAll">
                            </div>
                        }

                    }

                </div>
            }

        </div>
        @if (ViewBag.FilterValidation != "")
        {
            <div class="row">
                <div class="col col-md-12">
                    <span class="text-danger">
                        @ViewBag.FilterValidation
                    </span>
                </div>
            </div>
        }
    </div>

    @if (ViewBag.ShowTable)
    {
        <div class="table-responsive esahs-table">
            <table class="table table-hover" id="taReports">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Hesabat tipi</th>
                        <th>Statistik Vahid</th>
                        <th>Yüklənmə vaxtı</th>
                        <th>Hesabat dövrü</th>
                        <th>Status</th>
                        <th style="text-align:center;">Əməliyyatlar</th>
                    </tr>
                </thead>
                <tbody>
                    @if (((List<Report>)ViewBag.Reports).Count == 0)
                    {
                        <tr>
                            <td colspan="7">
                                <div style="text-align:center;position:absolute; min-width:100%;">Hesabat yoxdur</div>
                                &nbsp;
                            </td>
                        </tr>
                    }
                    @foreach (var item in (List<Report>)ViewBag.Reports)
                    {
                        <tr>
                            <td style="width:100px;white-space:nowrap;text-align:center;">
                                @if (item.REPORTS_FILE_ID != null)
                                {
                                    <a class="btn btn-default" href="@Url.Action("DownloadReport", "StatReports", new { id = item.REPORTS_FILE_ID })" title="Hesabat Excel faylını yüklə">
                                        <i aria-hidden="true" class="fa fa-download"></i>
                                    </a>
                                    <a class="btn btn-default" href="javascript:void(0)" onclick="ShowActionLogs(@item.REPORTS_FILE_ID)" title="Əməliyyat tarixçəsi">
                                        <span class="bt_cl1 bt1-green">
                                            <i aria-hidden="true" class="fa fa-history"></i>
                                        </span>
                                    </a>
                                }
                            </td>
                            <td>@item.REPORT_FILE_TYPE_NAME</td>
                            <td>@item.BANKNAME</td>
                            <td>@item.SENDDATE.ToString("dd.MM.yyyy HH:mm")</td>
                            <td>@item.PERIODSTART.ToString("dd.MM.yyyy") - @item.PERIODEND.ToString("dd.MM.yyyy")</td>
                            <td>
                                @if (Constants.ErrorListShownForStatuses.Contains((ReportStatus)item.STATUSID))
                                {
                                    <a href="javascript:void(0)" onclick="ShowReportErrors(@item.ID,@(item.CHECKID??0))">
                                        <span class="@Tools.GetStatusCssClassTextInt(item.STATUSID, item.STATUS_CROSS_CHECK_ID)">@(item.STATUSTEXT != "" ? item.STATUSTEXT : "Yüklənib") @item.STATUS_CROSS_CHECK_TEXT</span>
                                    </a>
                                }
                                else
                                {
                                    <span class="@Tools.GetStatusCssClassTextInt(item.STATUSID, item.STATUS_CROSS_CHECK_ID)">@(item.STATUSTEXT != "" ? item.STATUSTEXT : "Yüklənib") @item.STATUS_CROSS_CHECK_TEXT</span>
                                }
                            </td>
                            <td style="text-align:center;">
                                @if (Constants.AllowedStatusListForActionCBAR["cancel"].Contains((ReportStatus)item.STATUSID))
                                {
                                    <a href="javascript:void(0)" class="btn btn-sm btn-danger" onclick="performAction('cancel', @item.REPORTS_FILE_ID, @item.CountInFileGroup, this)">İmtina</a>
                                }
                                else
                                {
                                    <a href="javascript:void(0)" class="btn btn-sm btn-danger" disabled>İmtina</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

<div style="display:none;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @id = "tbId" } })
        @Html.EditorFor(model => model.Action, new { htmlAttributes = new { @id = "tbAction" } })
        <input type="submit" value="Submit" class="btn btn-primary" id="btPerformAction" />
    }
</div>

<div class="modal fade" id="divReportErrors" role="dialog">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Səhvlər</h3>
            </div>
            <div class="modal-body">
                <iframe id="ifReportErrors" frameborder="0" src="about:blank" width="100%" height="500px"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Bağla</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="divActionLogs" role="dialog">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Əməliyyat tarixçəsi</h3>
            </div>
            <div class="modal-body">
                <iframe id="ifActionLogs" frameborder="0" src="about:blank" width="100%" height="500px"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Bağla</button>
            </div>
        </div>

    </div>
</div>

@{
    string TempDataSuccessMessage = (string)TempData["SuccessMessage"];
    string TempDataErrorMessage = (string)TempData["ErrorMessage"];


}

<div class="modal" id="divActionMessage" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Əməliyyat</h3>
            </div>
            <div class="modal-body">
                @if (TempDataSuccessMessage != null)
                {
                    <div class="text-success">
                        @TempDataSuccessMessage
                    </div>
                }
                @if (TempDataErrorMessage != null)
                {
                    <div class="text-danger">
                        @TempDataErrorMessage
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Bağla</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        function daysInMonth(month, year) {
            return new Date(year, month + 1, 0).getDate();
        }


        function selectDateChange() {

            var date = new Date(document.getElementById('yearmonth').value);

            if (date.getFullYear() > 0 && date.getMonth() + 1 > 0) {
                $('#days').prop('disabled', false);
                $('#days').find('option').remove();
                var daysInSelectedMonth = daysInMonth(date.getMonth(), date.getFullYear());

                $('#days').append($("<option></option>").attr("value", "").text("---"));
                for (var i = 1; i <= daysInSelectedMonth; i++) {
                    $('#days').append($("<option></option>").attr("value", i).text(i));
                }


            } else {
                $('#days').prop('disabled', true);
            }
        }
    </script>

    <script>
        $(function () {
            $('#foFilter input, #foFilter select').change(function () {
                $('#divCheckAll').hide();
                $('#divResultAll').hide();
                $('#taReports').hide();
                $('#taReports_wrapper').hide();
            });
        });
    </script>

    @if (!String.IsNullOrEmpty(TempDataSuccessMessage) || !String.IsNullOrEmpty(TempDataErrorMessage))
    {
        <script>
            $(function () {
                jQuery.noConflict();
                $('#divActionMessage').modal();
            });
        </script>
    }

    <link href="~/cbar/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/cbar/DataTables/css/fixedColumns.bootstrap.min.css" rel="stylesheet" />
    <link href="~/cbar/css/bootstrap-multiselect.css" rel="stylesheet" />

    <script src="~/cbar/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/cbar/Scripts/moment.min.js"></script>

    <script src="~/cbar/Scripts/DataTables/dataTables.buttons.min.js"></script>
    <script src="~/cbar/Scripts/jszip.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/buttons.html5.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/buttons.bootstrap.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/buttons.print.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/dataTables.fixedColumns.min.js"></script>
    <script src="~/cbar/Scripts/bootstrap-multiselect.js"></script>

    <script>
        $.fn.dataTable.ext.type.order['date-time-pre'] = function (d) {
            var momentDate = moment(d, 'DD.MM.YYYY HH:mm');
            return momentDate.unix();
        };


        $('#bankType').multiselect({
            includeSelectAllOption: true,
            buttonWidth: '100%',
            nonSelectedText: 'Seçilməyib',
            nSelectedText: ' - növ',
            includeSelectAllOption: false,
            inheritClass: true,
            onChange: function (event) {
                var bankTypeIds = $("#bankType").val();
                if (!bankTypeIds)
                    bankTypeIds = [];
                var url = window.location.href;
                var all = url.slice(url.indexOf('?') + 1).split('&');
                var other = all.filter(p => !String(p).startsWith('bankType='));
                var bankTypes = bankTypeIds.map(x => 'bankType=' + x);
                bankTypes.push(...other);
                var newUrl = url.substring(0, url.indexOf('?') + 1) + bankTypes.join('&');
                window.location.href = newUrl;

            }
        });

        $('#bank_ids').multiselect({
            includeSelectAllOption: true,
            buttonWidth: '100%',
            nonSelectedText: 'Seçilməyib',
            nSelectedText: ' - statistik vahid',
            filterPlaceholder: 'Axtar...',
            includeSelectAllOption: false,
            inheritClass: true,
            maxHeight: 200,
            enableFiltering: true,
            filterBehavior: 'text',
            enableCaseInsensitiveFiltering: true
        });

        $(function () {

            $('#bankType').multiselect("select", getCurrentBankIds('bankType'));
            $('#bank_ids').multiselect("select", getCurrentBankIds('bank_ids'));

            function getCurrentBankIds(paramName) {
                url = window.location.href;
                var all = url.slice(url.indexOf('?') + 1).split('&');
                var prms = all.filter(p => String(p).startsWith(paramName + '='));
                if (!prms)
                    prms = [];
                return prms.map(x => String(x).replace(paramName + '=', ''));
            }

            var table = $('#taReports').DataTable(
                {
                    "scrollY": $(window).height() - 350 - 50,
                    "paging": false,
                    stateSave: true,
                    "columnDefs": [{ "type": "date-time", targets: 4 }, { orderable: false, targets: [0, 1, -1, 5] }],
                    "order": [[4, "desc"]],
                    "info": false,
                    fixedColumns: {
                        topColumns: 1
                    },
                    "initComplete": function (settings, json) {
                        if (localStorage) {
                            var dataTablesScroll = localStorage["CBARStatReports_dataTablesScroll"];
                            if (dataTablesScroll) {
                                $('.dataTables_scrollBody').scrollTop(dataTablesScroll);
                                localStorage["CBARStatReports_dataTablesScroll"] = 0;
                            }
                        }
                    },
                    dom: 'lBfrtip',
                    buttons: [
                        {
                            extend: 'excelHtml5',
                            className: "btn-default",
                            text: 'Excel export',
                            orientation: 'landscape',
                            title: 'Yüklənmiş hesabatlar',
                            exportOptions: {
                                columns: [1, 2, 3, 4, 5]
                            }
                        },
                    ],
                    language: {
                        "sEmptyTable": "Cədvəldə heç bir məlumat yoxdur",
                        "sInfo": " _TOTAL_ Nəticədən _START_ - _END_ Arası Nəticələr",
                        "sInfoEmpty": "Nəticə Yoxdur",
                        "sInfoFiltered": "( _MAX_ Nəticə İçindən Tapılanlar)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ",",
                        "sLengthMenu": "Səhifədə _MENU_ Nəticə Göstər",
                        "sLoadingRecords": "Yüklənir...",
                        "sProcessing": "Gözləyin...",
                        "sSearch": "Axtarış:",
                        "sZeroRecords": "Nəticə Tapılmadı.",
                        "oPaginate": {
                            "sFirst": "İlk",
                            "sLast": "Son",
                            "sNext": "»",
                            "sPrevious": "«"
                        },

                        "oAria": {
                            "sSortAscending": ": sütunu artma sırası üzərə aktiv etmək",
                            "sSortDescending": ": sütunu azalma sırası üzərə aktiv etmək"
                        }

                    }
                });
        });
    </script>
    <script>
        function addSpinner(control) {
            $(control).prepend('<span><i class="fa fa-spinner"></i>&nbsp;</span>');
        }

        function performAction(action, id, CountInFileGroup, control) {
            if (localStorage) {
                var dataTablesScroll = $('.dataTables_scrollBody').scrollTop();
                localStorage["CBARStatReports_dataTablesScroll"] = dataTablesScroll;
            }
            var message = 'Əminsinizmi?';
            if (action == 'confirm') {
                if (CountInFileGroup <= 1)
                    message = 'ID ' + id + ' hesabatını təsdiqləmək istədiyinizə əminsinizmi?';
                else
                    message = 'ID ' + id + ' hesabatı da daxil olmaqla eyni fayla aid ' + CountInFileGroup + ' hesabatı təsdiqləmək istədiyinizə əminsinizmi?';
            }
            else if (action == 'cancel') {
                if (CountInFileGroup <= 1)
                    message = 'ID ' + id + ' hesabatından imtina etmək istədiyinizə əminsinizmi?';
                else
                    message = 'ID ' + id + ' hesabatı da daxil olmaqla eyni fayla aid ' + CountInFileGroup + ' hesabatdan imtina etmək istədiyinizə əminsinizmi?';
            }
            else if (action == 'confirmascorrect') {
                message = 'ID ' + id + ' hesabatını düz kimi qəbul etmək istədiyinizə əminsinizmi?';
            }
            else if (action == 'delete') {
                if (CountInFileGroup <= 1)
                    message = 'ID ' + id + ' hesabatını silmək istədiyinizə əminsinizmi?';
                else
                    message = 'ID ' + id + ' hesabatı da daxil olmaqla eyni fayla aid ' + CountInFileGroup + ' hesabatı silmək istədiyinizə əminsinizmi?';
            }
            if (!confirm(message)) return;
            addSpinner(control);
            $('#tbId').val(id);
            $('#tbAction').val(action);
            $('#btPerformAction').click();
        }

        function ShowReportErrors(reportId, checkId) {
            $('#ifOpNotes').attr('src', "about:blank");
            $('#divReportErrors').modal();

            setTimeout(function () {
                $('#divReportErrors .modal-title').text('Səhvlər (ID: ' + reportId + ')');
                $('#ifReportErrors').attr('src', "StatReports/ReportErrors?reportId=" + reportId || 0);
            }, 100);
            return false;
        }

        function ShowActionLogs(id) {
            jQuery.noConflict();

            $('#ifOpNotes').attr('src', "about:blank");
            $('#divActionLogs').modal();

            setTimeout(function () {
                $('#divActionLogs .modal-title').text('Əməliyyat tarixçəsi (ID: ' + id + ')');
                $('#ifActionLogs').attr('src', "StatReports/ActionLogs/" + id);
            }, 100);
            return false;
        }
    </script>


}
