﻿@{
    string TempDataSuccessMessage = (string)TempData["SuccessMessage"];
    string TempDataErrorMessage = (string)TempData["ErrorMessage"];

}

@if (TempDataSuccessMessage != "")
{
    <div class="text-success" style="font-size: 16px;">
        @TempDataSuccessMessage
    </div>
}


@if (TempDataErrorMessage != "")
{
    <div class="text-danger" style="font-size: 16px;">
        @TempDataErrorMessage
    </div>
}

