﻿@model IEnumerable<UploadedReportFile>

<table class="table table-hover" id="taRecentFiles">
    <thead>
        <tr>
            <th></th>
            <th>
                Yüklənmə vaxtı
            </th>
            <th>
                Statistik Vahid
            </th>
            <th>
                Fayl adı
            </th>
            <th>Hesabat tipi</th>
            <th>Hesabat dövrü</th>
            <th>
                Status
            </th>
            <th>Əməliyyatlar</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="8">
                    <div style="text-align:center;position:absolute; min-width:100%;">Hesabat yoxdur</div>
                    &nbsp;
                </td>
            </tr>
        }
        @if (Model.Count() > 0)
        {


            foreach (var item in Model)
            {
                <tr>
                    <td style="width:100px;">
                        <div>
                            <a class="btn btn-default" href="@Url.Action("DownloadRecentlyUploadedReport", "StatReports", new { id = item.ID })">
                                <span class="bt_cl1 bt1-green" style="float:left">
                                    <i aria-hidden="true" class="fa fa-download"></i>
                                </span>
                            </a>
                            <a class="btn btn-default" href="javascript:void(0)" onclick="ShowActionLogs(@item.ID)" title="Əməliyyat tarixçəsi">
                                <span class="bt_cl1 bt1-green" style="float:right">
                                    <i aria-hidden="true" class="fa fa-history"></i>
                                </span>
                            </a>
                        </div>

                    </td>
                    <td>
                        @item.UPLOAD_TIME.ToString("dd.MM.yyyy HH:mm")
                    </td>
                    <td>
                        @item.BANK
                    </td>
                    <td>
                        @item.UPLOAD_FILE_NAME
                    </td>
                    <td>@item.REPORT_FILE_TYPE_NAME</td>
                    <td>@(item.PERIODSTART != null ? item.PERIODSTART.Value.ToString("dd.MM.yyyy") : "") - @(item.PERIODEND != null ? item.PERIODEND.Value.ToString("dd.MM.yyyy") : "")</td>
                    <td>
                        @if (Constants.ErrorListShownForUploadStatuses.Contains(item.REPORT_FILE_STATUS_ID))
                        {
                            <a href="javascript:void(0)" onclick="ShowReportFileErrors(@item.ID)">
                                @if (Tools.IsLoadingUploadFileStatus(item.REPORT_FILE_STATUS_ID))
                                {
                                    <img src="~/cbar/images/ajax-loader.gif" />
                                }
                                <span class="@Tools.GetReportUploadFileStatusCssClass(item.REPORT_FILE_STATUS_ID)">@item.STATUS</span>
                            </a>

                        }
                        else
                        {
                            if (Tools.IsLoadingUploadFileStatus(item.REPORT_FILE_STATUS_ID))
                            {
                                <img src="~/cbar/images/ajax-loader.gif" />
                            }
                            <span class="@Tools.GetReportUploadFileStatusCssClass(item.REPORT_FILE_STATUS_ID)">@item.STATUS</span>
                        }
                    </td>
                    <td style="text-align:center;">
                        <table style="border:0;">
                            <tr>
                                <td>
                                    @if (Constants.AllowedStatusListForActionCBAR["cancel"].Contains((ReportStatus)item.CONFIRMSTATUS))
                                    {
                                        <a href="javascript:void(0)" class="btn btn-sm btn-danger" onclick="OperationReport('cancel', @item.ID, this)">İmtina</a>
                                    }
                                    else
                                    {
                                        <a href="javascript:void(0)" class="btn btn-sm btn-danger" disabled>İmtina</a>
                                    }
                                </td>
                                <td>
                                    @if (Constants.AllowedStatusListForActionCBAR["confirmascorrect"].Contains((ReportStatus)item.CONFIRMSTATUS))
                                    {
                                        <a href="javascript:void(0)" class="btn btn-sm btn-info" onclick="OperationReport('confirmascorrect', @item.ID, this)">Şərti düzdür</a>

                                    }
                                    else @if (Constants.AllowedStatusListForActionCBAR["confirm"].Contains((ReportStatus)item.CONFIRMSTATUS))
                               {
                                <a href="javascript:void(0)" class="btn btn-sm btn-success" onclick="OperationReport('confirm', @item.ID, this)">Təsdiq</a>
                            }
                            else
                            {
                                <a href="javascript:void(0)" class="btn btn-sm btn-success invisible">Təsdiq</a>
                            }
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>



<script>
    function ShowReportFileErrors(id) {
        $('#ifOpNotes').attr('src', "about:blank");
        $('#divReportErrors').modal();

        setTimeout(function () {
            $('#divReportErrors .modal-title').text('Səhvlər (ID: ' + id + ')');
            $('#ifReportErrors').attr('src', "ReportFileErrors/" + id);
        }, 100);
        return false;
    }
</script>
