﻿@model List<BaseReportError>
@using Microsoft.AspNetCore.Http;

<style>

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 99;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        min-height: 100%;
        width: 100%;
    }

    .loading {
        font-family: Arial;
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }

    .rotate {
        -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

        .rotate.down {
            -ms-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }

    table.table table-hover {
        margin: 0 auto;
        width: 95%;
        overflow: auto;
        font-family: helvetica,arial,sans-serif;
        font-size: 14px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
        text-align: center;
    }

        table.table table-hover th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #F6B4A5;
        }

        table.table table-hover td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
        }

    pre {
        background-color: white;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        border: 0;
    }
</style>

@if (Model.Count > 0)
{
    <div class="table-responsive esahs-table">

        <table class="table table-hover" id="ReportErrorsTBL">
            <thead>
                <tr>
                    <th>
                        Səhv
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <pre>@item.DESCRIPTION</pre>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
}
else
{
    <h3 class="text-primary">Səhv yoxdur</h3>
}

<script>

    var modal, loading;
    function ShowProgress() {
        modal = document.createElement("DIV");
        modal.className = "modal";
        document.body.appendChild(modal);
        loading = document.getElementsByClassName("loading")[0];
        loading.style.display = "block";
        var top = Math.max(window.innerHeight / 2 - loading.offsetHeight / 2, 0);
        var left = Math.max(window.innerWidth / 2 - loading.offsetWidth / 2, 0);
        loading.style.top = top + "px";
        loading.style.left = left + "px";
    };

    function HideProgress() {
        document.body.removeChild(modal);
        loading.style.display = "none";
    }

    function doPrint() {
        var reportId = $('#reportId');
        var btn = $('#btnPrint');

        btn.hide();
        reportId.show();

        collapseAll();

        window.print();

        btn.show();
        reportId.hide();
    }

    function collapseAll() {
        $('.datarow').css('display', 'none');
        $('.down').removeClass('down');
    }

    $(document).ready(function () {


        $('#tableMain').on('click', 'tr.breakrow', function () {

            idx = this.id.replace("breakrow_", "");

            $('#i_' + idx).toggleClass("down");

            datarowId = "datarow_" + idx;

            iframeId = "if_detail_" + idx;

            var src = $('#' + iframeId).attr('src');


            if (!$('#' + datarowId).is(':visible') && src == 'about:blank') {

                ShowProgress();

                spnId = "spn_" + idx;

                reportFileAndRuleId = $('#' + spnId).text();

                var arr = reportFileAndRuleId.split("_");

                var baseUrl = '@String.Format("{0}://{1}{2}{3}", Context.Request.Scheme,Context.Request.Host,Context.Request.PathBase,Url.Content("~/"))';

                var url = baseUrl + "StatReports/ReportXlsCellWithData?reportFileId=" + arr[0] + "&ruleid=" + arr[1] + "&ismultirow=" + arr[2];

                $('#' + iframeId).load(function () {
                    $(this).show();
                    HideProgress();
                });

                $('#' + iframeId).attr("src", url);
            }

            $(this).nextUntil('tr.breakrow').slideToggle(200);
        });

    });

</script>