﻿@model IEnumerable<XlsCellWithData>

@{
    Layout = "~/Views/Shared/_LayoutDialog.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReportXlsCellWithData</title>
    <style>
        .table-striped td {
            text-align: center;
        }

        .table-striped th {
            text-align: center;
        }
    </style>
</head>
<body>

    @if (Model.Count() > 0)
    {
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SheetName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cell)
                </th>
                @if (ViewBag.IsMultiRow)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.GroupName)
                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SheetName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cell)
                    </td>
                    @if (ViewBag.IsMultiRow)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.GroupName)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <h3 class="text-primary">Məlumat yoxdur</h3>
    }

</body>
</html>
