﻿
@{
    Layout = "~/Views/Shared/_LayoutDialog.cshtml";
}
@await Html.PartialAsync("ReportFileErrorsPartial", (List<BaseReportError>)ViewBag.ReportErrors)

@section Scripts
{
    <link href="~/cbar/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/cbar/DataTables/css/fixedColumns.bootstrap.min.css" rel="stylesheet" />
    <script src="~/cbar/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/dataTables.buttons.min.js"></script>
    <script src="~/cbar/Scripts/jszip.min.js"></script>
    <script src="~/cbar/Scripts/pdfmake/pdfmake.min.js"></script>
    <script src="~/cbar/Scripts/pdfmake/vfs_fonts_v2.001152.js"></script>
    <script src="~/cbar/Scripts/DataTables/buttons.html5.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/buttons.bootstrap.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/buttons.print.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/dataTables.fixedColumns.min.js"></script>
    <script>
        $(function () {
            var table = $('#reportFileErrorTbl').DataTable(
                {

                    "paging": false,
                    "ordering": false,
                    "info": false,
                    dom: 'lBfrtip',
                    buttons: [
                        {
                            extend: 'excelHtml5',
                            text: 'Excel export',
                            orientation: 'landscape',
                            title: 'Səhvlər:  @Html.Raw((String)ViewBag.ErrorBankName) - @Html.Raw((String)ViewBag.ErrorTypeName)',
                        },
                    ],
                    language: {
                        "sEmptyTable": "Cədvəldə heç bir məlumat yoxdur",
                        "sInfo": " _TOTAL_ Nəticədən _START_ - _END_ Arası Nəticələr",
                        "sInfoEmpty": "Nəticə Yoxdur",
                        "sInfoFiltered": "( _MAX_ Nəticə İçindən Tapılanlar)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ",",
                        "sLengthMenu": "Səhifədə _MENU_ Nəticə Göstər",
                        "sLoadingRecords": "Yüklənir...",
                        "sProcessing": "Gözləyin...",
                        "sSearch": "Axtarış:",
                        "sZeroRecords": "Nəticə Tapılmadı.",
                        "oPaginate": {
                            "sFirst": "İlk",
                            "sLast": "Son",
                            "sNext": "»",
                            "sPrevious": "«"
                        },

                        "oAria": {
                            "sSortAscending": ": sütunu artma sırası üzərə aktiv etmək",
                            "sSortDescending": ": sütunu azalma sırası üzərə aktiv etmək"
                        }

                    }
                });
        });
    </script>
}