﻿@model List<BaseReportError>


<style>
    pre {
        background-color: white;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        border: 0;
    }
</style>
@if (Model.Count > 0)
{
    <div class="table-responsive esahs-table">

        <table class="table table-hover" id="reportFileErrorTbl">
            <thead>
                <tr>
                    <th>
                        Səhv
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <pre>@item.DESCRIPTION</pre>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
}
else
{
    <h3 class="text-primary">Səhv yoxdur</h3>
}
