﻿@model ReportUploadVM

@{
    ViewBag.Title = "Hesabat yüklə";
}

@section Currentpagelink
{
    <li><a href="javascript:void(0)">Hesabatlar</a></li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li>
        @Html.ActionLink("Hesabat yüklə", "UploadReport", "StatReports")
    </li>
}
<style>
    .label {
        font-size: 95%;
    }

    input, select {
        max-width: 100%;
    }

    .upload_container > div {
        padding: 0 2px 0 2px;
    }

    #dayContainer > div {
        padding: 0;
    }

    @@media screen and (min-width: 990px) {
        #dayContainer > div {
            padding-left: 0;
            padding-right: 15px;
        }
    }
</style>
<div class="col-md-12 esahs-container-padd" style="margin-bottom:20px;">
    <h1>@ViewBag.Title</h1>
    @{
        if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-info" role="alert">
                @ViewBag.SuccessMessage
            </div>
        }
        if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.ErrorMessage
            </div>
        }
        if (ViewBag.ErrorMessages != null)
        {
            <div class="alert alert-danger" role="alert">
                @foreach (var message in ViewBag.ErrorMessages)
                {
                    @message <br />
                }
            </div>
        }
    }

    <div class="form-horizontal">

        @using (Html.BeginForm("UploadReport", "StatReports", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-12">
                <div class="row upload_container">
                    <div class="col col-md-2">
                        <label>SV növü</label>
                        @Html.DropDownList("bank_types", (List<SelectListItem>)ViewBag.BankTypeList, new { @class = "form-control", multiple = "multiple" })
                    </div>
                    <div class="col col-md-2">
                        <label>Statistik vahid</label>
                        @Html.DropDownListFor(Model => Model.BankId, (List<SelectListItem>)ViewBag.BankList, "---", new { @class = "form-control select2", style = "width:100%;" })
                        @Html.ValidationMessageFor(model => model.BankId, "", new { @class = "text-danger" })
                    </div>
                    <div class="col col-md-2">
                        <label>Hesabat tipi</label>
                        <select name="report_file_type_id" class="form-control select2" style="width:100%" id="report_file_type_id">
                            <option value="-1">---</option>
                            @foreach (CustomSelectListItem customSelectList in (List<CustomSelectListItem>)ViewBag.ReportFileTypeList)
                            {
                                @if (Model.report_file_type_id != null && Model.report_file_type_id.ToString() == customSelectList.Value)
                                {
                                    <option selected value="@customSelectList.Value" is-phqe="@customSelectList.Is_PHQE">@customSelectList.Text</option>
                                }
                                else
                                {
                                    <option value="@customSelectList.Value" is-phqe="@customSelectList.Is_PHQE">@customSelectList.Text</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.report_file_type_id, "", new { @class = "text-danger" })
                    </div>
                    <div class="col col-md-1" style="display:none;" id="phqeTypes">
                        <label>Versiya</label>
                        <div>
                            <select class="form-control" name="ReportVersionId" id="IsPhqe">
                                @foreach (ReportVersion reportVersion in ViewBag.ReportVersions)
                                {
                                    if (Model.ReportVersionId == reportVersion.ID)
                                    {
                                        <option value="@reportVersion.ID" selected="selected">@reportVersion.NAME</option>
                                    }
                                    else
                                    {
                                        <option value="@reportVersion.ID">@reportVersion.NAME</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col col-md-2" id="dayContainer">
                        <label>Hesabat dövrü</label>
                        <div class="col col-md-6" style="padding: 0 1px 0 0;">
                            @Html.TextBoxFor(Model => Model.periodstart,
     new
     {
         @class = "form-control",
         autocomplete = "off",
         data_provide = "datepicker",
         data_date_autoclose = "true",
         data_date_format = "dd.mm.yyyy",
         data_date_week_start = "1",
         data_date_force_parse = "false",
         data_date_language = "az"
     })
                            @Html.ValidationMessageFor(model => model.periodstart, "", new { @class = "text-danger" })
                        </div>
                        <div class="col col-md-6" style="padding: 0;">

                            @Html.TextBoxFor(Model => Model.periodend,
     new
     {
         @class = "form-control",
         data_provide = "datepicker",
         data_date_autoclose = "true",
         data_date_format = "dd.mm.yyyy",
         data_date_week_start = "1",
         data_date_force_parse = "false",
         data_date_language = "az",
         @readonly = "readonly",
     })
                            @Html.ValidationMessageFor(model => model.periodend, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div id="fileUploadDiv" class="col col-md-3">
                        <label>Fayl</label>
                        <div class="fileUpload btn btn-default" style="padding:0;width:100%;display: flex; align-items: center;">
                            <input class="input-file admin-bottom" id="uploadFile" placeholder="Fayl seçilməyib" disabled="disabled" style="padding:0;flex:2">
                            @Html.TextBox("file", "", new { type = "file", @class = "upload", id = "uploadBtn", accept = ".xlsx,.xls,.xlsm,.xml", style = "width:100%" })
                            <span style="font-weight: bold;padding-right:1px;padding-left:1px">Faylı seç..</span>
                        </div>
                    </div>
                    <div class="col col-md-1">
                        <label>&nbsp;</label>
                        <input type="submit" value="Yüklə" class="btn btn-primary" id="btUpload" style="min-width: 64px;width:100%" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<div class="col-md-12 esahs-container-padd" style="margin-bottom: 0;">
    <h1>Yüklənmiş fayllar</h1>
    <div style="max-height: 50vh;">
        <div id="divRecentFiles" class="table-responsive esahs-table" style="max-height: inherit;">
            @await Html.PartialAsync("RecentFileListPartial", (List<UploadedReportFile>)ViewBag.RecentUploadedReportFiles)
        </div>
    </div>

</div>


<div class="modal fade" id="divReportErrors" role="dialog">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Səhvlər</h3>
            </div>
            <div class="modal-body">
                <iframe id="ifReportErrors" frameborder="0" src="about:blank" width="100%" height="500px"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Bağla</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="divActionLogs" role="dialog">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Əməliyyat tarixçəsi</h3>
            </div>
            <div class="modal-body">
                <iframe id="ifActionLogs" frameborder="0" src="about:blank" width="100%" height="500px"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Bağla</button>
            </div>
        </div>

    </div>
</div>



<div class="modal" id="divActionMessage" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Əməliyyat</h3>
            </div>
            <div class="modal-body">

                <iframe id="ifActionMessage" frameborder="0" src="about:blank" width="100%" height="50px"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Bağla</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <link href="~/cbar/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/cbar/bootstrap-theme.css" rel="stylesheet" />*@
    <link href="~/cbar/DataTables/css/fixedColumns.bootstrap.min.css" rel="stylesheet" />
    <link href="~/cbar/css/bootstrap-multiselect.css" rel="stylesheet" />
    <script src="~/cbar/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/cbar/Scripts/moment.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/dataTables.buttons.min.js"></script>
    <script src="~/cbar/Scripts/jszip.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/buttons.html5.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/buttons.bootstrap.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/buttons.print.min.js"></script>
    <script src="~/cbar/Scripts/DataTables/dataTables.fixedColumns.min.js"></script>
    <script src="~/cbar/Scripts/excelexportjs.js"></script>
    <script src="~/cbar/Scripts/bootstrap-multiselect.js"></script>

    <script>

        $('#bank_types').multiselect({
            includeSelectAllOption: true,
            buttonWidth: '100%',
            nonSelectedText: 'Seçilməyib',
            nSelectedText: ' - növ',
            includeSelectAllOption: false,
            inheritClass: true,
            onDropdownHide: function (event) {
                var bankTypeIds = $("#bank_types").val();
                if (!bankTypeIds)
                    bankTypeIds = [];
                url = window.location.href;
                var bankTypes = bankTypeIds.filter(function (x) { return x.id != '' }).map(function (x) { return 'bank_types=' + x; });

                var indx = url.indexOf('?') + 1;
                var newUrl = (indx == 0 ? url + '?' : url.substring(0, indx)) + bankTypes.join('&');
                window.location.href = newUrl;
            }
        });

        jQuery.redirect = function (url, params) {

            url = url || window.location.href || '';
            url = url.match(/\?/) ? url : url + '?';

            for (var key in params) {
                var re = RegExp(';?' + key + '=?[^&;]*', 'g');
                url = url.replace(re, '');
                url += '&' + key + '=' + params[key];
            }

            url = url.replace(/[;&]$/, '');
            url = url.replace(/\?[;&]/, '?');
            url = url.replace(/[;&]{2}/g, '&');

            window.location.replace(url);
        };

        $('#BankId').on('change',function () {
            $.redirect(location.href, { BankId: $(this).val() })
        });




        $(function () {

            $('#bank_types').multiselect("select", getCurrentBankIds('bank_types'));

            function getCurrentBankIds(paramName) {
                var url = window.location.href;
                var all = url.slice(url.indexOf('?') + 1).split('&');
                var prms = all.filter(p => String(p).startsWith(paramName + '='));
                if (!prms)
                    prms = [];
                return prms.map(x => String(x).replace(paramName + '=', ''));
            }

            function loadRecentFilesTable() {
                if (localStorage) {
                    var dataTablesScroll = $('.dataTables_scrollBody').scrollTop();
                    localStorage["BanksUploadRecentFiles_dataTablesScroll"] = dataTablesScroll;
                }

                var bankID = $('#BankId').val();
                if (bankID == null || bankID=="") {
                    bankID = -1;
                }

                $('#divRecentFiles').load('@Url.Action("RecentFilesTable", "StatReports")?bankId=' + bankID, function () {
                    makeDatatable();
                });
                setTimeout(loadRecentFilesTable, @(AppSettings.GetValue<string>("RecentFilesTableAutorefreshInterval") + "000"));
            }

            $(function () {
                loadRecentFilesTable();
            });

            function makeDatatable() {
                $.fn.dataTable.ext.errMode = 'none';
                var table = $('#taRecentFiles').DataTable(
                    {
                        "paging": false,
                        "ordering": false,
                        "info": false,
                        "initComplete": function (settings, json) {
                            if (localStorage) {
                                var dataTablesScroll = localStorage["CBARUploadRecentFiles_dataTablesScroll"];
                                if (dataTablesScroll) {
                                    $('.dataTables_scrollBody').scrollTop(dataTablesScroll);
                                    localStorage["CBARStatReports_dataTablesScroll"] = 0;
                                }
                            }
                        },
                        dom: 'lBfrtip',
                        buttons: [
                            {
                                extend: 'excelHtml5',
                                className: "btn-default",
                                text: 'Excel export',
                                orientation: 'landscape',
                                title: 'Yüklənmiş hesabatlar',
                                exportOptions: {
                                    columns: [1, 2, 3, 4, 5, 6]
                                }
                            },
                        ],
                        language: {
                            "sEmptyTable": "Cədvəldə heç bir məlumat yoxdur",
                            "sInfo": " _TOTAL_ Nəticədən _START_ - _END_ Arası Nəticələr",
                            "sInfoEmpty": "Nəticə Yoxdur",
                            "sInfoFiltered": "( _MAX_ Nəticə İçindən Tapılanlar)",
                            "sInfoPostFix": "",
                            "sInfoThousands": ",",
                            "sLengthMenu": "Səhifədə _MENU_ Nəticə Göstər",
                            "sLoadingRecords": "Yüklənir...",
                            "sProcessing": "Gözləyin...",
                            "sSearch": "Axtarış:",
                            "sZeroRecords": "Nəticə Tapılmadı.",
                            "oPaginate": {
                                "sFirst": "İlk",
                                "sLast": "Son",
                                "sNext": "»",
                                "sPrevious": "«"
                            },

                            "oAria": {
                                "sSortAscending": ": sütunu artma sırası üzərə aktiv etmək",
                                "sSortDescending": ": sütunu azalma sırası üzərə aktiv etmək"
                            }

                        }
                    });
            }

            function getIds(paramName) {
                url = window.location.href;
                var all = url.slice(url.indexOf('?') + 1).split('&');
                var prms = all.filter(function (p) {
                    return String(p).startsWith(paramName + '=');
                });


                if (!prms)
                    prms = [];

                return prms.map(function (x) { return String(x).replace(paramName + '=', '') });
            }

            $('#btUpload').click(function (e) {
                if ($('#btUpload').closest('form').valid()) {
                    if ($('#btUpload').data('submitted') === true) {
                        // Previously submitted - don't submit again
                        e.preventDefault();
                    } else {
                        // Mark it so that the next submit can be ignored
                        enableDatePicker('#periodstart');
                        enableDatePicker('#periodend');
                        $('#btUpload').data('submitted', true);
                    }
                }
            });

            $('#report_file_type_id')
                .on('change', function () {
                    bl();
                });

            function bl() {
                var id = $('#report_file_type_id').val();

                if (id) {
                    getPeriodType(id).done(function (x) {
                        enableDatePicker('#periodstart');
                        setDateBL(x.Code);
                    });
                } else {
                    disableDatePicker('#periodstart');
                }
            }

            $('#periodstart')
                .on('change', function () {
                    bl();
                });

            function setDateBL(periodTypeCode) {
                var datestr = $('#periodstart').val();

                if (!datestr)
                    return;

                var yyyy = parseInt(datestr.substring(6, 10),10);
                var mm = parseInt(datestr.substring(3, 5), 10);
                var dd = parseInt(datestr.substring(0, 2), 10);

                var current = new Date(yyyy, mm - 1, dd);
                var from = undefined;
                var to = undefined;

                switch (periodTypeCode.trim()) {
                    case 'HD':
                        from = new Date(yyyy, mm - 1, dd);
                        to = new Date(yyyy, mm - 1, dd);
                        break;
                    case 'D':
                        from = new Date(yyyy, mm - 1, dd);
                        to = new Date(yyyy, mm - 1, dd);
                        break;
                    case 'M':
                        from = new Date(yyyy, mm - 1, 1);
                        to = new Date(yyyy, mm, 0);
                        break;
                    case 'HM' :
                        from = dd < 16 ? new Date(yyyy, mm - 1, 1) : new Date(yyyy, mm - 1, 16);
                        to = dd < 16 ? new Date(yyyy, mm - 1, 15) : new Date(yyyy, mm, 0);
                        break;
                    case 'Q':
                        from = new Date(yyyy, mm - 1, 1);
                        to = new Date(yyyy, mm + 2, 0);
                        break;
                    case 'W':
                        from = new Date(yyyy, mm - 1, current.getDate() - (current.getDay() - 1));
                        to = new Date(yyyy, mm - 1, from.getDate() + 6);
                        break;
                    default:
                        break;
                }


                if (current.getDate() != from.getDate())
                $('#periodstart').datepicker("setDate", from);

                $('#periodend').datepicker("setDate", to);
            }

            function getPeriodType(id) {
                var url = "GetPeriodType/" + id;
                return $.get(url, { parameter: id });
            }

            function disableDatePicker(selector) {
                $(selector).attr("disabled", true);
            }

            function enableDatePicker(selector) {
                $(selector).attr("disabled", false);
            }

        });
    </script>


    <script>
        function addSpinner(control) {
            $(control).prepend('<span><i class="fa fa-spinner"></i>&nbsp;</span>');
        }

        function ShowReportErrors(reportId, checkId) {
            $('#ifOpNotes').attr('src', "about:blank");
            $('#divReportErrors').modal();

            setTimeout(function () {
                $('#divReportErrors .modal-title').text('Səhvlər (ID: ' + reportId + ')');
                $('#ifReportErrors').attr('src', "StatReports/ReportErrors?reportId=" + reportId || 0);
            }, 100);
            return false;
        }

            $('#report_file_type_id').on("select2:select", function (e) {
                var is_phqe = $('#report_file_type_id option:selected').attr('is-phqe');
                if (is_phqe == "1") {
                    $("#fileUploadDiv").removeClass("col-md-3").addClass("col-md-2");
                    $("#phqeTypes").show();
                }
                else {
                    $("#phqeTypes").hide();
                    $("#IsPhqe option:selected").removeAttr("selected");

                    $("#fileUploadDiv").removeClass("col-md-2").addClass("col-md-3");

                }
            });


            if ("@Model.ShowPhqe" == "True") {
                $("#phqeTypes").show();
                $("#fileUploadDiv").removeClass("col-md-3").addClass("col-md-2");
            }


                var is_phqe = $('#report_file_type_id option:selected').attr('is-phqe');
                if (is_phqe == "1") {
                    $("#phqeTypes").show();
                }
                else {
                    $("#phqeTypes").hide();
                    $("#IsPhqe option:selected").removeAttr("selected");
                }


        if (!String.prototype.startsWith) {
            Object.defineProperty(String.prototype, 'startsWith', {
                value: function (search, rawPos) {
                    var pos = rawPos > 0 ? rawPos | 0 : 0;
                    return this.substring(pos, pos + search.length) === search;
                }
            });
        }

        function ShowActionLogs(id) {
            $('#ifActionLogs').attr('src', "about:blank");
            $('#divActionLogs').modal();

            setTimeout(function () {
                $('#divActionLogs .modal-title').text('Əməliyyat tarixçəsi (ID: ' + id + ')');
                $('#ifActionLogs').attr('src', "ActionReportFileLogs/" + id);
            }, 100);


            return false;
        }

        function OperationReport(action,id,control) {
            if (localStorage) {
                var dataTablesScroll = $('.dataTables_scrollBody').scrollTop();
                localStorage["CBARStatReports_dataTablesScroll"] = dataTablesScroll;
            }
            var message = 'Əminsinizmi?';
            if (action == 'cancel') {
                message = 'ID ' + id + ' hesabatından imtina etmək istədiyinizə əminsinizmi?';
            }
            else if (action == 'confirm') {
                message = 'ID ' + id + ' hesabatını təsdiq etmək istədiyinizə əminsinizmi?';
            }
            else if (action == 'confirmascorrect') {
                message = 'ID ' + id + ' hesabatını düz kimi qəbul etmək istədiyinizə əminsinizmi?';
            }

            if (!confirm(message)) return;
            addSpinner(control);
            $('#ifActionMessage').attr('src', "about:blank");
            $('#divActionMessage').modal();

            setTimeout(function () {
                $('#divActionMessage .modal-title').text('Əməliyyat  (ID: ' + id + ')');
                $('#ifActionMessage').attr('src', "PerformActionReport?tbId=" + id + "&tbAction=" + action);
            }, 100);

            return false;

        }



        function OperationReport(action, id, control) {
            if (localStorage) {
                var dataTablesScroll = $('.dataTables_scrollBody').scrollTop();
                localStorage["CBARStatReports_dataTablesScroll"] = dataTablesScroll;
            }
            var message = 'Əminsinizmi?';
            if (action == 'cancel') {
                message = 'ID ' + id + ' hesabatından imtina etmək istədiyinizə əminsinizmi?';
            }
            else if (action == 'confirm') {
                message = 'ID ' + id + ' hesabatını təsdiq etmək istədiyinizə əminsinizmi?';
            }
            else if (action == 'confirmascorrect') {
                message = 'ID ' + id + ' hesabatını düz kimi qəbul etmək istədiyinizə əminsinizmi?';
            }

            if (!confirm(message)) return;
            addSpinner(control);
            $('#ifActionMessage').attr('src', "about:blank");
            $('#divActionMessage').modal();

            setTimeout(function () {
                $('#divActionMessage .modal-title').text('Əməliyyat  (ID: ' + id + ')');
                $('#ifActionMessage').attr('src', "PerformActionReport?tbId=" + id + "&tbAction=" + action);
            }, 100);

            return false;
        }
    </script>
}
